<div dir=3D"ltr"><br><br><div class=3D"gmail_quote"><div dir=3D"ltr">------=
---- Forwarded message ---------<br>From: Apple Store &lt;<a href=3D"mailto=
:shipping_notification@orders.apple.com">shipping_notification@orders.apple=
.com</a>&gt;<br>Date: Mon, Dec 19, 2016 at 1:17 AM<br>Subject: Shipment Not=
ification W476104953<br>To:  &lt;<a href=3D"mailto:hello@robchia.com">hello=
@robchia.com</a>&gt;<br></div><br><br><u class=3D"gmail_msg"></u>




=09
=09
=09
=09
=09=09
=09





























































=20













=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09     =09


<div marginwidth=3D"0" marginheight=3D"0" style=3D"margin:0px;min-width:100=
%;padding:0px" class=3D"gmail_msg">
=09<center class=3D"gmail_msg">
=09<table class=3D"m_-6899605775151322552overall-page-container gmail_msg" =
width=3D"100%" align=3D"center" cellpadding=3D"0" cellspacing=3D"0" border=
=3D"0" marginwidth=3D"0" marginheight=3D"0" background=3D"http://email.imag=
es.apple.com/dm/groups/aos/om/global/cmon/bg-noise.gif" bgcolor=3D"f2f2f2" =
style=3D"margin:0 auto"> =20
=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09<td align=3D"center" width=3D"100%" cellpadding=3D"0" cellspacing=
=3D"0" border=3D"0" class=3D"gmail_msg">

=09=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacing=3D"0" widt=
h=3D"100%" height=3D"100%" style=3D"margin:0;padding:0;width:100%!important=
;line-height:100%!important" class=3D"gmail_msg">    =09=09=09=09=09=09<tbo=
dy><tr class=3D"gmail_msg">
   =09=09=09=09=09=09=09<td width=3D"100%" align=3D"center" class=3D"m_-689=
9605775151322552background-noise gmail_msg" valign=3D"top" background=3D"ht=
tp://email.images.apple.com/dm/groups/aos/om/global/cmon/bg-noise.gif" bgco=
lor=3D"F2F2F2">

=09=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552ap-wrapper gm=
ail_msg" width=3D"706" border=3D"0" cellpadding=3D"0" cellspacing=3D"0">
=09=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09<td valign=3D"top" align=3D"left" class=3D"gm=
ail_msg">=20
=09=09=09=09=09=09=09=09=09=09=09<div style=3D"display:none;white-space:now=
rap;font:15px courier;line-height:0" class=3D"gmail_msg">=C2=A0 =C2=A0 =C2=
=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =20
=09=09=09=09=C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =
=C2=A0 =C2=A0 =20
=09=09=09=09=C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0</div>=
=09=09=09
=09=09=09=09=09
=09=09=09=09<table align=3D"center" class=3D"m_-6899605775151322552header-g=
eneral gmail_msg" width=3D"690">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody><tr class=3D"m_-6899605775151=
322552header-general gmail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"m_-68996057751513225=
52header-general gmail_msg" valign=3D"top" align=3D"left" height=3D"40" wid=
th=3D"155">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<img align=3D"left" class=3D"m=
_-6899605775151322552header-general gmail_msg" src=3D"http://email.images.a=
pple.com/rover/aos/global/hd/apple-store_2x.png" height=3D"49" width=3D"155=
" alt=3D"Apple store" style=3D"outline:none" border=3D"0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td align=3D"right" class=3D"m_-6=
899605775151322552header-general gmail_msg" width=3D"535" valign=3D"bottom"=
 style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lu=
cida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color:#666666!imp=
ortant;font-size:11px;line-height:15px;text-align:right;padding-bottom:10px=
">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Order Number: <a style=3D"colo=
r:#0085cf" class=3D"gmail_msg"><span style=3D"color:#0085cf" class=3D"gmail=
_msg"> =09</span></a><a href=3D"http://store.apple.com/vieworder/W476104953=
/hello@robchia.com/AOS-AM-105208-A20000056674" style=3D"color:#0085cf;font-=
weight:normal" class=3D"m_-6899605775151322552bluelink gmail_msg" target=3D=
"_blank">W476104953</a>
     =C2=A0|=C2=A0
               =09 =09=09=09=09=09=09=09=09=09=09=09Ordered on 03 Dec, 2016
=09=09=09=09=09</td>=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552h=
eader-mobile gmail_msg" cellpadding=3D"0" cellspacing=3D"0" border=3D"0" al=
ign=3D"left" width=3D"100%" style=3D"display:none">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody><tr class=3D"m_-6899605775151=
322552header-mobile gmail_msg" style=3D"line-height:0px;font-size:0px;heigh=
t:0px;margin:0;padding:0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"m_-68996057751513225=
52header-logo-mobile gmail_msg" valign=3D"top" align=3D"left" style=3D"line=
-height:0px;font-size:0px;height:0px;margin:0;padding:0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<img class=3D"m_-6899605775151=
322552header-logo-mobile gmail_msg" src=3D"http://email.images.apple.com/ro=
ver/aos/moe/apple_icon.png" alt=3D"" style=3D"outline:none;display:block" b=
order=3D"0" height=3D"0" width=3D"0"> =09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09</tbody></table>
=09=09=09=09=09=09
=09=09=09<table class=3D"m_-6899605775151322552ap-container gmail_msg" id=
=3D"m_-6899605775151322552table-main" bgcolor=3D"FFFFFF" cellspacing=3D"0" =
cellpadding=3D"0" border=3D"0" width=3D"100%" style=3D"padding:0px;border-r=
adius:7px;border-top:1px solid #e1e1e1;border-right:1px solid #cecece;borde=
r-left:1px solid #cecece;border-bottom:1px solid #b4b4b4">
=09=09
=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09<td class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09
=09=09<table cellspacing=3D"0" cellpadding=3D"0" border=3D"0" width=3D"100%=
" class=3D"gmail_msg">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09<td class=3D"m_-6899605775151322552lang-link gmail_msg" align=
=3D"left">
=09=09=09=09=09English | <a href=3D"#m_-6899605775151322552_frOrderNumber" =
style=3D"color:#0088cc" class=3D"gmail_msg">Francais</a>
=09=09=09=09</td>
=09=09=09</tr>
=09=09=09<tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09<td width=3D"100%" class=3D"m_-6899605775151322552greetings-sec=
tion gmail_msg" valign=3D"bottom" align=3D"center" style=3D"padding-left:20=
px;padding-right:20px">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<di=
v class=3D"m_-6899605775151322552heading-email gmail_msg" style=3D"font-fam=
ily:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&=
#39;,Arial,Helvetica,Verdana,sans-serif;color:#000000!important;line-height=
:1.4em;font-size:34px;font-weight:400;padding-top:25px;margin-top:0;margin-=
left:0;margin-right:0;margin-bottom:0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Your items have shipped.
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</div>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09   =09=09=09<div class=3D"m_-6899605775151322552sub-heading gmail_msg=
" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;L=
ucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;line-height:24px=
;font-size:19px;padding-top:5px;color:#666666;margin-top:0;margin-left:0;ma=
rgin-right:0;margin-bottom:0;font-weight:lighter">This email includes your =
shipment details and tracking information.</div>
   =09=09=09
=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09</tr>
=09=09</tbody></table>=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09                              =
      =20

=09=09=09=09=09=09=09   =20
=09=09=09    <table class=3D"m_-6899605775151322552divider-big gmail_msg" w=
idth=3D"100%" cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09=09=09=09=09<tbody><tr class=3D"m_-6899605775151322552divider-big gmail_=
msg">
=09=09=09=09=09=09<td class=3D"m_-6899605775151322552divider-big gmail_msg"=
 width=3D"100%">
=09=09=09=09=09=09=09<img class=3D"m_-6899605775151322552divider-big gmail_=
msg" src=3D"http://email.images.apple.com/dm/groups/aos/om/global/cmon/spac=
er.gif" alt=3D"" style=3D"display:block;outline:none" border=3D"0" height=
=3D"18" width=3D"1">
=09=09=09=09=09=09=09<img class=3D"m_-6899605775151322552divider-big gmail_=
msg" src=3D"http://email.images.apple.com/rover/aos/global/hd/hr_shaded_2x.=
gif" alt=3D"" style=3D"outline:none;display:block" border=3D"0" height=3D"7=
" width=3D"100%">
=09=09=09=09=09=09</td>
=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09<table cellspacing=3D"0" cellpadding=3D"0" border=3D"0" width=
=3D"100%" class=3D"gmail_msg">
=09=09=09=09=09<tbody class=3D"gmail_msg"><tr class=3D"gmail_msg">
=09=09=09=09=09=09<td valign=3D"top" height=3D"14" align=3D"left" style=3D"=
height:14px" class=3D"gmail_msg"><img src=3D"http://email.images.apple.com/=
dm/groups/aos/om/global/conciegre/spacer.gif" alt=3D"" style=3D"display:blo=
ck;outline:none" border=3D"0" height=3D"14" width=3D"1" class=3D"gmail_msg"=
></td>
=09=09=09=09=09</tr></tbody>
=09=09=09=09</table>
=09=09=09<table class=3D"m_-6899605775151322552divider-header-mobile gmail_=
msg" cellspacing=3D"0" cellpadding=3D"0" border=3D"0" width=3D"100%">
=09=09=09=09=09<tbody><tr class=3D"m_-6899605775151322552divider-header-mob=
ile gmail_msg" style=3D"line-height:0px;font-size:0px;height:0px;margin:0;p=
adding:0">
=09=09=09=09=09=09<td class=3D"m_-6899605775151322552divider-header-mobile =
gmail_msg" style=3D"line-height:0px;font-size:0px;height:0px;margin:0;paddi=
ng:0" valign=3D"top" align=3D"left">
=09=09=09=09=09=09=09<img class=3D"m_-6899605775151322552divider-header-mob=
ile gmail_msg" src=3D"http://email.images.apple.com/dm/groups/aos/om/global=
/cmon/spacer.gif" alt=3D"" style=3D"outline:none" border=3D"0" height=3D"0"=
 width=3D"0">
=09=09=09=09=09=09</td>
=09=09=09=09=09</tr>
=09=09=09=09=09<tr class=3D"m_-6899605775151322552divider-header-mobile-lin=
e gmail_msg" style=3D"line-height:0px;font-size:0px;height:0px;margin:0;pad=
ding:0">
=09=09=09=09=09=09<td class=3D"m_-6899605775151322552divider-header-mobile-=
line gmail_msg" valign=3D"top" align=3D"left" style=3D"line-height:0px;font=
-size:0px;height:0px;margin:0;padding:0">
=09=09=09=09=09=09=09<img class=3D"m_-6899605775151322552divider-header-mob=
ile-line gmail_msg" src=3D"http://email.images.apple.com/dm/groups/aos/om/g=
lobal/cmon/spacer.gif" alt=3D"" style=3D"display:block;outline:none" border=
=3D"0" height=3D"0" width=3D"0">
=09=09=09=09=09=09</td>
=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>=09=09=09
=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09

=09<table width=3D"100%" class=3D"m_-6899605775151322552ap-shipping-wrapper=
 gmail_msg" cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09<tbody><tr class=3D"gmail_msg">
=09=09<td valign=3D"top" align=3D"center" class=3D"gmail_msg">
=09=09=09<table class=3D"m_-6899605775151322552pad-bottom-H1 gmail_msg" cel=
lspacing=3D"0" height=3D"10" cellpadding=3D"0" border=3D"0" width=3D"100%">
=09=09  =09=09<tbody><tr class=3D"gmail_msg">
=09=09=09   =09=09<td class=3D"m_-6899605775151322552pad-bottom-H1 gmail_ms=
g" valign=3D"top" height=3D"10" align=3D"left" style=3D"font-size:10px;line=
-height:10px"><img class=3D"m_-6899605775151322552pad-bottom-H1 gmail_msg" =
src=3D"http://email.images.apple.com/dm/groups/aos/om/global/cmon/spacer.gi=
f" alt=3D"" style=3D"display:block;outline:none" border=3D"0" height=3D"10"=
 width=3D"1"></td>
=09=09=09=09</tr>
=09=09=09</tbody></table>
=09=09=09<table cellspacing=3D"0" height=3D"3" cellpadding=3D"0" border=3D"=
0" width=3D"100%" class=3D"m_-6899605775151322552ap-9pxspacer gmail_msg">
=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09<td valign=3D"top" height=3D"3" align=3D"left" style=3D"font=
-size:3px;line-height:0" class=3D"gmail_msg"><img src=3D"http://email.image=
s.apple.com/dm/groups/aos/om/global/cmon/spacer.gif" alt=3D"" style=3D"disp=
lay:block;outline:none" border=3D"0" height=3D"3" width=3D"1" class=3D"gmai=
l_msg"></td>
=09=09=09=09</tr>
=09=09=09</tbody></table>
=09=09=09
=09=09=09<table class=3D"m_-6899605775151322552section-product-header gmail=
_msg" bgcolor=3D"#E2E2E2" width=3D"94%" cellspacing=3D"0" cellpadding=3D"0"=
 border=3D"0" style=3D"border-radius:7px;border-top:1px solid #e1e1e1;borde=
r-right:1px solid #cecece;border-left:1px solid #cecece;border-bottom:0px;b=
order-bottom-right-radius:0px;border-bottom-left-radius:0px">
=09=09  =09=09<tbody><tr class=3D"gmail_msg">
=09=09  =09=09=09<td class=3D"m_-6899605775151322552section-product-header =
gmail_msg" style=3D"padding-top:20px;padding-left:20px;padding-bottom:15px;=
padding-right:20px">
=09=09  =09=09=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552he=
ader-shipped-title gmail_msg" cellspacing=3D"0" cellpadding=3D"0" border=3D=
"0" align=3D"left" style=3D"padding-right:5px">
=09=09=09=09=09  =09=09<tbody><tr class=3D"gmail_msg"><td class=3D"m_-68996=
05775151322552gen-heading gmail_msg" valign=3D"top" align=3D"left" style=3D=
"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans=
 Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color:#000000;font-size:15=
px;line-height:18px">
=09=09=09 =09=09=09=09=09<strong class=3D"gmail_msg">
=09=09=09 =09=09=09=09=09Shipped<span class=3D"m_-6899605775151322552moe-hi=
de gmail_msg">:</span>=09=09=09 =09=09=09=09=09</strong>
=09=09=09=09=09  =09=09</td></tr>
=09=09=09=09=09  =09</tbody></table>
=09=09=09=09=09  =09
=09=09=09=09=09=09=09=09=09=09=09=09 <table class=3D"m_-6899605775151322552=
header-shipped-date gmail_msg" cellspacing=3D"0" cellpadding=3D"0" border=
=3D"0" align=3D"left" style=3D"padding-right:5px">
=09=09=09=09=09=09  =09=09<tbody><tr class=3D"gmail_msg"><td class=3D"m_-68=
99605775151322552gen-txt gmail_msg" valign=3D"top" align=3D"left" style=3D"=
font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans =
Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color:#000000;font-size:15p=
x;line-height:18px">
=09=09=09=09 =09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09Delivers=20
29 Dec, 2016
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09</td></tr>
=09=09=09=09=09=09=09</tbody></table>=09
=09=09=09=09=09=09=09
=09=09=09=09=09=09=09
=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552header-shipped-d=
elivery gmail_msg" cellspacing=3D"0" cellpadding=3D"0" border=3D"0" align=
=3D"left" style=3D"padding-right:5px">
=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg"><td class=3D"m_-6899=
605775151322552gen-txt-gray gmail_msg" valign=3D"top" align=3D"left" style=
=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida S=
ans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color:#666666;font-size=
:15px;line-height:18px">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09via
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09 Standard Shipping=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09</td></tr>
=09=09=09=09=09=09=09</tbody></table>
=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09 <table class=3D"m_-6899605775151322552order-details-line=
2 gmail_msg" align=3D"left" cellspacing=3D"0" cellpadding=3D"0" border=3D"0=
" width=3D"100%" valign=3D"top" style=3D"display:none;font-size:0;line-heig=
ht:0;width:0;height:0;padding:0;margin:0">
=09<tbody><tr class=3D"gmail_msg">
=09=09<td class=3D"m_-6899605775151322552order-details-line2 gmail_msg" ali=
gn=3D"left" style=3D"display:none;font-size:0;line-height:0;width:0;height:=
0;padding:0;margin:0">
=09=09=09<a style=3D"color:#ffffff;font-weight:normal" class=3D"m_-68996057=
75151322552aapl-link gmail_msg">=09=09
=09=09=09=09=09=09=09<span class=3D"m_-6899605775151322552order-details-lin=
k2 gmail_msg" style=3D"color:#ffffff;text-decoration:none;display:none;outl=
ine:none">See Complete Order <span class=3D"m_-6899605775151322552noWrapPri=
ce gmail_msg">Details <img class=3D"m_-6899605775151322552order-details-arr=
ow gmail_msg" src=3D"http://email.images.apple.com/rover/aos/global/hd/smal=
l_arrow_blue_2x.gif" alt=3D"" style=3D"color:#ffffff;display:none;text-deco=
ration:none;outline:none;width:0;height:0;font-size:0px;line-height:0px" bo=
rder=3D"0" height=3D"0" width=3D"0"></span></span>
=09=09=09</a>
=09=09</td></tr>
</tbody></table>
=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09<table cellspacing=3D"0" height=3D"8" cell=
padding=3D"0" border=3D"0" width=3D"100%" class=3D"m_-6899605775151322552ap=
-8pxspacer gmail_msg">
=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg"><td height=3D"8" style=
=3D"line-height:0" class=3D"gmail_msg"><img src=3D"http://email.images.appl=
e.com/dm/groups/aos/om/global/conciegre/spacer.gif" alt=3D"" style=3D"displ=
ay:block;outline:none" border=3D"0" height=3D"8" width=3D"1" class=3D"gmail=
_msg"></td></tr>
=09=09=09=09=09=09</tbody></table>
                =09=09=09=09
                =09=09=09=09=09                =09=09                =09=09=
=09=09
=09=09 =09=09<table class=3D"m_-6899605775151322552btn-contain gmail_msg" a=
lign=3D"left" cellspacing=3D"0" cellpadding=3D"0" border=3D"0" style=3D"pad=
ding-right:5px">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09<td class=3D"m_-6899605775151322552btn-contain gmail_msg" align=3D=
"center">
=09=09=09=09<table class=3D"m_-6899605775151322552blue-button gmail_msg" al=
ign=3D"center" style=3D"background-color:#127fd2;background-position:top le=
ft;background-repeat:repeat-x;border-top:1px solid #1992da;border-right:1px=
 solid #0d76bc;border-left:1px solid #0d76bc;border-bottom:1px solid #00599=
d;border-radius:6px" cellpadding=3D"2" cellspacing=3D"0" border=3D"0">
=09=09=09=09=09<tbody><tr class=3D"gmail_msg">=09=09=09=09=09=09=09
=09=09=09=09=09=09<td class=3D"m_-6899605775151322552btn-txt-contain gmail_=
msg" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#3=
9;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color:#ffffff=
;font-size:12px;padding-left:0;padding-right:0" align=3D"center" valign=3D"=
middle">
=09=09=09=09=09    =09<a class=3D"m_-6899605775151322552blue-button-text gm=
ail_msg" href=3D"http://store.apple.com/vieworder/W476104953/hello@robchia.=
com/AOS-AM-105208-A20000056674" style=3D"display:block;text-decoration:none=
;color:#ffffff!important" target=3D"_blank">=C2=A0<span class=3D"m_-6899605=
775151322552blue-button-text gmail_msg" style=3D"color:#ffffff;line-height:=
22px">
=09=09=09=09=09    =09=09Track Shipment</span>=C2=A0</a>
=09    =09=09=09=09</td>
=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09</td></tr>
=09=09=09</tbody></table>
=09=09                =09=09=09=09=09                =09=09=09=09=09=09<tab=
le class=3D"m_-6899605775151322552header-signature gmail_msg" cellspacing=
=3D"0" cellpadding=3D"0" border=3D"0" align=3D"left" style=3D"padding-left:=
10px;padding-top:5px">
=09=09<tbody><tr class=3D"gmail_msg"><td class=3D"m_-6899605775151322552gen=
-txt-gray gmail_msg" valign=3D"top" align=3D"left" style=3D"font-family:&#3=
9;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Ar=
ial,Helvetica,Verdana,sans-serif;color:#666666;font-size:12px;line-height:1=
8px">=09=09
=09=09=09Signature required=09=09</td></tr>
=09</tbody></table>
=09                =09=09=09=09=09=09=09=09=09=09=09=09=09                =
=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09=09=09=09=09
=09=09=09=09<table class=3D"m_-6899605775151322552section-product-content g=
mail_msg" cellspacing=3D"0" cellpadding=3D"14" border=3D"0" width=3D"94%" s=
tyle=3D"margin-bottom:15px;border-radius:7px;border-top:0px;border-right:1p=
x solid #cecece;border-left:1px solid #cecece;border-bottom:1px solid #b4b4=
b4;border-top-right-radius:0px;border-top-left-radius:0px">=20
=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09<td valign=3D"top" align=3D"left" style=3D"color:#000000" cl=
ass=3D"gmail_msg">
=09=09=09=09=09   <table class=3D"m_-6899605775151322552app-order-row gmail=
_msg" width=3D"100%" cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09<td class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552img-out=
side-container gmail_msg" width=3D"110" align=3D"left" cellspacing=3D"0" ce=
llpadding=3D"0" border=3D"0" style=3D"padding-top:5px;padding-bottom:10px">
=09=09=09=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg"><td class=
=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09<div style=3D"margin-top:0" class=3D"gm=
ail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09=09=20


=20
=09
=09
=09

=09=09=09=09=09=09=09=09=09=09=09=09=09 =09=09=09=09=09=09=09=09=09    =09=
=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09<img class=3D"m_-6899605775151322552deskto=
p-product-image gmail_msg" src=3D"http://store.storeimages.cdn-apple.com/49=
74/as-images.apple.com/is/image/AppleInc/aos/published/images/M/BP/MBP15G/M=
BP15G?wid=3D220&amp;hei=3D156&amp;fmt=3Djpeg&amp;qlt=3D95&amp;op_sharpen=3D=
0&amp;resMode=3Dbicub&amp;op_usm=3D0.5,0.5,0,0&amp;iccEmbed=3D0&amp;layer=
=3Dcomp&amp;.v=3D1476309530284" height=3D"78" width=3D"110" alt=3D"Product =
Image" style=3D"outline:none;display:block">
=09=09=09=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552moe-img=
-container gmail_msg" align=3D"center" width=3D"0" height=3D"0" style=3D"di=
splay:none;font-size:0;line-height:0;width:0;height:0;padding:0;margin:0">
=09=09=09=09=09<tbody><tr class=3D"gmail_msg"><td class=3D"m_-6899605775151=
322552moe-img-container gmail_msg" align=3D"center" style=3D"display:none;f=
ont-size:0;line-height:0;width:0;height:0;padding:0;margin:0">
=09=09=09=09=09=09<img class=3D"m_-6899605775151322552mobile-product-image =
gmail_msg" src=3D"http://store.storeimages.cdn-apple.com/4974/as-images.app=
le.com/is/image/AppleInc/aos/published/images/M/BP/MBP15G/MBP15G?wid=3D640&=
amp;hei=3D350&amp;fmt=3Djpeg&amp;qlt=3D95&amp;op_sharpen=3D0&amp;resMode=3D=
bicub&amp;op_usm=3D0.5,0.5,0,0&amp;iccEmbed=3D0&amp;layer=3Dcomp&amp;.v=3D1=
476309530284" height=3D"0" width=3D"0" alt=3D"" style=3D"outline:none;displ=
ay:none;overflow:hidden;border:0;width:0;height:0">
=09=09=09=09=09</td></tr>
=09=09=09=09</tbody></table>
=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</div>
=09=09=09=09=09=09=09=09=09=09=09</td></tr>
=09=09=09=09=09=09=09=09=09=09</tbody></table>=09=09=09=09=09=09=09=09=09=
=09
=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552product=
-info-table gmail_msg" width=3D"500" align=3D"left" style=3D"padding-left:8=
px;padding-bottom:5px;margin-top:0px" cellpadding=3D"0" border=3D"0" cellsp=
acing=3D"0">
=09=09=09=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552name=
-container gmail_msg" width=3D"390">
=09=09=09=09=09=09=09=09=09=09=09=09=09<table align=3D"left" class=3D"m_-68=
99605775151322552product-name gmail_msg" width=3D"390" style=3D"margin-top:=
0px;padding-bottom:13px" cellpadding=3D"0" cellspacing=3D"0" border=3D"0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"m_-68996057751513=
22552product-name gmail_msg" align=3D"left" valign=3D"top" style=3D"font-fa=
mily:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode=
&#39;,Arial,Helvetica,Verdana,sans-serif;color:#000000!important;font-size:=
12px;line-height:20px;font-weight:bold">=09=09=09
=09=09=09=09=09=09          =09=09=09=09=09=09=09 <div style=3D"margin-top:=
0" class=3D"gmail_msg">
=09=09=09=09=09=09           =09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=0915-inch MacBook=C2=A0Pro=C2=A0- Space Grey
=09=09=09        =09=09=09
=09=09=09=09=09=09=09=09           =09=09=09=09=09</div>=09=09=09=09=09=09=
=09           =09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09            </td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody></table>=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>=09=
=09=09=09=09=09=09=09=09
=09         =09=09=09=09=09=09=09=09<tr class=3D"m_-6899605775151322552moe-=
no-pad gmail_msg" style=3D"padding-left:10px">
=09=09=09=09=09=09=09=09=09=09<td class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<table class=3D"m_-68996=
05775151322552cto-product-row gmail_msg" width=3D"300" border=3D"0" cellspa=
cing=3D"0" cellpadding=3D"0" style=3D"padding-bottom:15px">
=09<tbody><tr class=3D"gmail_msg">
=09<td align=3D"left" class=3D"m_-6899605775151322552gen-txt gmail_msg" val=
ign=3D"top" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#=
39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color:=
#010101;font-size:12px;line-height:1em;font-weight:bold">
=09=09<div class=3D"m_-6899605775151322552desktop-only gmail_msg" style=3D"=
padding-bottom:10px;color:#010101;font-size:11px;line-height:1em;font-weigh=
t:bold">
=09=09=09Configuration=09=09</div>=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09
=09=09=09<table class=3D"m_-6899605775151322552product-description-cto gmai=
l_msg" width=3D"96%" border=3D"0" cellspacing=3D"0" cellpadding=3D"0" align=
=3D"right">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09 =09=09=09 =09=09=09 =09=09=09 =09=09=09=09=09=09=09=
=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td width=3D"8" valign=3D"top" al=
ign=3D"left" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&=
#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color=
:#666666;font-size:11px;line-height:1.5em" class=3D"gmail_msg">=E2=80=A2=C2=
=A0=C2=A0</td>
=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552product-descript=
ion-cto gmail_msg" width=3D"255" valign=3D"top" style=3D"font-family:&#39;L=
ucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial=
,Helvetica,Verdana,sans-serif;color:#666666;font-size:11px;line-height:1.5e=
m;font-weight:normal">=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=092.9GHz quad-core Intel Core i7 processor, Turbo =
Boost up to 3.8GHz
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09 =09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09=09=09<table class=3D"m_-6899605775151322552product-description-ct=
o gmail_msg" width=3D"96%" border=3D"0" cellspacing=3D"0" cellpadding=3D"0"=
 align=3D"right">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09 =09=09=09 =09=09=09 =09=09=09 =09=09=09=09=09=09=09=
=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td width=3D"8" valign=3D"top" al=
ign=3D"left" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&=
#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color=
:#666666;font-size:11px;line-height:1.5em" class=3D"gmail_msg">=E2=80=A2=C2=
=A0=C2=A0</td>
=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552product-descript=
ion-cto gmail_msg" width=3D"255" valign=3D"top" style=3D"font-family:&#39;L=
ucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial=
,Helvetica,Verdana,sans-serif;color:#666666;font-size:11px;line-height:1.5e=
m;font-weight:normal">=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=0916GB 2133MHz memory
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09 =09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09=09=09<table class=3D"m_-6899605775151322552product-description-ct=
o gmail_msg" width=3D"96%" border=3D"0" cellspacing=3D"0" cellpadding=3D"0"=
 align=3D"right">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09 =09=09=09 =09=09=09 =09=09=09 =09=09=09=09=09=09=09=
=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td width=3D"8" valign=3D"top" al=
ign=3D"left" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&=
#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color=
:#666666;font-size:11px;line-height:1.5em" class=3D"gmail_msg">=E2=80=A2=C2=
=A0=C2=A0</td>
=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552product-descript=
ion-cto gmail_msg" width=3D"255" valign=3D"top" style=3D"font-family:&#39;L=
ucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial=
,Helvetica,Verdana,sans-serif;color:#666666;font-size:11px;line-height:1.5e=
m;font-weight:normal">=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09Radeon Pro 460 with 4GB memory
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09 =09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09=09=09<table class=3D"m_-6899605775151322552product-description-ct=
o gmail_msg" width=3D"96%" border=3D"0" cellspacing=3D"0" cellpadding=3D"0"=
 align=3D"right">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09 =09=09=09 =09=09=09 =09=09=09 =09=09=09=09=09=09=09=
=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td width=3D"8" valign=3D"top" al=
ign=3D"left" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&=
#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color=
:#666666;font-size:11px;line-height:1.5em" class=3D"gmail_msg">=E2=80=A2=C2=
=A0=C2=A0</td>
=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552product-descript=
ion-cto gmail_msg" width=3D"255" valign=3D"top" style=3D"font-family:&#39;L=
ucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial=
,Helvetica,Verdana,sans-serif;color:#666666;font-size:11px;line-height:1.5e=
m;font-weight:normal">=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=091TB PCIe-based SSD
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09 =09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09=09=09<table class=3D"m_-6899605775151322552product-description-ct=
o gmail_msg" width=3D"96%" border=3D"0" cellspacing=3D"0" cellpadding=3D"0"=
 align=3D"right">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09 =09=09=09 =09=09=09 =09=09=09 =09=09=09=09=09=09=09=
=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td width=3D"8" valign=3D"top" al=
ign=3D"left" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&=
#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color=
:#666666;font-size:11px;line-height:1.5em" class=3D"gmail_msg">=E2=80=A2=C2=
=A0=C2=A0</td>
=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552product-descript=
ion-cto gmail_msg" width=3D"255" valign=3D"top" style=3D"font-family:&#39;L=
ucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial=
,Helvetica,Verdana,sans-serif;color:#666666;font-size:11px;line-height:1.5e=
m;font-weight:normal">=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09Four Thunderbolt 3 ports
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09 =09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09=09=09<table class=3D"m_-6899605775151322552product-description-ct=
o gmail_msg" width=3D"96%" border=3D"0" cellspacing=3D"0" cellpadding=3D"0"=
 align=3D"right">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09 =09=09=09 =09=09=09 =09=09=09 =09=09=09=09=09=09=09=
=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td width=3D"8" valign=3D"top" al=
ign=3D"left" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&=
#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color=
:#666666;font-size:11px;line-height:1.5em" class=3D"gmail_msg">=E2=80=A2=C2=
=A0=C2=A0</td>
=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552product-descript=
ion-cto gmail_msg" width=3D"255" valign=3D"top" style=3D"font-family:&#39;L=
ucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial=
,Helvetica,Verdana,sans-serif;color:#666666;font-size:11px;line-height:1.5e=
m;font-weight:normal">=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09Touch Bar and Touch ID
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09 =09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09=09=09<table class=3D"m_-6899605775151322552product-description-ct=
o gmail_msg" width=3D"96%" border=3D"0" cellspacing=3D"0" cellpadding=3D"0"=
 align=3D"right">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09 =09=09=09 =09=09=09 =09=09=09 =09=09=09=09=09=09=09=
=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td width=3D"8" valign=3D"top" al=
ign=3D"left" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&=
#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color=
:#666666;font-size:11px;line-height:1.5em" class=3D"gmail_msg">=E2=80=A2=C2=
=A0=C2=A0</td>
=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552product-descript=
ion-cto gmail_msg" width=3D"255" valign=3D"top" style=3D"font-family:&#39;L=
ucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial=
,Helvetica,Verdana,sans-serif;color:#666666;font-size:11px;line-height:1.5e=
m;font-weight:normal">=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09Force Touch trackpad
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09 =09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09=09=09<table class=3D"m_-6899605775151322552product-description-ct=
o gmail_msg" width=3D"96%" border=3D"0" cellspacing=3D"0" cellpadding=3D"0"=
 align=3D"right">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09 =09=09=09 =09=09=09 =09=09=09 =09=09=09=09=09=09=09=
=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09=09=09<table class=3D"m_-6899605775151322552product-description-ct=
o gmail_msg" width=3D"96%" border=3D"0" cellspacing=3D"0" cellpadding=3D"0"=
 align=3D"right">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09 =09=09=09 =09=09=09 =09=09=09 =09=09=09=09=09=09=09=
=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09=09=09<table class=3D"m_-6899605775151322552product-description-ct=
o gmail_msg" width=3D"96%" border=3D"0" cellspacing=3D"0" cellpadding=3D"0"=
 align=3D"right">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09 =09=09=09 =09=09=09 =09=09=09 =09=09=09=09=09=09=09=
=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td width=3D"8" valign=3D"top" al=
ign=3D"left" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&=
#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color=
:#666666;font-size:11px;line-height:1.5em" class=3D"gmail_msg">=E2=80=A2=C2=
=A0=C2=A0</td>
=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552product-descript=
ion-cto gmail_msg" width=3D"255" valign=3D"top" style=3D"font-family:&#39;L=
ucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial=
,Helvetica,Verdana,sans-serif;color:#666666;font-size:11px;line-height:1.5e=
m;font-weight:normal">=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09Backlit Keyboard (English) &amp; User=E2=80=99s =
Guide
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09 =09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09=09=09<table class=3D"m_-6899605775151322552product-description-ct=
o gmail_msg" width=3D"96%" border=3D"0" cellspacing=3D"0" cellpadding=3D"0"=
 align=3D"right">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09 =09=09=09 =09=09=09 =09=09=09 =09=09=09=09=09=09=09=
=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td width=3D"8" valign=3D"top" al=
ign=3D"left" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&=
#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color=
:#666666;font-size:11px;line-height:1.5em" class=3D"gmail_msg">=E2=80=A2=C2=
=A0=C2=A0</td>
=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552product-descript=
ion-cto gmail_msg" width=3D"255" valign=3D"top" style=3D"font-family:&#39;L=
ucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial=
,Helvetica,Verdana,sans-serif;color:#666666;font-size:11px;line-height:1.5e=
m;font-weight:normal">=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09Accessory Kit
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09 =09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09 =09=09</td>
=09 </tr>
 </tbody></table>
=20
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09</tbody></table>=09=09=09=09=09=09=09=09=09=
=09=09=09=09
=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09</tr>=09
=09=09
=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09</tbody></table>=09=09=09=09
=09=09=09=09=09=09</td>
=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>=09
=09=09=09=09</td>
=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>=09
=09=09=09=09
=09=09<table align=3D"center" width=3D"94%" class=3D"m_-6899605775151322552=
divider-moe-only gmail_msg" cellspacing=3D"0" cellpadding=3D"0" border=3D"0=
" height=3D"1">
=09=09=09<tbody><tr class=3D"gmail_msg"><td class=3D"m_-6899605775151322552=
divider-moe-only gmail_msg" valign=3D"top" style=3D"display:block;height:1p=
x;font-size:1px;line-height:1px" height=3D"1" align=3D"center">
=09=09=09=09<img class=3D"m_-6899605775151322552divider-moe-only gmail_msg"=
 src=3D"http://email.images.apple.com/dm/groups/aos/om/global/cmon/spacer.g=
if" alt=3D"" style=3D"display:inline;outline:none" border=3D"0" height=3D"1=
" width=3D"1"></td>
=09=09=09</tr>
=09=09</tbody></table>

=09=09=09=09=09=09=09<table align=3D"center" class=3D"m_-689960577515132255=
2stretch-width gmail_msg" width=3D"100%" cellpadding=3D"0" border=3D"0" cel=
lspacing=3D"0">
=09=09=09=09
=09=09<tbody><tr width=3D"100%" class=3D"gmail_msg">
=09=09=09<td class=3D"m_-6899605775151322552table-left-pad gmail_msg" width=
=3D"30"><img class=3D"m_-6899605775151322552table-left-pad gmail_msg" src=
=3D"http://email.images.apple.com/dm/groups/aos/om/global/cmon/spacer.gif" =
alt=3D"" style=3D"display:block;outline:none;width:30px" border=3D"0" heigh=
t=3D"5" width=3D"30"></td>
=09=09=09<td style=3D"padding-bottom:10px" class=3D"gmail_msg">
=09=09=09=09<table class=3D"m_-6899605775151322552table-half gmail_msg" ali=
gn=3D"left" width=3D"345" style=3D"border-collapse:collapse" cellpadding=3D=
"0" border=3D"0" cellspacing=3D"0">
=09=09=09=09=09<tbody><tr width=3D"100%" class=3D"gmail_msg">
=09=09=09=09=09=09<td style=3D"padding-bottom:5px" width=3D"100%" class=3D"=
gmail_msg">
=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552sec-side-heading=
 gmail_msg" width=3D"130" align=3D"left" style=3D"border-collapse:collapse"=
 cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552sec-side-heading=
 gmail_msg" align=3D"left" valign=3D"top" style=3D"font-family:&#39;Lucida =
Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helve=
tica,Verdana,sans-serif;font-size:12px;line-height:20px;padding-bottom:5px;=
padding-right:5px;color:#111111;font-weight:bold">
=09=09=09=09=09=09=09=09=09Shipping Address<span class=3D"m_-68996057751513=
22552moe-hide gmail_msg">:</span>=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody></table>
=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552sec-side-details=
 gmail_msg" align=3D"left" width=3D"160" style=3D"border-collapse:collapse"=
 cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552sec-side-details=
 gmail_msg" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#=
39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;font-s=
ize:12px;line-height:20px;padding-bottom:5px;color:#111111">=09=09=09=09=09
=09=09=09=09=09=09=09=09=09<div class=3D"m_-6899605775151322552gen-txt gmai=
l_msg" style=3D"line-height:18px">Rob Chia</div>
<div class=3D"m_-6899605775151322552gen-txt gmail_msg" style=3D"line-height=
:18px">=E2=80=A2=E2=80=A2=E2=80=A2=E2=80=A2=E2=80=A2=E2=80=A2=E2=80=A2=E2=
=80=A256</div>
<br class=3D"gmail_msg">
<div class=3D"m_-6899605775151322552gen-txt gmail_msg" style=3D"line-height=
:18px">327-560 Front St W</div>
<div class=3D"m_-6899605775151322552gen-txt gmail_msg" style=3D"line-height=
:18px">Toronto ON M5V 1C1</div>
<div class=3D"m_-6899605775151322552gen-txt gmail_msg" style=3D"line-height=
:18px">Canada</div>
</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody></table>
=09=09=09=09=09=09</td>
=09=09=09=09=09</tr>
=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09<tr width=3D"100%" class=3D"gmail_msg">
=09=09=09=09=09=09<td style=3D"padding-bottom:5px" width=3D"100%" class=3D"=
gmail_msg">
=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552sec-side-heading=
 gmail_msg" width=3D"130" style=3D"border-collapse:collapse" align=3D"left"=
 cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552sec-side-heading gm=
ail_msg" align=3D"left" valign=3D"top" style=3D"font-family:&#39;Lucida Gra=
nde&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetic=
a,Verdana,sans-serif;font-size:12px;line-height:20px;padding-bottom:5px;pad=
ding-right:5px;color:#111111;font-weight:bold">
=09=09=09=09=09=09=09=09Shipment Notification<span class=3D"m_-689960577515=
1322552moe-hide gmail_msg">:</span>=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09</tr>
=09=09=09=09=09</tbody></table>
=09=09=09=09=09<table class=3D"m_-6899605775151322552sec-side-details gmail=
_msg" align=3D"left" width=3D"160" style=3D"border-collapse:collapse;word-w=
rap:break-word" cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552sec-side-details gm=
ail_msg" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;=
,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;font-size=
:12px;line-height:20px;padding-bottom:5px;color:#0085cf!important;word-wrap=
:break-word">=09=09=09=09=09
=09=09=09=09=09=09=09=09<div class=3D"m_-6899605775151322552gen-txt gmail_m=
sg"><a class=3D"m_-6899605775151322552bluelink gmail_msg" style=3D"color:#0=
085cf!important"><span class=3D"m_-6899605775151322552moe-break-me gmail_ms=
g">hello@robchia.com</span></a></div>
=09=09=09=09=09=09=09=09<div class=3D"m_-6899605775151322552gen-txt gmail_m=
sg"></div>=09=09=09=09
=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09</tr>
=09=09=09=09=09</tbody></table>=09
=09=09=09=09=09
=09=09=09=09=09=09</td>
=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552table-half gm=
ail_msg" align=3D"left" width=3D"auto" style=3D"border-collapse:collapse;ma=
rgin-right:20px" cellpadding=3D"0" border=3D"0" cellspacing=3D"0">
=09=09=09=09=09<tbody><tr width=3D"100%" class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09<td width=3D"100%" class=3D"gmail_msg">
=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552sec-side-heading=
 gmail_msg" width=3D"90px" style=3D"border-collapse:collapse" align=3D"left=
" cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552sec-side-head=
ing gmail_msg" align=3D"left" valign=3D"top" style=3D"font-family:&#39;Luci=
da Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial,He=
lvetica,Verdana,sans-serif;font-size:12px;line-height:20px;padding-bottom:5=
px;padding-right:5px;color:#111111;font-weight:bold">
=09=09=09=09=09=09=09=09=09=09Carrier Name<span class=3D"m_-689960577515132=
2552moe-hide gmail_msg">:</span>
=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody></table>
                    =09=09<table class=3D"m_-6899605775151322552sec-side-de=
tails gmail_msg" align=3D"left" width=3D"190px" style=3D"border-collapse:co=
llapse" cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552sec-side-deta=
ils gmail_msg" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida San=
s&#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;fon=
t-size:12px;line-height:20px;padding-bottom:5px;color:#111111">=09=09=09=09=
=09
=09=09=09=09=09=09=09=09=09=09                        =09=09=09=09=09UPS (F=
OR CANADA ONLY)
                        =09=09=09=09                        =09=09=09</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody></table>
=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09<tr width=3D"100%" class=3D"gmail_msg">
=09=09=09=09=09=09<td style=3D"padding-bottom:10px" width=3D"100%" class=3D=
"gmail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=
=09=09=09=09=09=09
=09=09=09=09=09=09
=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552sec-side-heading=
 gmail_msg" width=3D"90px" style=3D"border-collapse:collapse" align=3D"left=
" cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552sec-side-head=
ing gmail_msg" align=3D"left" valign=3D"top" style=3D"font-family:&#39;Luci=
da Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial,He=
lvetica,Verdana,sans-serif;font-size:12px;line-height:20px;padding-bottom:5=
px;padding-right:5px;color:#111111;font-weight:bold">
=09=09=09=09=09=09=09=09=09=09Tracking Number<span class=3D"m_-689960577515=
1322552moe-hide gmail_msg">:</span></td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody></table>
=09=09=09=09=09=09
=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552sec-side-details=
 gmail_msg" align=3D"left" width=3D"190px" style=3D"border-collapse:collaps=
e;word-wrap:break-word" cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552sec-side-deta=
ils gmail_msg" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida San=
s&#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;fon=
t-size:12px;line-height:20px;padding-bottom:5px;color:#111111;word-wrap:bre=
ak-word">=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<a href=3D"http://store.=
apple.com/vieworder/W476104953/hello@robchia.com/AOS-AM-105208-A20000056674=
" class=3D"m_-6899605775151322552bluelink gmail_msg" style=3D"color:#0085cf=
!important" target=3D"_blank">1ZV5Y8336796189465</a>
=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody></table>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09=09=09=09=09</td>
=09=09</tr>
=09=09=09=09=09</tbody></table>
=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09<table width=3D"100%" class=3D"m_-68996=
05775151322552ap-19pxspacer gmail_msg" cellspacing=3D"0" height=3D"19" cell=
padding=3D"0" border=3D"0" style=3D"height:19px;line-height:10px;font-size:=
10px">
=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09<td valign=3D"top" height=3D"19" align=3D"left" style=3D"=
height:19px;line-height:10px;font-size:10px" class=3D"gmail_msg"><img src=
=3D"http://email.images.apple.com/dm/groups/aos/om/global/cmon/spacer.gif" =
alt=3D"" style=3D"display:block;outline:none;height:19px;line-height:10px;f=
ont-size:10px" border=3D"0" height=3D"19" width=3D"1" class=3D"gmail_msg"><=
/td>
=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09
=09=09</td>=09=09=09        =20
=09</tr>=09=09=09=09=09=09
</tbody></table>

=09=09=09=09=09<table class=3D"m_-6899605775151322552order-mobile-only gmai=
l_msg" width=3D"100%" cellspacing=3D"0" cellpadding=3D"0" border=3D"0" alig=
n=3D"center" style=3D"display:none;width:0;height:0">
=09=09=09=09=09=09=09<tbody><tr class=3D"m_-6899605775151322552order-mobile=
-only gmail_msg">
=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09<td class=3D"m_-6899605775151322552order-mobile-onl=
y gmail_msg" align=3D"left" valign=3D"top" style=3D"font-family:&#39;Helvet=
ica Neue&#39;,Helvetica,Arial,Verdana,sans-serif;line-height:0px;font-size:=
0px;height:0px;margin:0;padding:0">=09
=09=09=09=09=09=09=09=09<div class=3D"m_-6899605775151322552ShipmentHeading=
-mobile gmail_msg" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida=
 Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif=
;line-height:0px;font-size:0px;height:0px;margin:0;padding:0">
=09=09     =09=09=09=09=09Order Number
=09=09     =09=09=09=09=09</div>
=09=09=09=09 =09=09=09=09<div class=3D"m_-6899605775151322552order-mobile-l=
ink gmail_msg" style=3D"font-family:&#39;Helvetica Neue&#39;,Helvetica,Aria=
l,Verdana,sans-serif;line-height:0px;font-size:0px;height:0px;margin:0;padd=
ing:0">
=09=09=09=09 =09=09=09=09<span class=3D"m_-6899605775151322552bluelink gmai=
l_msg" color=3D"#0085cf" style=3D"color:#0085cf">
=09=09=09=09 =09=09=09=09=09<a href=3D"http://store.apple.com/vieworder/W47=
6104953/hello@robchia.com/AOS-AM-105208-A20000056674" style=3D"color:#0085c=
f;font-weight:normal" class=3D"m_-6899605775151322552bluelink gmail_msg" ta=
rget=3D"_blank">W476104953</a>
    </span></div>
=09=09=09=09 =09=09=09=09<div class=3D"m_-6899605775151322552order-mobile-t=
ext gmail_msg" style=3D"font-family:&#39;Helvetica Neue&#39;,Helvetica,Aria=
l,Verdana,sans-serif;line-height:0px;font-size:0px;height:0px;margin:0;padd=
ing:0">
=09=09=09=09 =09=09=09=0903 Dec, 2016</div>
=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09</tr>=09
=09=09=09=09=09</tbody></table>
=09
=09=09=09=09=09<table width=3D"100%" class=3D"m_-6899605775151322552ap-10px=
spacer gmail_msg" cellspacing=3D"0" height=3D"10" cellpadding=3D"0" border=
=3D"0" style=3D"height:8px;line-height:8px;font-size:8px">
=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09<td valign=3D"top" height=3D"10" align=3D"left" style=
=3D"height:8px;line-height:8px;font-size:8px" class=3D"gmail_msg"><img src=
=3D"http://email.images.apple.com/dm/groups/aos/om/global/cmon/spacer.gif" =
alt=3D"" style=3D"display:block;outline:none;height:8px;line-height:8px;fon=
t-size:8px" border=3D"0" height=3D"10" width=3D"1" class=3D"gmail_msg"></td=
>
=09=09=09=09=09=09</tr>
=09=09=09=09=09</tbody></table>
=09
=09
=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09 =09=09=09=09=09<table align=3D"center" width=3D"100%" cellp=
adding=3D"0" cellspacing=3D"0" border=3D"0" class=3D"gmail_msg">
=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09<td align=3D"center" width=3D"100%" class=3D"gma=
il_msg">=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09
<table id=3D"m_-6899605775151322552freeshippingtable" cellspacing=3D"0" bgc=
olor=3D"ffffff" cellpadding=3D"22" border=3D"0" width=3D"100%" style=3D"bor=
der-radius:7px;border-top:1px solid #e1e1e1;border-right:1px solid #cecece;=
border-left:1px solid #cecece;border-bottom:1px solid #b4b4b4" class=3D"m_-=
6899605775151322552ap-container gmail_msg">
=09<tbody><tr class=3D"gmail_msg">
=09=09<td style=3D"padding:20px" class=3D"gmail_msg">
=09=09=09=09=09
=09=09=09<table width=3D"100%" border=3D"0" cellspacing=3D"0" cellpadding=
=3D"0" align=3D"center" class=3D"gmail_msg">
=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09<td align=3D"center" valign=3D"top" style=3D"font-size:12px;=
line-height:18px" class=3D"gmail_msg">
=09=09=09=09=09=09<div class=3D"m_-6899605775151322552gen-txt gmail_msg" va=
lign=3D"top">=09=09=09=09=09=09
=09=09=09=09=09=09=09<img src=3D"http://email.images.apple.com/rover/aos/gl=
obal/icon-shipping.jpeg" alt=3D"" style=3D"vertical-align:middle" border=3D=
"0" height=3D"21" width=3D"19" class=3D"gmail_msg">
=09=09           =09=09=09<strong class=3D"gmail_msg">Free shipping on ever=
ything. Free returns</strong>
    =09=09        =09</div>
    =09=09        </td>
=09=09=09=09</tr>
            <tr class=3D"gmail_msg">
               =09=09<td class=3D"m_-6899605775151322552gen-txt gmail_msg" =
align=3D"center" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida S=
ans&#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;c=
olor:#111111;font-size:12px">
               =09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09</tr>
=09=09=09=09=09</tbody></table>
=09=09=09=09</td>
=09=09=09</tr>
=09=09</tbody></table>
=09=09<table width=3D"100%" class=3D"m_-6899605775151322552ap-10pxspacer gm=
ail_msg" cellspacing=3D"0" height=3D"10" cellpadding=3D"0" border=3D"0" sty=
le=3D"height:10px;line-height:10px;font-size:10px">
=09<tbody><tr class=3D"gmail_msg">
=09=09<td valign=3D"top" height=3D"10" align=3D"left" style=3D"height:10px;=
line-height:10px;font-size:10px" class=3D"gmail_msg"><img src=3D"http://ema=
il.images.apple.com/dm/groups/aos/om/global/cmon/spacer.gif" alt=3D"" style=
=3D"display:block;outline:none;height:10px;line-height:10px;font-size:10px"=
 border=3D"0" height=3D"10" width=3D"1" class=3D"gmail_msg"></td>
=09</tr>
</tbody></table>

=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09</tbody></table>=09
=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09
=09=09=09=09=09<table class=3D"m_-6899605775151322552ap-container gmail_msg=
" id=3D"m_-6899605775151322552questionstable" cellspacing=3D"0" bgcolor=3D"=
ffffff" cellpadding=3D"0" border=3D"0" width=3D"100%" style=3D"border-radiu=
s:7px;border-top:1px solid #e1e1e1;border-right:1px solid #cecece;border-le=
ft:1px solid #cecece;border-bottom:1px solid #b4b4b4">
=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09<td valign=3D"top" align=3D"center" class=3D"gmail_msg">
=09=09
=09=09=09
=09=09=09=09<table width=3D"100%" class=3D"m_-6899605775151322552secHeader-=
container gmail_msg" style=3D"padding-top:15px;padding-left:20px;padding-ri=
ght:20px" cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09<td valign=3D"top" align=3D"left" class=3D"gmail_msg">
=09=09=09=09=09=09=09<div class=3D"m_-6899605775151322552sectionHeading gma=
il_msg" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,=
&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color:#000=
000!important;font-size:22px;line-height:28px;font-weight:400;letter-spacin=
g:1px;margin-top:0;margin-left:0;margin-right:0;margin-bottom:0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Questions
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</div>
=09=09=09=09=09=09</td>
=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09
=09=09=09<table width=3D"96%" class=3D"m_-6899605775151322552ap-inner-divid=
e gmail_msg" align=3D"center" cellspacing=3D"0" cellpadding=3D"0" border=3D=
"0">
=09=09=09=09<tbody><tr class=3D"gmail_msg"><td class=3D"m_-6899605775151322=
552pad-bottom-H1-nokeep gmail_msg" valign=3D"top" height=3D"10" align=3D"le=
ft" style=3D"height:10px;font-size:10px;line-height:10px"><img class=3D"m_-=
6899605775151322552pad-bottom-H1-nokeep gmail_msg" src=3D"http://email.imag=
es.apple.com/dm/groups/aos/om/global/cmon/spacer.gif" alt=3D"" style=3D"dis=
play:block;outline:none" border=3D"0" height=3D"10" width=3D"1"></td>
=09=09=09=09</tr>
=09=09=09=09<tr class=3D"gmail_msg"><td class=3D"m_-6899605775151322552divi=
der-col-line gmail_msg" valign=3D"top" bgcolor=3D"e6e6e6" style=3D"backgrou=
nd:#e6e6e6;height:1px;font-size:1px;line-height:1px" height=3D"1" align=3D"=
left"><img class=3D"m_-6899605775151322552divider-col-line gmail_msg" src=
=3D"http://email.images.apple.com/dm/groups/aos/om/global/cmon/spacer.gif" =
alt=3D"" style=3D"display:block;outline:none" border=3D"0" height=3D"1" wid=
th=3D"1"></td>
=09=09=09=09</tr>
=09=09=09=09
=09=09=09=09<tr class=3D"gmail_msg"><td class=3D"m_-6899605775151322552pad-=
bottom-H1-2 gmail_msg" valign=3D"top" height=3D"5" align=3D"left" style=3D"=
height:5px;font-size:5px;line-height:5px"><img class=3D"m_-6899605775151322=
552pad-bottom-H1-2 gmail_msg" src=3D"http://email.images.apple.com/dm/group=
s/aos/om/global/cmon/spacer.gif" alt=3D"" style=3D"display:block;outline:no=
ne" border=3D"0" height=3D"5" width=3D"1"></td>
=09=09=09=09</tr>
=09=09=09</tbody></table>
=09=09=09
=09=09=09=09<table width=3D"100%" class=3D"m_-6899605775151322552ap-2col-co=
ntent gmail_msg" cellspacing=3D"0" cellpadding=3D"0" border=3D"0">
=09=09=09=09
=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09<td valign=3D"top" width=3D"100%" class=3D"gmail_msg">=20
=09=09=09=09=09
=09=09=09=09=09=09=09<table valign=3D"top" width=3D"48%" class=3D"m_-689960=
5775151322552table-half-1 gmail_msg" align=3D"left" style=3D"width:48%;padd=
ing-left:30px;padding-top:0%;padding-bottom:8px">=09=09=09=09=09=09
=09=09=09=09=09 =09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09 =09=09=09<td class=3D"m_-6899605775151322552td-half gmail_m=
sg" valign=3D"top" align=3D"left" style=3D"font-family:&#39;Lucida Grande&#=
39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Ver=
dana,sans-serif;color:#333333!important;font-size:12px;line-height:18px;pad=
ding-bottom:8px">=09
=09=09=09=09=09=09=09=09=09=09<div class=3D"m_-6899605775151322552q-txt gma=
il_msg" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,=
&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color:#000=
000!important;font-size:14px;line-height:26px;padding-top:8px;margin-top:0;=
margin-left:0;margin-right:0;margin-bottom:10px!important;font-weight:bold"=
>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09What if I wi=
ll not be able to receive my shipment?</div>
=09=09=09=09=09=09=09=09=09=09=09Most of our shipments have valuable items,=
 so our carriers are required to obtain a signature upon delivery. However,=
 orders delivered by Canada Post do not require a signature. Please note th=
at the carrier makes two delivery attempts before returning your package to=
 Apple.
<br class=3D"gmail_msg"><br class=3D"gmail_msg">
For more information about Apple&#39;s delivery options, visit online <a cl=
ass=3D"m_-6899605775151322552aapl-link gmail_msg" href=3D"https://secure.st=
ore.apple.com/ca/help/" style=3D"color:#0085cf;font-weight:normal" target=
=3D"_blank">Help</a>.
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody></table>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09<table valign=3D"top" width=3D"48%" class=3D"=
m_-6899605775151322552table-half-2 gmail_msg" align=3D"right" style=3D"widt=
h:48%;padding-right:30px;padding-top:0%;padding-bottom:8px">
=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09     =09=09<td class=3D"m_-6899605775151322552td-half gma=
il_msg" valign=3D"top" align=3D"left" style=3D"font-family:&#39;Lucida Gran=
de&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica=
,Verdana,sans-serif;color:#333333!important;font-size:12px;line-height:18px=
;padding-bottom:8px">
=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09<div class=3D"m_-6899605775151322552q-txt =
gmail_msg" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#3=
9;,&#39;Lucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color:#=
000000!important;font-size:14px;line-height:26px;padding-top:8px;margin-top=
:0;margin-left:0;margin-right:0;margin-bottom:10px!important;font-weight:bo=
ld">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09How do=
 I track my shipment?
=09=09=09=09=09=09=09=09=09=09=09=09</div>
=09=09=09=09=09=09=09=09=09=09=09=09Visit online <a class=3D"m_-68996057751=
51322552aapl-link gmail_msg" href=3D"http://store.apple.com/vieworder/W4761=
04953/hello@robchia.com/AOS-AM-105164-A20000056256" style=3D"color:#0085cf;=
font-weight:normal" target=3D"_blank">Order Status</a> to view the most up-=
to-date status of your order. Some carriers, including Canada Post, may not=
 provide tracking information. If you ordered multiple items, you may recei=
ve separate shipments with no additional shipping charges. For more informa=
tion about shipping or returns, please visit online <a class=3D"m_-68996057=
75151322552aapl-link gmail_msg" href=3D"https://secure.store.apple.com/ca/h=
elp/" style=3D"color:#0085cf;font-weight:normal" target=3D"_blank">Help</a>=
.
<br class=3D"gmail_msg"><br class=3D"gmail_msg">
You can also call Apple Store Customer Service at <u class=3D"gmail_msg"></=
u><a href=3D"tel:(800)%20676-2775" value=3D"+18006762775" class=3D"gmail_ms=
g" target=3D"_blank">1-800-676-2775</a><u class=3D"gmail_msg"></u>, Mon - F=
ri <u class=3D"gmail_msg"></u>6 A.M. -  8 P.M.<u class=3D"gmail_msg"></u>, =
Sat - Sun from <u class=3D"gmail_msg"></u>7 A.M. - 4 P.M. PT.<u class=3D"gm=
ail_msg"></u> Please have your order number available.
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tbody></table>
=09=09=09=09=09=09=09=09=09=09=09=09</td>=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09</tr>=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09</tbody></table>
=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09</tbody></table>
=09=09=09=09=09
=09=09=09=09=09=09<table class=3D"m_-6899605775151322552footer-menu-table-m=
obile gmail_msg" width=3D"100%" cellspacing=3D"0" cellpadding=3D"0" border=
=3D"0" style=3D"line-height:0px;font-size:0px;height:0px;margin:0;padding:0=
">
=09=09<tbody><tr class=3D"m_-6899605775151322552footer-menu-table-mobile-li=
ne gmail_msg" width=3D"0" style=3D"line-height:0px;font-size:0px;height:0px=
;margin:0;padding:0">
=09=09=09<td class=3D"m_-6899605775151322552footer-menu-table-mobile-line g=
mail_msg" valign=3D"top" align=3D"center" style=3D"line-height:0px;font-siz=
e:0px;height:0px;margin:0;padding:0">=09=09=09=09=09=09=09=09
=09=09=09=09<img class=3D"m_-6899605775151322552footer-menu-table-mobile-li=
ne gmail_msg" src=3D"http://email.images.apple.com/dm/groups/aos/om/global/=
cmon/spacer.gif" alt=3D"" style=3D"display:none;outline:none;font-size:0px;=
line-height:0" border=3D"0" height=3D"0" width=3D"0">
=09=09=09</td>
=09=09</tr>
=09=09<tr class=3D"m_-6899605775151322552footer-menu-table-mobile gmail_msg=
" width=3D"0" style=3D"line-height:0px;font-size:0px;height:0px;margin:0;pa=
dding:0">
=09=09=09<td class=3D"m_-6899605775151322552footer-menu-table-mobile gmail_=
msg" valign=3D"top" align=3D"center" style=3D"line-height:0px;font-size:0px=
;height:0px;margin:0;padding:0">=09=09=09=09=09=09=09=09
=09=09=09=09<span class=3D"m_-6899605775151322552footer-menu-table-mobile g=
mail_msg" style=3D"font-size:0px;line-height:0px;color:#ececec;font-family:=
&#39;Helvetica Neue&#39;,Helvetica,Arial,Verdana,sans-serif">
=09=09=09=09=09=09=09=09=09=09=09<a class=3D"m_-6899605775151322552footer-m=
enu-table-mobile gmail_msg" href=3D"http://store.apple.com/ca" style=3D"col=
or:#ececec" color=3D"#ECECEC" target=3D"_blank">Shop Online</a>
=09=09=09=09=09=09=09=09=09=09 =C2=A0=C2=A0 <span color=3D"#ECECEC" class=
=3D"gmail_msg"> | </span> =C2=A0=C2=A0=20
=09=09=09=09=09=09=09=09=09=09=09<a class=3D"m_-6899605775151322552footer-m=
enu-table-mobile gmail_msg" href=3D"http://www.apple.com/ca/retail/" style=
=3D"color:#ececec" color=3D"#ECECEC" target=3D"_blank">Find a Store</a>
=09=09=09=09=09=09=09=09=09=09 =C2=A0=C2=A0 <span color=3D"#ECECEC" class=
=3D"gmail_msg"> | </span> =C2=A0=C2=A0=20
=09=09=09=09=09=09=09=09=09=09=09<a class=3D"m_-6899605775151322552footer-m=
enu-table-mobile gmail_msg" style=3D"color:#ececec" color=3D"#ECECEC">
=09=09=09=09=09=09<span style=3D"white-space:nowrap" class=3D"gmail_msg">
=09=09=09=09=09=09800-676-2775=20
=09=09=09=09=09=09</span>
=09=09=09=09=09=09</a>
=09=09=09=09=09=09=09=09=09</span>
=09=09=09</td>
=09=09</tr>
=09=09<tr class=3D"m_-6899605775151322552footer-menu-table-mobile-line gmai=
l_msg" width=3D"0" style=3D"line-height:0px;font-size:0px;height:0px;margin=
:0;padding:0">
=09=09=09<td class=3D"m_-6899605775151322552footer-menu-table-mobile-line g=
mail_msg" valign=3D"top" align=3D"center" style=3D"line-height:0px;font-siz=
e:0px;height:0px;margin:0;padding:0">=09=09=09=09=09=09=09=09
=09=09=09=09<img class=3D"m_-6899605775151322552footer-menu-table-mobile-li=
ne gmail_msg" src=3D"http://email.images.apple.com/dm/groups/aos/om/global/=
cmon/spacer.gif" alt=3D"" style=3D"display:none;outline:none;font-size:0px;=
line-height:0" border=3D"0" height=3D"0" width=3D"0">
=09=09=09</td>
=09=09</tr>
=09=09<tr class=3D"m_-6899605775151322552footer-menu-table-mobile gmail_msg=
" width=3D"0" style=3D"line-height:0px;font-size:0px;height:0px;margin:0;pa=
dding:0">
=09=09=09<td class=3D"m_-6899605775151322552footer-menu-table-mobile gmail_=
msg" valign=3D"top" align=3D"center" style=3D"line-height:0px;font-size:0px=
;height:0px;margin:0;padding:0">=09=09=09=09=09=09=09=09
=09=09=09=09<span class=3D"m_-6899605775151322552footer-menu-table-mobile g=
mail_msg" style=3D"font-size:0px;line-height:0px;color:#979797;font-family:=
&#39;Helvetica Neue&#39;,Helvetica,Arial,Verdana,sans-serif">
=09=09=09=09=09<a class=3D"m_-6899605775151322552footer-menu-table-mobile g=
mail_msg" href=3D"http://store.apple.com/us/go/app?" style=3D"color:#ececec=
" color=3D"#ECECEC" target=3D"_blank">
=09=09=09=09=09Get the Apple Store App </a>
=09=09=09=09</span>=09=09=09=09=09=09=09
=09=09=09</td>
=09=09</tr>
=09=09<tr class=3D"m_-6899605775151322552footer-menu-table-mobile-line gmai=
l_msg" width=3D"0" style=3D"line-height:0px;font-size:0px;height:0px;margin=
:0;padding:0">
=09=09=09<td class=3D"m_-6899605775151322552footer-menu-table-mobile-line g=
mail_msg" valign=3D"top" align=3D"center" style=3D"line-height:0px;font-siz=
e:0px;height:0px;margin:0;padding:0">=09=09=09=09=09=09=09=09
=09=09=09=09<img class=3D"m_-6899605775151322552footer-menu-table-mobile-li=
ne gmail_msg" src=3D"http://email.images.apple.com/dm/groups/aos/om/global/=
cmon/spacer.gif" alt=3D"" style=3D"display:none;outline:none;font-size:0px;=
line-height:0" border=3D"0" height=3D"0" width=3D"0">
=09=09=09</td>
=09=09</tr>
=09</tbody></table>=09=09=09
=09=09=09
=09=09=09=09=09<table id=3D"m_-6899605775151322552footer-section-lines" wid=
th=3D"100%" align=3D"left" style=3D"padding-top:4px;padding-left:20px;paddi=
ng-right:20px;padding-bottom:8px" cellpadding=3D"0" cellspacing=3D"0" borde=
r=3D"0" class=3D"gmail_msg">
=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09<td class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552promo-foot=
er-line gmail_msg" align=3D"left" cellpadding=3D"0" cellspacing=3D"0" borde=
r=3D"0">
=09=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09<td class=3D"gmail_msg">=09
=09=09=09=09=09=09=09=09=09=09<span class=3D"m_-6899605775151322552footer-t=
xt gmail_msg" style=3D"font-size:11px;line-height:1.3em;color:#979797;font-=
family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unico=
de&#39;,Arial,Helvetica,Verdana,sans-serif">
=09=09=09=09=09=09=09=09=09=09Copyright =C2=A9 2016=C2=A0<a color=3D"#97979=
7" style=3D"text-decoration:none!important;color:#979797!important" class=
=3D"gmail_msg">Apple Inc.</a> All rights reserved.
=09=09=09=09=09=09=09=09=09=09</span>
=09=09=09=09=09=09=09=09=09=09<span class=3D"m_-6899605775151322552mobile-o=
nly-element gmail_msg" style=3D"width:0;height:0;font-size:0;line-height:0;=
display:none">
=09=09=09=09=09=09=09=09=09=09=C2=A0
=09=09=09=09=09=09=09=09=09=09</span>
=09=09=09=09=09=09=09=09=09=09<span class=3D"m_-6899605775151322552footer-c=
opyright-space gmail_msg" style=3D"font-size:11px;line-height:1.3em;color:#=
979797;font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucid=
a Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif">
=09=09=09=09=09=09=09=09=09=09 =C2=A0=C2=A0 | =C2=A0=C2=A0=20
=09=09=09=09=09=09=09=09=09=09</span>
=09=09=09=09=09=09=09=09=09=09<span class=3D"m_-6899605775151322552footer-t=
xt gmail_msg" style=3D"font-size:11px;line-height:1.3em;color:#979797;font-=
family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unico=
de&#39;,Arial,Helvetica,Verdana,sans-serif">=20
=09=09=09=09=09=09=09=09=09=09<a href=3D"http://www.apple.com/legal/terms/s=
ite.html?cid=3DCDM-XF-OM-SN-10000000?cid=3D%7BCDM-CA-OM-SN-10000000%7D" cla=
ss=3D"m_-6899605775151322552aapl-link gmail_msg" style=3D"color:#0085cf!imp=
ortant" color=3D"#0085cf" target=3D"_blank">Terms of Use</a> =C2=A0=C2=A0 |=
=20
=09=09=09=09=09=09=09=09=09=09 =C2=A0=C2=A0 <a href=3D"http://www.apple.com=
/ca/privacy/?cid=3DCDM-XF-OM-SN-10000000?cid=3D%7BCDM-CA-OM-SN-10000000%7D"=
 class=3D"m_-6899605775151322552aapl-link gmail_msg" style=3D"color:#0085cf=
!important" color=3D"#0085cf" target=3D"_blank">Privacy Policy</a> =C2=A0=
=C2=A0 |=20
=09=09=09=09=09=09=09=09=09=09 =C2=A0=C2=A0 <a href=3D"http://store.apple.c=
om/ca/open/salespolicies" class=3D"m_-6899605775151322552aapl-link gmail_ms=
g" style=3D"color:#0085cf!important" color=3D"#0085cf" target=3D"_blank">Sa=
les and Refunds</a>=20
=09=09=09=09=09=09=09=09=09=09</span>
=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09</tbody></table>=09
=09=09=09=09=09=09=09=09</td>=09=09
=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09<tr class=3D"gmail_msg"><td class=3D"gmail_ms=
g"><img src=3D"http://outsideapple.apple.com/img/APPLE_EMAIL_LINK/spacer4.g=
if?v=3D2&amp;a=3DxSaZ2Iiga%2FjlV6GMLx2BaUHFF6EP%2FS5ro8smGNufR7joKvTsBnhI6y=
a9Vr4u5j%2ByiUoWVSuAJMAKvtiJgt46TXu8BD83Oe79%2BDFlSNZ%2Fom4ew1pCzTy6ae7eGT%=
2Fgt6vyzAixhuFQ2Z8A%2BvdJfm0NNrOUeZq6K7ymmvqJ65UeA9hUwM2mcAe0Wi%2BkmReSmFvO=
WM0wX4lkMmKYAOc5yBb6UfaMcttHpAV%2FFgg6bRGuadGJrh%2FWUwHfL1AlbmaLoSIi9WQiKrn=
hmEACvHFzeq4TjtU%2BWpXQqAp45kzWCZ%2Fztxa3ht7kbcUxkVJie%2FDCfEbOMAfGPKl1lZ7j=
A1WDPAFA3SDPZBU076UcVImliWh4RZhQcJ%2Bk%2F6LFyKRUZ%2BG3GPpw" border=3D"0" al=
t=3D"" class=3D"gmail_msg"></td></tr>
=09=09=09=09=09=09=09=09<tr class=3D"gmail_msg"><td class=3D"gmail_msg"><im=
g src=3D"http://metrics.apple.com/b/ss/appleuscdmclickmap/1/H.4-pdv-2/SN?[A=
QB]&amp;pageName=3D&amp;r=3DD%3DReferer&amp;v1=3DD%3DUser-Agent&amp;v9=3DD%=
3DpageName&amp;[AQE]" alt=3D"" width=3D"1" height=3D"1" class=3D"gmail_msg"=
></td></tr>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09</tbody></table>=09=09=09=09=09=09=09=09
</td><td class=3D"gmail_msg">
</td></tr>
</tbody></table>
</td><td class=3D"gmail_msg">
</td></tr>
</tbody></table>
</td><td class=3D"gmail_msg">
</td></tr>
</tbody></table>


=09=09=09=09
=09=09<br class=3D"gmail_msg">
=09=09=09=09
=09=09=09=09<table border=3D"0" cellpadding=3D"0" cellspacing=3D"0" width=
=3D"100%" style=3D"margin:0;padding:0;width:100%!important;line-height:100%=
!important" class=3D"gmail_msg">   =09=09=09=09=09=09<tbody><tr class=3D"gm=
ail_msg">
   =09=09=09=09=09=09=09<td width=3D"100%" align=3D"center" class=3D"m_-689=
9605775151322552background-noise gmail_msg" valign=3D"top" background=3D"ht=
tp://email.images.apple.com/dm/groups/aos/om/global/cmon/bg-noise.gif" bgco=
lor=3D"F2F2F2">
=09=09=09=09=09=09=09=09<table class=3D"m_-6899605775151322552ap-wrapper gm=
ail_msg" width=3D"706" border=3D"0" cellpadding=3D"0" cellspacing=3D"0">
=09=09=09=09=09=09=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09<td valign=3D"top" align=3D"left" class=3D"gm=
ail_msg">
=09=09=09=09=09=09=09=09=09=09=09<div style=3D"display:none;white-space:now=
rap;font:15px courier;line-height:0" class=3D"gmail_msg">=C2=A0 =C2=A0 =C2=
=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =20
=09=09=09=09=C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =
=C2=A0 =C2=A0 =20
=09=09=09=09=C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0 =C2=A0</div>=
=09=09=09
=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09<table align=3D"center" class=3D"m_-6899605775151322552header-g=
eneral gmail_msg" width=3D"690">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody><tr class=3D"m_-6899605775151=
322552header-general gmail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"m_-68996057751513225=
52header-general gmail_msg" valign=3D"top" align=3D"left" height=3D"40" wid=
th=3D"155">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<img align=3D"left" class=3D"m=
_-6899605775151322552header-general gmail_msg" src=3D"http://email.images.a=
pple.com/rover/aos/global/hd/apple-store_2x.png" height=3D"49" width=3D"155=
" alt=3D"Apple store" style=3D"outline:none" border=3D"0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td align=3D"right" class=3D"m_-6=
899605775151322552header-general gmail_msg" width=3D"535" valign=3D"bottom"=
 style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lu=
cida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;color:#666666!imp=
ortant;font-size:11px;line-height:15px;text-align:right;padding-bottom:10px=
">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Num=C3=A9ro de commande: <a na=
me=3D"m_-6899605775151322552_frOrderNumber" style=3D"color:#0085cf" class=
=3D"gmail_msg"><span style=3D"color:#0085cf" class=3D"gmail_msg"> =09</span=
></a><a href=3D"http://store.apple.com/vieworder/W476104953/hello@robchia.c=
om/AOS-AM-105208-A20000056674" style=3D"color:#0085cf;font-weight:normal" c=
lass=3D"m_-6899605775151322552bluelink gmail_msg" target=3D"_blank">W476104=
953</a>
     =C2=A0|=C2=A0
               =09 =09=09=09=09=09=09=09=09=09=09=09Command=C3=A9 le 03 Dec=
, 2016
=09=09=09=09=09</td>=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09</tbody></table>
=09=09=09=09<table class=3D"m_-6899605775151322552header-mobile gmail_msg" =
cellpadding=3D"0" cellspacing=3D"0" border=3D"0" align=3D"left" width=3D"10=
0%" style=3D"display:none">
=09=09=09=09=09=09=09=09=09=09=09=09=09<tbody><tr class=3D"m_-6899605775151=
322552header-mobile gmail_msg" style=3D"line-height:0px;font-size:0px;heigh=
t:0px;margin:0;padding:0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09<td class=3D"m_-68996057751513225=
52header-logo-mobile gmail_msg" valign=3D"top" align=3D"left" style=3D"line=
-height:0px;font-size:0px;height:0px;margin:0;padding:0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<img class=3D"m_-6899605775151=
322552header-logo-mobile gmail_msg" src=3D"http://email.images.apple.com/ro=
ver/aos/moe/apple_icon.png" alt=3D"" style=3D"outline:none;display:block" b=
order=3D"0" height=3D"0" width=3D"0">=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09=09</td>
=09=09=09=09=09=09=09=09=09=09=09=09=09</tr>
=09=09=09=09=09=09=09=09=09=09=09=09</tbody></table>
=09=09=09=09<table class=3D"m_-6899605775151322552ap-container gmail_msg" i=
d=3D"m_-6899605775151322552table-main" bgcolor=3D"FFFFFF" cellspacing=3D"0"=
 cellpadding=3D"0" border=3D"0" width=3D"100%" style=3D"padding:0px;border-=
radius:7px;border-top:1px solid #e1e1e1;border-right:1px solid #cecece;bord=
er-left:1px solid #cecece;border-bottom:1px solid #b4b4b4">
=09=09
=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09<td class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09<table cellspacing=3D"0" cellpadding=3D"0" border=3D"0" width=3D"100%=
" class=3D"gmail_msg">
=09=09=09<tbody><tr class=3D"gmail_msg">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09=09=09<td width=3D"100%" class=3D"m_-6899605775151322552greetings-sec=
tion gmail_msg" valign=3D"bottom" align=3D"center" style=3D"padding-left:20=
px;padding-right:20px">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09<di=
v class=3D"m_-6899605775151322552heading-email gmail_msg" style=3D"font-fam=
ily:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;Lucida Sans Unicode&=
#39;,Arial,Helvetica,Verdana,sans-serif;color:#000000!important;line-height=
:1.4em;font-size:34px;font-weight:400;padding-top:25px;margin-top:0;margin-=
left:0;margin-right:0;margin-bottom:0">
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09Les articles de votre co=
mmande ont =C3=A9t=C3=A9 exp=C3=A9di=C3=A9s.
=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09=09</div>
=09=09=09=09=09=09=09=09=09=09=09=09=09=09
=09=09   =09=09=09<div class=3D"m_-6899605775151322552sub-heading gmail_msg=
" style=3D"font-family:&#39;Lucida Grande&#39;,&#39;Lucida Sans&#39;,&#39;L=
ucida Sans Unicode&#39;,Arial,Helvetica,Verdana,sans-serif;line-height:24px=
;font-size:19px;padding-top:5px;color:#666666;margin-top:0;margin-left:0;ma=
rgin-right:0;margin-bottom:0;font-weight:lighter"></div></td></tr></tbody><=
/table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbod=
y></table></center></div></div></div>