<div dir=3D"ltr"><br><br><div class=3D"gmail_quote"><div dir=3D"ltr">








<div style=3D"width:100%!important;min-width:100%;color:#2e3337;font-family=
:Arial,Helvetica,sans-serif;font-weight:normal;text-align:left;line-height:=
19px;font-size:14px;margin:0;padding:0">

<table class=3D"m_-1747507614943839254body" style=3D"border-spacing:0;borde=
r-collapse:collapse;vertical-align:top;text-align:left;height:100%;width:10=
0%;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif=
;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td class=3D"m_-1747507614943839254center" align=3D"center" valign=3D"top" =
style=3D"word-break:break-word;border-collapse:collapse!important;vertical-=
align:top;text-align:center;color:#222222;font-family:&#39;Helvetica&#39;,&=
#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size:14p=
x;margin:0;padding:0">
<center style=3D"width:100%;min-width:580px">
<table class=3D"m_-1747507614943839254container" style=3D"border-spacing:0;=
border-collapse:collapse;vertical-align:top;text-align:inherit;width:580px;=
margin:0 auto;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"word-break:break-word;border-collapse:collapse!important;verti=
cal-align:top;text-align:left;color:#222222;font-family:&#39;Helvetica&#39;=
,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size:1=
4px;margin:0;padding:0" align=3D"left" valign=3D"top">

<table class=3D"m_-1747507614943839254row m_-1747507614943839254email-heade=
r" style=3D"border-spacing:0;border-collapse:collapse;vertical-align:top;te=
xt-align:left;width:100%;display:block;padding:0px">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"word-break:break-word;border-collapse:collapse!important;verti=
cal-align:top;text-align:left;color:#222222;font-family:&#39;Helvetica&#39;=
,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size:1=
4px;margin:0;padding:0" align=3D"left" valign=3D"top">

<table class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns =
m_-1747507614943839254hide-for-small" style=3D"width:580px!important;border=
-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;max-=
width:100%!important;margin:0 auto;padding:0" width=3D"580">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"width:580px;height:80px;word-break:break-word;border-collapse:=
collapse!important;vertical-align:middle;text-align:left;color:#222222;font=
-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;l=
ine-height:19px;font-size:14px;background:#003b65;margin:0;padding:0px 0px =
0" bgcolor=3D"#003B65" align=3D"left" valign=3D"middle">

<div>
<table class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns"=
 width=3D"580" style=3D"text-align:center;border-spacing:0;border-collapse:=
collapse;vertical-align:top;width:580px;margin:0 auto;padding:0" align=3D"c=
enter">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"word-break:break-word;border-collapse:collapse!important;verti=
cal-align:middle;text-align:left;color:#222222;font-family:&#39;Helvetica&#=
39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-siz=
e:14px;margin:0;padding:0px 0px 0" align=3D"left" valign=3D"middle">
<a class=3D"m_-1747507614943839254no-hyphen" href=3D"http://www.bestbuy.ca"=
 style=3D"color:#2ba6cb;text-decoration:none" target=3D"_blank"><img src=3D=
"http://images.bbycastatic.ca/sf/images/emails/logos/bby-canada-logo-fw.png=
" style=3D"width:580px;outline:none;text-decoration:none;max-width:100%;flo=
at:left;clear:both;display:block;border:none" width=3D"580" height=3D"60" a=
lt=3D"BestBuy Canada" align=3D"left"></a>
</td>
</tr>
</tbody>
</table>
<table class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns"=
 width=3D"580" style=3D"clear:both;display:block;border-spacing:0;border-co=
llapse:collapse;vertical-align:top;text-align:left;width:580px;margin:0 0 1=
0px;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"width:27px;word-break:break-word;border-collapse:collapse!impo=
rtant;vertical-align:middle;text-align:left;color:#222222;font-family:&#39;=
Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19=
px;font-size:14px;margin:0;padding:0px 0px 0" width=3D"27" align=3D"left" v=
align=3D"middle">
</td>
<td class=3D"m_-1747507614943839254sub-columns" style=3D"width:157px;text-a=
lign:left;word-break:break-word;border-collapse:collapse!important;vertical=
-align:middle;min-width:0px;color:#222222;font-family:&#39;Helvetica&#39;,&=
#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size:14p=
x;margin:0;padding:8px 0px 0" width=3D"157" align=3D"left" valign=3D"middle=
">
<span><a class=3D"m_-1747507614943839254no-hyphen" href=3D"https://www-ssl.=
bestbuy.ca/profile/checkorderstatus.aspx?lang=3Den-CA" style=3D"color:#2ba6=
cb;text-decoration:none;font-size:14px;padding-right:16px" target=3D"_blank=
"><font color=3D"#92C6D4">Order
 Status</font></a></span> </td>
<td style=3D"width:56px;word-break:break-word;border-collapse:collapse!impo=
rtant;vertical-align:middle;text-align:left;color:#222222;font-family:&#39;=
Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19=
px;font-size:14px;margin:0;padding:0px 0px 0" width=3D"56" align=3D"left" v=
align=3D"middle">
</td>
<td class=3D"m_-1747507614943839254sub-columns" style=3D"width:130px;text-a=
lign:left;word-break:break-word;border-collapse:collapse!important;vertical=
-align:middle;min-width:0px;color:#222222;font-family:&#39;Helvetica&#39;,&=
#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size:14p=
x;margin:0;padding:8px 0px 0" width=3D"130" align=3D"left" valign=3D"middle=
">
<span><a class=3D"m_-1747507614943839254no-hyphen" href=3D"https://www-ssl.=
bestbuy.ca/Profile/AccountSummary.aspx?lang=3Den-CA" style=3D"color:#2ba6cb=
;text-decoration:none;font-size:14px;padding-right:16px" target=3D"_blank">=
<font color=3D"#92C6D4">My
 Account</font></a></span> </td>
<td style=3D"width:56px;word-break:break-word;border-collapse:collapse!impo=
rtant;vertical-align:middle;text-align:left;color:#222222;font-family:&#39;=
Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19=
px;font-size:14px;margin:0;padding:0px 0px 0" width=3D"56" align=3D"left" v=
align=3D"middle">
</td>
<td class=3D"m_-1747507614943839254sub-columns m_-1747507614943839254last" =
style=3D"width:126px;text-align:left;word-break:break-word;border-collapse:=
collapse!important;vertical-align:middle;min-width:0px;color:#222222;font-f=
amily:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;lin=
e-height:19px;font-size:14px;margin:0;padding:8px 0 0 0px" width=3D"126" al=
ign=3D"left" valign=3D"middle">
<span><a class=3D"m_-1747507614943839254no-hyphen" href=3D"http://www.bestb=
uy.ca/HelpCustomerService/HelpCustomerServiceMain.aspx?lang=3Den-CA" style=
=3D"color:#2ba6cb;text-decoration:none;font-size:14px;padding-right:0" targ=
et=3D"_blank"><font color=3D"#92C6D4">Customer
 Service</font></a></span> </td>
<td class=3D"m_-1747507614943839254expander" style=3D"width:8px;word-break:=
break-word;border-collapse:collapse!important;vertical-align:middle;text-al=
ign:left;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans=
-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:=
0" width=3D"8" align=3D"left" valign=3D"middle">
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>

<table class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns =
m_-1747507614943839254show-for-small" style=3D"border-spacing:0;border-coll=
apse:collapse;vertical-align:top;text-align:left;width:580px;display:none;m=
argin:10px auto 0;padding:0" bgcolor=3D"#003B65">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td class=3D"m_-1747507614943839254show-for-small" bgcolor=3D"#003B65" styl=
e=3D"width:0;max-height:0;overflow:hidden;float:left;word-break:break-word;=
border-collapse:collapse!important;vertical-align:middle;text-align:left;di=
splay:none;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sa=
ns-serif;font-weight:normal;line-height:19px;font-size:14px;background:#003=
b65;margin:0;padding:0px 0px 0" align=3D"left" valign=3D"middle">
<table style=3D"border-spacing:0;border-collapse:collapse;vertical-align:to=
p;text-align:left;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
</tr>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns m_-=
1747507614943839254center" style=3D"word-break:break-word;border-collapse:c=
ollapse!important;vertical-align:middle;text-align:center;width:100%;color:=
#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-wei=
ght:normal;line-height:19px;font-size:14px;margin:0;padding:0px 0px 0" alig=
n=3D"center" valign=3D"middle">
<center style=3D"width:100%;min-width:580px"><img class=3D"m_-1747507614943=
839254center" src=3D"http://images.bbycastatic.ca/sf/images/emails/logos/bb=
y-canada-logo-large.png" width=3D"153" height=3D"40" alt=3D"BestBuy Canada =
logo" style=3D"outline:none;text-decoration:none;width:auto;max-width:100%;=
float:none;clear:both;display:block;margin:0 auto" align=3D"none"></center>
</td>
</tr>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td class=3D"m_-1747507614943839254wrapper m_-1747507614943839254last" styl=
e=3D"word-break:break-word;border-collapse:collapse!important;vertical-alig=
n:middle;text-align:left;color:#222222;font-family:&#39;Helvetica&#39;,&#39=
;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size:14px;t=
ext-decoration:none;margin:0;padding:0px 0 16px 0px" align=3D"left" valign=
=3D"middle">
<table class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns"=
 width=3D"580" style=3D"width:90%!important;border-spacing:0;border-collaps=
e:collapse;vertical-align:top;text-align:left;margin:0 auto;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td class=3D"m_-1747507614943839254four m_-1747507614943839254sub-columns" =
style=3D"width:32%!important;word-break:break-word;border-collapse:collapse=
!important;vertical-align:middle;text-align:left;min-width:0px;color:#22222=
2;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:no=
rmal;line-height:19px;font-size:14px;margin:0;padding:0px 0px 0" align=3D"l=
eft" valign=3D"middle">
<span><a class=3D"m_-1747507614943839254no-hyphen" href=3D"https://www-ssl.=
bestbuy.ca/profile/checkorderstatus.aspx?lang=3Den-CA" style=3D"text-decora=
tion:none;font-size:12px!important;color:#2ba6cb;padding-right:0;display:bl=
ock;text-align:center" target=3D"_blank"><font color=3D"#92C6D4">Order
 Status</font></a></span> </td>
<td class=3D"m_-1747507614943839254four m_-1747507614943839254sub-columns" =
style=3D"width:26%!important;word-break:break-word;border-collapse:collapse=
!important;vertical-align:middle;text-align:left;min-width:0px;color:#22222=
2;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:no=
rmal;line-height:19px;font-size:14px;margin:0;padding:0px 0px 0" align=3D"l=
eft" valign=3D"middle">
<span><a class=3D"m_-1747507614943839254no-hyphen" href=3D"https://www-ssl.=
bestbuy.ca/Profile/AccountSummary.aspx?lang=3Den-CA" style=3D"font-size:12p=
x!important;color:#2ba6cb;text-decoration:none;padding-right:0;display:bloc=
k;text-align:center" target=3D"_blank"><font color=3D"#92C6D4">My
 Account</font></a></span> </td>
<td class=3D"m_-1747507614943839254four m_-1747507614943839254sub-columns m=
_-1747507614943839254last" style=3D"width:42%!important;word-break:break-wo=
rd;border-collapse:collapse!important;vertical-align:middle;text-align:left=
;min-width:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39=
;,sans-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0;pa=
dding:0px 0 0 0px" align=3D"left" valign=3D"middle">
<span><a class=3D"m_-1747507614943839254no-hyphen" href=3D"http://www.bestb=
uy.ca/HelpCustomerService/HelpCustomerServiceMain.aspx?lang=3Den-CA" style=
=3D"font-size:12px!important;color:#2ba6cb;text-decoration:none;padding-rig=
ht:0;display:block;text-align:center" target=3D"_blank"><font color=3D"#92C=
6D4">Customer
 Service</font></a></span> </td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:middle;text-align:left;w=
idth:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans=
-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:=
0" align=3D"left" valign=3D"middle">
</td>
</tr>
</tbody>
</table>
</td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:middle;text-align:left;w=
idth:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans=
-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:=
0" align=3D"left" valign=3D"middle">
</td>
</tr>
</tbody>
</table>
</td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:middle;text-align:left;w=
idth:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans=
-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:=
0" align=3D"left" valign=3D"middle">
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>

<table class=3D"m_-1747507614943839254row m_-1747507614943839254email-conte=
nt" style=3D"width:580px;border-spacing:0;border-collapse:collapse;vertical=
-align:top;text-align:left;display:block;box-sizing:border-box;padding:0px"=
>
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"word-break:break-word;border-collapse:collapse!important;verti=
cal-align:top;text-align:left;color:#222222;font-family:&#39;Helvetica&#39;=
,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size:1=
4px;margin:0;padding:0" align=3D"left" valign=3D"top">
<table style=3D"border-spacing:0;border-collapse:collapse;vertical-align:to=
p;text-align:left;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"word-break:break-word;border-collapse:collapse!important;verti=
cal-align:top;text-align:left;color:#222222;font-family:&#39;Helvetica&#39;=
,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size:1=
4px;margin:0;padding:20px 24px" align=3D"left" valign=3D"top">
<table class=3D"m_-1747507614943839254eleven m_-1747507614943839254columns"=
 width=3D"530" style=3D"border-spacing:0;border-collapse:collapse;vertical-=
align:top;text-align:left;width:530px;margin:0 auto;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"word-break:break-word;border-collapse:collapse!important;verti=
cal-align:top;text-align:left;color:#222222;font-family:&#39;Helvetica&#39;=
,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size:1=
4px;margin:0;padding:0px 0px 10px" align=3D"left" valign=3D"top">

<h3 class=3D"m_-1747507614943839254no-hyphen" style=3D"color:#222222;font-f=
amily:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;tex=
t-align:left;line-height:1.3;word-break:normal;font-size:32px;margin:0;padd=
ing:0" align=3D"left">
Hello andrew</h3>
<br>
<p style=3D"color:#000000;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,s=
ans-serif;font-weight:normal;text-align:left;line-height:19px;font-size:14p=
x;margin:0 0 10px;padding:0" align=3D"left">
The item(s) listed below have been shipped!<br>
<br>
<strong><a href=3D"http://www.canadapost.ca/cpotools/apps/track/personal/fi=
ndByTrackNumber?trackingNumber=3D1020107100051749" style=3D"color:#003399;f=
ont-size:11px" target=3D"_blank">Track shipment</a></strong><br>
Please wait for up to 24 hours after the item(s) are shipped for tracking t=
o be available.<br>
<br>
View/print your receipt by visiting your <a class=3D"m_-1747507614943839254=
no-hyphen" href=3D"https://www-ssl.bestbuy.ca/profile/checkorderstatus.aspx=
?lang=3Den-CA" style=3D"color:#003399!important;text-decoration:none" targe=
t=3D"_blank">
<span style=3D"color:#003399">Order Status page</span></a>.<br>
</p>
<br>
<table class=3D"m_-1747507614943839254eleven m_-1747507614943839254columns"=
 width=3D"530" bgcolor=3D"#E6E7E8" style=3D"border-spacing:0;border-collaps=
e:collapse;vertical-align:top;text-align:left;width:530px;margin:0;padding:=
0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td class=3D"m_-1747507614943839254six m_-1747507614943839254sub-columns" s=
tyle=3D"word-break:break-word;border-collapse:collapse!important;vertical-a=
lign:top;text-align:left;min-width:0px;width:50%;color:#222222;font-family:=
&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-heig=
ht:19px;font-size:14px;margin:0;padding:4px 0px" align=3D"left" valign=3D"t=
op">
<span>Item(s) shipped</span> </td>
<td class=3D"m_-1747507614943839254six m_-1747507614943839254sub-columns" s=
tyle=3D"text-align:right;word-break:break-word;border-collapse:collapse!imp=
ortant;vertical-align:top;min-width:0px;width:50%;color:#222222;font-family=
:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-hei=
ght:19px;font-size:14px;margin:0;padding:4px 0px" align=3D"right" valign=3D=
"top">
<span>Quantity </span></td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:top;text-align:left;widt=
h:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-se=
rif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:0" =
align=3D"left" valign=3D"top">
</td>
</tr>
</tbody>
</table>
<table style=3D"width:100%;border-spacing:0;border-collapse:collapse;vertic=
al-align:top;text-align:left;padding:0;border:1px solid #e6e7e8">
<tbody>
<tr valign=3D"top">
<td width=3D"5" align=3D"right" valign=3D"middle"><img src=3D"http://www.be=
stbuy.ca/images/emails/space.gif" width=3D"5" height=3D"16" border=3D"0"></=
td>
<td align=3D"left" valign=3D"middle"><font size=3D"1" face=3D"verdana, aria=
l, helvetica, sans-serif">The Legend of Zelda: Breath of the Wild (Wii U)</=
font></td>
<td width=3D"5" align=3D"right" valign=3D"middle"><img src=3D"http://www.be=
stbuy.ca/images/emails/space.gif" width=3D"5" height=3D"16" border=3D"0"></=
td>
<td align=3D"right" valign=3D"middle"><font size=3D"1" face=3D"verdana, ari=
al, helvetica, sans-serif">1</font></td>
</tr>
<tr valign=3D"top">
<td colspan=3D"6" bgcolor=3D"#EEEEEE"><img src=3D"http://www.bestbuy.ca/ima=
ges/emails/space.gif" width=3D"100%" height=3D"1" border=3D"0"></td>
</tr>
</tbody>
</table>
<br>
<p style=3D"color:#000000;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,s=
ans-serif;font-weight:normal;text-align:left;line-height:19px;font-size:14p=
x;margin:0 0 10px;padding:0" align=3D"left">
</p>
<br>
<hr style=3D"color:#d9d9d9;height:1px;background:#d9d9d9;border:none">
<br>
<p style=3D"color:#000000;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,s=
ans-serif;font-weight:normal;text-align:left;line-height:19px;font-size:14p=
x;margin:0 0 10px;padding:0" align=3D"left">
<strong>Shipping Address</strong></p>
<p style=3D"color:#000000;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,s=
ans-serif;font-weight:normal;text-align:left;line-height:19px;font-size:14p=
x;margin:0 0 10px;padding:0" align=3D"left">
Andrew Apperley<br>
420 Wellington St W, <br>
Toronto, ON<br>
Canada, M5V 2J4<br>
<br>
The shipping charge shown is for shipping by Canada Post Expedited.<br>
</p>
<br>
<hr style=3D"color:#d9d9d9;height:1px;background:#d9d9d9;border:none">
<br>
<p style=3D"color:#000000;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,s=
ans-serif;font-weight:normal;text-align:left;line-height:19px;font-size:14p=
x;margin:0 0 10px;padding:0" align=3D"left">
<strong>For item(s) not yet shipped:</strong>=C2=A0We want you to get your =
item(s) right away, so as soon as they become available, we ship each one t=
o you. There are no extra costs for this and you&#39;re only charged for an=
 item once it ships. You&#39;ll receive an email
 like this each time a product ships.<br>
</p>
<p style=3D"color:#000000;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,s=
ans-serif;font-weight:normal;text-align:left;line-height:19px;font-size:14p=
x;margin:0 0 10px;padding:0" align=3D"left">
Please note: since our delivery system is designed to ship products as quic=
kly as possible, there&#39;s a limited window during which an order can be =
cancelled. Check the
<a href=3D"http://www.bestbuy.ca/en-CA/help/how-to-place-an-order-order-faq=
/hc8218.aspx#cancelorder" target=3D"_blank">
Order FAQ page</a> for more information. </p>
<p style=3D"color:#000000;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,s=
ans-serif;font-weight:normal;text-align:left;line-height:19px;font-size:14p=
x;margin:0 0 10px;padding:0" align=3D"left">
In addition, if you placed your order while signed in to your BestBuy.ca ac=
count, you can edit your payment method for unshipped items.<br>
<br>
</p>
Check out the status of your non-shipped item(s) anytime by viewing your <a=
 class=3D"m_-1747507614943839254no-hyphen" href=3D"https://www-ssl.bestbuy.=
ca/profile/checkorderstatus.aspx?lang=3Den-CA" style=3D"color:#003399!impor=
tant;text-decoration:none" target=3D"_blank">
<span style=3D"color:#003399">Order Status</span></a>.
<p></p>
<br>
<hr style=3D"color:#d9d9d9;height:1px;background:#d9d9d9;border:none">
<br>
<p style=3D"color:#000000;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,s=
ans-serif;font-weight:normal;text-align:left;line-height:19px;font-size:14p=
x;margin:0 0 10px;padding:0" align=3D"left">
<strong>Thank you for shopping at <a class=3D"m_-1747507614943839254no-hyph=
en" href=3D"http://www.BestBuy.ca/" style=3D"color:#003399!important;text-d=
ecoration:none" target=3D"_blank">
<span style=3D"color:#003399">BestBuy.ca</span></a></strong><br>
<br>
<font color=3D"#666666">This email was sent from an outgoing-only address t=
hat cannot accept incoming emails. If you still have questions, please visi=
t our
<a class=3D"m_-1747507614943839254no-hyphen" href=3D"http://www.bestbuy.ca/=
HelpCustomerService/HelpCustomerServiceMain.aspx?lang=3Den-CA" style=3D"col=
or:#003399!important;text-decoration:none" target=3D"_blank">
<span style=3D"color:#003399">help centre</span></a> for more information.<=
/font></p>
<p style=3D"color:#000000;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,s=
ans-serif;font-weight:normal;text-align:left;line-height:19px;font-size:14p=
x;margin:0 0 10px;padding:0" align=3D"left">
<font color=3D"#666666"><strong style=3D"color:#000">Promotional Emails:</s=
trong> As a customer of Best Buy Canada, we may send you promotional emails=
. If you do not wish to receive promotional emails from Best Buy Canada, pl=
ease feel free to
<a href=3D"https://www-ssl.bestbuy.ca/en-CA/secure/newsletter-unsubscribe.a=
spx" target=3D"_blank">unsubscribe</a>.</font></p>
<p style=3D"color:#000000;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,s=
ans-serif;font-weight:normal;text-align:left;line-height:19px;font-size:14p=
x;margin:0 0 10px;padding:0" align=3D"left">
<font color=3D"#666666">Best Buy Canada Ltd.<br>
8800 Glenlyon Parkway,<br>
Burnaby, BC V5J 5K3<br>
<a class=3D"m_-1747507614943839254no-hyphen" href=3D"http://www.BestBuy.ca/=
" style=3D"text-decoration:none;color:#003399!important" target=3D"_blank">=
<span style=3D"color:#003399">BestBuy.ca</span></a></font></p>
</td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:top;text-align:left;widt=
h:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-se=
rif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:0" =
align=3D"left" valign=3D"top">
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>

</tr>
</tbody>
</table>

<table class=3D"m_-1747507614943839254row" style=3D"border-spacing:0;border=
-collapse:collapse;vertical-align:top;text-align:left;width:100%;display:bl=
ock;padding:0px">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"word-break:break-word;border-collapse:collapse!important;verti=
cal-align:top;text-align:left;color:#222222;font-family:&#39;Helvetica&#39;=
,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size:1=
4px;margin:0;padding:0" align=3D"left" valign=3D"top">

<table class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns =
m_-1747507614943839254email-footer m_-1747507614943839254hide-for-small m_-=
1747507614943839254show-for-middle" style=3D"border-spacing:0;border-collap=
se:collapse;vertical-align:top;text-align:left;width:580px!important;max-wi=
dth:100%!important;margin:0 auto;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"height:30px;word-break:break-word;border-collapse:collapse!imp=
ortant;vertical-align:top;text-align:left;color:#222222;font-family:&#39;He=
lvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px=
;font-size:14px;background:#003b65;margin:0;padding:0px" bgcolor=3D"#003B65=
" align=3D"left" valign=3D"top">

<div>
<table class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns"=
 width=3D"580" style=3D"border-spacing:0;border-collapse:collapse;vertical-=
align:top;text-align:left;width:580px;margin:0 auto;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td height=3D"16" class=3D"m_-1747507614943839254eleven m_-1747507614943839=
254sub-columns m_-1747507614943839254last" style=3D"word-break:break-word;b=
order-collapse:collapse!important;vertical-align:middle;text-align:left;min=
-width:0px;width:91.666666%;color:#222222;font-family:&#39;Helvetica&#39;,&=
#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size:14p=
x;margin:0;padding:12px 0 0 24px" align=3D"left" valign=3D"middle">
<span style=3D"color:#ffffff;font-size:12px">=C2=A9=C2=A02016 Best Buy Cana=
da Ltd. All rights reserved</span></td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:middle;text-align:left;w=
idth:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans=
-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:=
0" align=3D"left" valign=3D"middle">
</td>
</tr>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"word-break:break-word;border-collapse:collapse!important;verti=
cal-align:middle;text-align:left;color:#222222;font-family:&#39;Helvetica&#=
39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-siz=
e:14px;margin:0;padding:0 0px 40px" align=3D"left" valign=3D"middle">
<table class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns"=
 width=3D"580" style=3D"border-spacing:0;border-collapse:collapse;vertical-=
align:top;text-align:left;width:580px;margin:0 auto;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"width:26px;word-break:break-word;border-collapse:collapse!impo=
rtant;vertical-align:middle;text-align:left;color:#222222;font-family:&#39;=
Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19=
px;font-size:14px;margin:0;padding:0px 0px 0" align=3D"left" valign=3D"midd=
le">
</td>
<td class=3D"m_-1747507614943839254no-hyphen" style=3D"width:90px;display:i=
nline-block;word-break:break-word;border-collapse:collapse!important;vertic=
al-align:middle;text-align:left;color:#222222;font-family:&#39;Helvetica&#3=
9;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size=
:14px;margin:0;padding:0 0px" align=3D"left" valign=3D"middle">
<a href=3D"http://www.bestbuy.ca/CompanyInfo/ContactUs/ContactUs.aspx?lang=
=3Den-CA" style=3D"color:#2ba6cb;text-decoration:none" target=3D"_blank"><f=
ont color=3D"#92C6D4">Contact Us</font></a></td>
<td class=3D"m_-1747507614943839254no-hyphen" style=3D"width:160px;display:=
inline-block;word-break:break-word;border-collapse:collapse!important;verti=
cal-align:middle;text-align:left;color:#222222;font-family:&#39;Helvetica&#=
39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-siz=
e:14px;margin:0;padding:0 0px" align=3D"left" valign=3D"middle">
<a href=3D"http://www.bestbuy.ca/en-CA/help/returns-and-exchanges/hc1075.as=
px" style=3D"color:#2ba6cb;text-decoration:none" target=3D"_blank"><font co=
lor=3D"#92C6D4">Returns &amp; Exchanges</font></a></td>
<td class=3D"m_-1747507614943839254no-hyphen" style=3D"width:110px;display:=
inline-block;word-break:break-word;border-collapse:collapse!important;verti=
cal-align:middle;text-align:left;color:#222222;font-family:&#39;Helvetica&#=
39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-siz=
e:14px;margin:0;padding:0 0px" align=3D"left" valign=3D"middle">
<a href=3D"http://www.bestbuy.ca/HelpCustomerService/HelpDetails.aspx?HelpT=
itleId=3Dhc1139&amp;lang=3Den-CA" style=3D"color:#2ba6cb;text-decoration:no=
ne" target=3D"_blank"><font color=3D"#92C6D4">Privacy Policy</font></a></td=
>
<td class=3D"m_-1747507614943839254no-hyphen" style=3D"width:160px;display:=
inline-block;word-break:break-word;border-collapse:collapse!important;verti=
cal-align:middle;text-align:left;color:#222222;font-family:&#39;Helvetica&#=
39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19px;font-siz=
e:14px;margin:0;padding:0 0px" align=3D"left" valign=3D"middle">
<a href=3D"http://www.bestbuy.ca/HelpCustomerService/HelpDetails.aspx?HelpT=
itleId=3Dhc8140&amp;lang=3Den-CA" style=3D"color:#2ba6cb;text-decoration:no=
ne" target=3D"_blank"><font color=3D"#92C6D4">Terms &amp; Conditions</font>=
</a></td>
<td style=3D"width:14px;word-break:break-word;border-collapse:collapse!impo=
rtant;vertical-align:middle;text-align:left;color:#222222;font-family:&#39;=
Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19=
px;font-size:14px;margin:0;padding:0 0px" align=3D"left" valign=3D"middle">
</td>
</tr>
</tbody>
</table>
</td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:middle;text-align:left;w=
idth:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans=
-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:=
0" align=3D"left" valign=3D"middle">
</td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>

<table class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns =
m_-1747507614943839254email-footer m_-1747507614943839254show-for-small m_-=
1747507614943839254hide-for-middle" style=3D"border-spacing:0;border-collap=
se:collapse;vertical-align:top;text-align:left;width:580px;display:none;mar=
gin:0 auto;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td class=3D"m_-1747507614943839254show-for-small" bgcolor=3D"#003B65" styl=
e=3D"width:0;max-height:0;overflow:hidden;float:left;word-break:break-word;=
border-collapse:collapse!important;vertical-align:top;text-align:left;displ=
ay:none;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-=
serif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:0=
px 0px 10px" align=3D"left" valign=3D"top">
<table style=3D"border-spacing:0;border-collapse:collapse;vertical-align:to=
p;text-align:left;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td height=3D"10" style=3D"word-break:break-word;border-collapse:collapse!i=
mportant;vertical-align:top;text-align:left;color:#222222;font-family:&#39;=
Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19=
px;font-size:14px;margin:0;padding:0px 0px 10px" align=3D"left" valign=3D"t=
op">
</td>
</tr>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td class=3D"m_-1747507614943839254wrapper" style=3D"word-break:break-word;=
border-collapse:collapse!important;vertical-align:top;text-align:left;color=
:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-we=
ight:normal;line-height:19px;font-size:14px;margin:0;padding:0px 0px 10px" =
align=3D"left" valign=3D"top">
<table class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns"=
 width=3D"580" style=3D"border-spacing:0;border-collapse:collapse;vertical-=
align:top;text-align:left;width:580px;margin:0 auto;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td style=3D"font-size:12px;word-break:break-word;border-collapse:collapse!=
important;vertical-align:middle;text-align:left;color:#222222;font-family:&=
#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-heigh=
t:19px;margin:0;padding:0 0px 0 24px" align=3D"left" valign=3D"middle">
<span><font color=3D"#FFFFFF">=C2=A9=C2=A02016 Best Buy Canada Ltd. All rig=
hts reserved</font></span>
</td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:middle;text-align:left;w=
idth:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans=
-serif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:=
0" align=3D"left" valign=3D"middle">
</td>
</tr>
</tbody>
</table>
</td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:top;text-align:left;widt=
h:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-se=
rif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:0" =
align=3D"left" valign=3D"top">
</td>
</tr>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td class=3D"m_-1747507614943839254wrapper" style=3D"word-break:break-word;=
border-collapse:collapse!important;vertical-align:top;text-align:left;color=
:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-we=
ight:normal;line-height:19px;font-size:14px;margin:0;padding:0px 0px 10px" =
align=3D"left" valign=3D"top">
<table class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns"=
 width=3D"580" style=3D"border-spacing:0;border-collapse:collapse;vertical-=
align:top;text-align:left;width:580px;margin:0 auto;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td class=3D"m_-1747507614943839254six m_-1747507614943839254sub-columns" s=
tyle=3D"word-break:break-word;border-collapse:collapse!important;vertical-a=
lign:middle;text-align:left;min-width:0px;width:50%;color:#222222;font-fami=
ly:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-h=
eight:19px;font-size:14px;margin:0;padding:0 0px 0 24px" align=3D"left" val=
ign=3D"middle">
<span><a class=3D"m_-1747507614943839254no-hyphen" href=3D"http://www.bestb=
uy.ca/CompanyInfo/ContactUs/ContactUs.aspx?lang=3Den-CA" style=3D"width:75p=
x;display:inline-block;color:#2ba6cb;text-decoration:none;font-size:12px" t=
arget=3D"_blank"><font color=3D"#92C6D4">Contact
 Us</font></a></span> <span><a class=3D"m_-1747507614943839254no-hyphen" hr=
ef=3D"http://www.bestbuy.ca/HelpCustomerService/HelpDetails.aspx?HelpTitleI=
d=3Dhc1139&amp;lang=3Den-CA" style=3D"color:#2ba6cb;text-decoration:none;fo=
nt-size:12px" target=3D"_blank"><font color=3D"#92C6D4">Privacy
 Policy</font></a></span> </td>
</tr>
</tbody>
</table>
</td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:top;text-align:left;widt=
h:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-se=
rif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:0" =
align=3D"left" valign=3D"top">
</td>
</tr>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td class=3D"m_-1747507614943839254wrapper m_-1747507614943839254last" styl=
e=3D"word-break:break-word;border-collapse:collapse!important;vertical-alig=
n:top;text-align:left;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Ar=
ial&#39;,sans-serif;font-weight:normal;line-height:19px;font-size:14px;marg=
in:0;padding:0px 0 10px 0px" align=3D"left" valign=3D"top">
<table class=3D"m_-1747507614943839254twelve m_-1747507614943839254columns"=
 width=3D"580" style=3D"border-spacing:0;border-collapse:collapse;vertical-=
align:top;text-align:left;width:580px;margin:0 auto;padding:0">
<tbody>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td class=3D"m_-1747507614943839254six m_-1747507614943839254sub-columns" s=
tyle=3D"word-break:break-word;border-collapse:collapse!important;vertical-a=
lign:middle;text-align:left;min-width:0px;width:50%;color:#222222;font-fami=
ly:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-h=
eight:19px;font-size:14px;margin:0;padding:0 0px 0 24px" align=3D"left" val=
ign=3D"middle">
<span><a class=3D"m_-1747507614943839254no-hyphen" href=3D"http://www.bestb=
uy.ca/en-CA/help/returns-and-exchanges/hc1075.aspx" style=3D"width:130px;di=
splay:inline-block;color:#2ba6cb;text-decoration:none;font-size:12px" targe=
t=3D"_blank"><font color=3D"#92C6D4">Returns
 &amp; Exchanges</font></a></span> <span><a class=3D"m_-1747507614943839254=
no-hyphen" href=3D"http://www.bestbuy.ca/HelpCustomerService/HelpDetails.as=
px?HelpTitleId=3Dhc8140&amp;lang=3Den-CA" style=3D"color:#2ba6cb;text-decor=
ation:none;font-size:12px" target=3D"_blank"><font color=3D"#92C6D4">Terms
 &amp; Conditions</font></a></span> </td>
</tr>
</tbody>
</table>
</td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:top;text-align:left;widt=
h:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-se=
rif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:0" =
align=3D"left" valign=3D"top">
</td>
</tr>
<tr style=3D"vertical-align:top;text-align:left;padding:0" align=3D"left">
<td height=3D"40" style=3D"word-break:break-word;border-collapse:collapse!i=
mportant;vertical-align:top;text-align:left;color:#222222;font-family:&#39;=
Helvetica&#39;,&#39;Arial&#39;,sans-serif;font-weight:normal;line-height:19=
px;font-size:14px;margin:0;padding:0px 0px 10px" align=3D"left" valign=3D"t=
op">
</td>
</tr>
</tbody>
</table>
</td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:top;text-align:left;widt=
h:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-se=
rif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:0" =
align=3D"left" valign=3D"top">
</td>
</tr>
</tbody>
</table>
</td>
<td class=3D"m_-1747507614943839254expander" style=3D"word-break:break-word=
;border-collapse:collapse!important;vertical-align:top;text-align:left;widt=
h:0px;color:#222222;font-family:&#39;Helvetica&#39;,&#39;Arial&#39;,sans-se=
rif;font-weight:normal;line-height:19px;font-size:14px;margin:0;padding:0" =
align=3D"left" valign=3D"top">
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</center>
</td>
</tr>
</tbody>
</table>
</div>

</div></div>
