<html xmlns=3D"http://www.w3.org/1999/xhtml">
<head>
<title></title>
</head>
<body>
<div name=3D"messageSignatureSection" style=3D"font-size: 14px; font-family=
: -apple-system, BlinkMacSystemFont, sans-serif;"><br />
Kind regards.<br />
Sergey Gavrilyuk</div>
<div name=3D"messageReplySection" style=3D"font-size: 14px; font-family: -a=
pple-system, BlinkMacSystemFont, sans-serif;"><br />
---------- Forwarded message ----------<br />
<b>From:</b> eBay &lt;ebay@ebay.com&gt;<br />
<b>Date:</b> Jun 5, 2017, 12:33 AM -0400<br />
<b>To:</b> sergey.gavrilyuk@gmail.com<br />
<b>Subject:</b> SHIPPED: NEW AVID ELIXIE E3 Hydraulic Disc Brake For MTB/BM=
X Fold Bike Bicycle Front+Rear<br />
<br />
<blockquote type=3D"cite" style=3D"margin: 5px 5px; padding-left: 10px; bor=
der-left: thin solid #1abc9c;">
<table width=3D"100%" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" alig=
n=3D"center" style=3D"border-collapse: collapse !important; border-spacing:=
 0 !important; border: none;">
<tbody>
<tr>
<td width=3D"100%" valign=3D"top" bgcolor=3D"#F9F9F9" style=3D"border-colla=
pse: collapse !important; border-spacing: 0 !important; border: none;">
<table width=3D"600" class=3D"device-width header-logo" border=3D"0" cellpa=
dding=3D"0" cellspacing=3D"0" align=3D"center" style=3D"border-collapse: co=
llapse !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td valign=3D"top" style=3D"border-collapse: collapse !important; border-sp=
acing: 0 !important; padding: 0; border: none;">
<p style=3D"font-family: Helvetica, Arial, sans-serif; font-weight: normal;=
 line-height: 1px; color: #f9f9f9; text-align: left; font-size: 1px;" align=
=3D"left">ETA: Mon. Jun. 19 - Tue. Jul. 25 to 3 Dunnville rd.</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table id=3D"area4Container" width=3D"100%" border=3D"0" cellpadding=3D"0" =
cellspacing=3D"0" align=3D"center" style=3D"border-collapse: collapse !impo=
rtant; border-spacing: 0 !important; border: none; background-color:#f9f9f9=
">
<tbody>
<tr>
<td width=3D"100%" valign=3D"top" style=3D"border-collapse: collapse !impor=
tant; border-spacing: 0 !important; border: none;">
<table width=3D"600" class=3D"device-width header-logo" border=3D"0" cellpa=
dding=3D"0" cellspacing=3D"0" align=3D"center" style=3D"border-collapse: co=
llapse !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td valign=3D"top" style=3D"border-collapse: collapse !important; border-sp=
acing: 0 !important; padding: 15px 0 20px; border: none;"><a href=3D"http:/=
/rover.ebay.com/rover/0/e11401.m1831.l3127/7?euid=3Ddbcb14fd0b0340d69aeb343=
18fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.ebay.com%2Fulk%2F=
start%2Fshop&amp;exe=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACA=
ABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAAB=
EAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARA=
A0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhA=
EAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAg=
CAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;=
ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dex=
t,bu=3Dbu" style=3D"text-decoration: none; color: #0654ba;"><img src=3D"htt=
p://p.ebaystatic.com/aw/email/eBayLogo.png" width=3D"133" border=3D"0" alt=
=3D"eBay" style=3D"display: inline block; outline: none; text-decoration: n=
one; -ms-interpolation-mode: bicubic; border: none;" /></a><img src=3D"http=
://rover.ebay.com/roveropen/0/e11401/7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a=
3b4&amp;bu=3D43837668841&amp;exe=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=
=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAA=
AAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAA=
AggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQ=
AADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEA=
AQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAA=
AAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3D=
exe,ext=3Dext,bu=3Dbu" alt=3D"" aria-hidden=3D"true" role=3D"presentation" =
style=3D"border:0; height:1;" /></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table width=3D"100%" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" alig=
n=3D"center" style=3D"border-collapse: collapse !important; border-spacing:=
 0 !important; border: none; background-color:#f9f9f9">
<tbody>
<tr>
<td width=3D"100%" valign=3D"top" style=3D"border-collapse: collapse !impor=
tant; border-spacing: 0 !important; border: none;">
<table width=3D"600" cellspacing=3D"0" cellpadding=3D"0" border=3D"0" bgcol=
or=3D"#F9F9F9" align=3D"center" style=3D"border-collapse: collapse !importa=
nt; border-spacing: 0 !important; border: none;" class=3D"device-width">
<tbody>
<tr>
<td valign=3D"top" style=3D"border-collapse: collapse !important; border-sp=
acing: 0 !important; padding: 4px 0 5px;" class=3D"secondary-headline">
<h1 align=3D"left" class=3D"mobile-dealmaker-headline" style=3D"font-family=
: Helvetica, Arial, sans-serif; font-weight: 200; line-height: 29px; color:=
 #333333; text-align: left; font-size: 24px; margin: 0 0 1px;">Your order i=
s on its way, Sergey!</h1>
<table width=3D"600" cellspacing=3D"0" cellpadding=3D"0" border=3D"0" bgcol=
or=3D"#F9F9F9" align=3D"center" style=3D"border-collapse: collapse !importa=
nt; border-spacing: 0 !important; border: none;" class=3D"device-width">
<tbody>
<tr>
<td valign=3D"top" style=3D"border-collapse: collapse !important; border-sp=
acing: 0 !important; border: none;">
<h3 align=3D"left" class=3D"mobile-dealmaker-storyline" style=3D"font-famil=
y: Helvetica, Arial, sans-serif; font-weight: 200; line-height: 18px; color=
: #333333; text-align: left; font-size: 14px; margin: 10px 0 1px;">Thank yo=
u for shopping on eBay! Your order has shipped to 3 Dunnville rd, Keswick, =
CA, ON, L4P 3Y7. The tracking number is <a href=3D"http://rover.ebay.com/ro=
ver/0/e11401.m1838.l7719/7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=
=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.ebay.com%2Fulk%2Fvod%3Ftransid%3D=
1392680573020%26itemid%3D302058035213%26qu%3D1%26ssPageName%3DADME%3AL%3AOC=
%3AUS%3A5920&amp;exe=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACA=
ABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAAB=
EAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARA=
A0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhA=
EAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAg=
CAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;=
ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dex=
t,bu=3Dbu" style=3D"text-decoration: none; color: #0654ba;"><%= @product.tracking_number%></=
a>. We hope you enjoy your purchase!</h3>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table width=3D"100%" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" alig=
n=3D"center" style=3D"border-collapse: collapse !important; border-spacing:=
 0 !important; border: none; background-color:#f9f9f9">
<tbody>
<tr>
<td>
<table width=3D"600" class=3D"device-width" border=3D"0" cellpadding=3D"0" =
cellspacing=3D"0" align=3D"center" bgcolor=3D"#F9F9F9" style=3D"border-coll=
apse: collapse !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td valign=3D"top" class=3D"cta-block" style=3D"border-collapse: collapse !=
important; border-spacing: 0 !important; padding: 24px 0 24px 0px; border: =
none;">
<table align=3D"left" cellpadding=3D"0" cellspacing=3D"0" border=3D"0" clas=
s=3D"mobile-full-width" style=3D"max-width: 320px; border-collapse: collaps=
e !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr><!--[if gte mso 9]>
                                                <td width=3D"292" valign=3D=
"top" class=3D"center mobile-dealmaker-CTA1" align=3D"center" bgcolor=3D"#0=
654BA" style=3D"min-width: 290px; border-collapse: collapse !important; bor=
der-spacing: 0 !important; font-size: 16px; line-height: normal       ;back=
ground-color: 0654BA; padding: 10px 17px; ">
                                                <![endif]-->
<!--[if !mso]><!-->
<td width=3D"292" valign=3D"top" class=3D"center mobile-dealmaker-CTA1" ali=
gn=3D"center" bgcolor=3D"#0654BA" style=3D"min-width: 290px; border-collaps=
e: collapse !important; border-spacing: 0 !important; font-size: 16px; line=
-height: normal;background-color: 0654BA; padding-top: 10px; padding-bottom=
:10px;"><!--<![endif]-->
<a href=3D"http://rover.ebay.com/rover/0/e11401.m44.l7719/7?euid=3Ddbcb14fd=
0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.eb=
ay.com%2Fulk%2Fvod%3Fitemid%3D302058035213%26transid%3D1392680573020&amp;ex=
e=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQA=
ADABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAA=
QABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAA=
AAAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAA=
AAAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQ=
AAACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=
=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=
=3D"text-decoration: none; color: #ffffff; font-size: 16px; line-height: 18=
px; font-weight: 200; font-family: Helvetica, Arial, sans-serif; padding: 1=
0px 17px;">Track order</a></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table id=3D"horizontalLine1" class=3D"turnOnMobile-horizontalLine" width=
=3D"0" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" align=3D"center" st=
yle=3D"font-size: 0; overflow:hidden; display: none; border-collapse: colla=
pse !important; border-spacing: 0 !important; border-top: solid 1px #dddddd=
; background-color: #ffffff">
<tbody>
<tr>
<td style=3D"border-collapse: collapse !important; border-spacing: 0 !impor=
tant; border: none; font-size:0px; line-height:0px;padding-bottom: 20px;" h=
eight=3D"1">&#160;</td>
</tr>
</tbody>
</table>
<table width=3D"100%" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" alig=
n=3D"center" style=3D"border-collapse: collapse !important; border-spacing:=
 0 !important; border: none; background-color:#f9f9f9; margin: 0; padding: =
0">
<tbody>
<tr>
<td width=3D"100%" valign=3D"top" style=3D"border-collapse: collapse !impor=
tant; border-spacing: 0 !important; border: none; padding: 0; margin: 0;">
<table width=3D"600" class=3D"dealmaker-600desktop-100mobile mobile-dealmak=
er-product-background" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" ali=
gn=3D"center" style=3D"border-collapse: collapse !important; border-spacing=
: 0 !important; border: none;">
<tbody>
<tr>
<td valign=3D"top" style=3D"border-collapse: collapse !important; border-sp=
acing: 0 !important; padding: 0; border: none; margin: 0;"><!--[if gte mso =
9]>
                                   <table width=3D"276" class=3D"mobile-dea=
lmaker-300px" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" align=3D"lef=
t" style=3D"float:left; border-collapse: collapse !important; border-spacin=
g: 0 !important; border: none;">
                            <tr>
                                                <td valign=3D"top" style=3D=
"border-collapse: collapse !important; border-spacing: 0 !important; paddin=
g: 0 0 0px; border: none;"><![endif]-->
<table width=3D"276" class=3D"mobile-dealmaker-300px" border=3D"0" cellpadd=
ing=3D"0" cellspacing=3D"0" align=3D"center" style=3D"float:left; border-co=
llapse: collapse !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td valign=3D"top" class=3D"mobile-remove-padding" style=3D"border-collapse=
: collapse !important; border-spacing: 0 !important; padding: 0 0 20px; bor=
der: none;">
<table class=3D"single-product-table" width=3D"276" align=3D"left" cellspac=
ing=3D"0" cellpadding=3D"0" style=3D"float: left; border-collapse: collapse=
 !important; border-spacing: 0 !important; border: none; margin-bottom: 0px=
 !important;">
<tbody>
<tr>
<td valign=3D"middle" width=3D"275" height=3D"275" align=3D"center" class=
=3D"mobile-dealmaker-product-image" style=3D"border-collapse: collapse !imp=
ortant; border-spacing: 0 !important; border: 1px solid #dddddd; background=
-color: #ffffff; padding: 0; margin: 0;"><a href=3D"http://rover.ebay.com/r=
over/0/e11401.m1842.l5920/7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=
=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.ebay.com%2Fulk%2Fvod%3Fitemid%3D3=
02058035213%26transid%3D1392680573020&amp;exe=3D16966&amp;ext=3D43852&amp;e=
s=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQAAAAA=
AAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCAABBQA=
AACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACAABCgk=
AEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABABEAAAA=
AAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARgA0CCI=
QAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,e=
c=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=3D"text-decoration: none; color: =
#0654ba;"><span class=3D"div-mobile-dealmaker-product-image" style=3D"width=
:275px; display: block;"><img src=3D"http://thumbs.ebaystatic.com/d/l275/pi=
ct/30205803521300000001_1.jpg" alt=3D"Click here to view image for your ord=
er" border=3D"0" style=3D"max-width:100%; display: block; outline: none; te=
xt-decoration: none; -ms-interpolation-mode: bicubic; margin: 0; border: no=
ne;" /></span></a></td>
<!--[if gte mso 9]>
                                                                           =
                                             <td class=3D"single-product-pa=
d" style=3D"padding: 0 14px 0 0; border-collapse: collapse !important; bord=
er-spacing: 0 !important; border: none;">&nbsp;</td>
                                                                           =
                                     <![endif]-->
<!--[if !mso]><!-->
<td class=3D"single-product-pad" style=3D"padding: 0 20px 0 0; border-colla=
pse: collapse !important; border-spacing: 0 !important; border: none;" aria=
-hidden=3D"true">&#160;</td>
<!--<![endif]--></tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<!--[if gte mso 9]></td>
                                            </tr>
                                        </table><![endif]-->
<table id=3D"horizontalLine2" class=3D"turnOnMobile-horizontalLine" width=
=3D"0" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" align=3D"center" st=
yle=3D"font-size: 0; overflow:hidden; display: none; border-collapse: colla=
pse !important; border-spacing: 0 !important; border-top: solid 1px #dddddd=
; background-color: #f9f9f9">
<tbody>
<tr>
<td style=3D"border-collapse: collapse !important; border-spacing: 0 !impor=
tant; border: none; font-size:0px; line-height:0px;padding-bottom: 20px;" h=
eight=3D"1">&#160;</td>
</tr>
</tbody>
</table>
<table width=3D"298" class=3D"mobile-dealmaker-100 mobile-dealmaker-grey-ba=
ckground" height=3D"0" align=3D"left" border=3D"0" cellspacing=3D"0" cellpa=
dding=3D"0" style=3D"table-layout: fixed; border-collapse: collapse !import=
ant; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td style=3D"border-collapse: collapse !important; border-spacing: 0 !impor=
tant; border: none; padding: 0; margin: 0;">
<table width=3D"298" height=3D"0" align=3D"center" border=3D"0" cellspacing=
=3D"0" cellpadding=3D"0" style=3D"table-layout: fixed; border-collapse: col=
lapse !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td width=3D"298" style=3D"border-collapse: collapse !important; border-spa=
cing: 0 !important; border: none; padding: 0; margin: 0;">
<table width=3D"298" class=3D"device-width" height=3D"0" align=3D"left" bor=
der=3D"0" cellspacing=3D"0" cellpadding=3D"0" style=3D"table-layout: fixed;=
 border-collapse: collapse !important; border-spacing: 0 !important; border=
: none;">
<tbody>
<tr>
<td width=3D"290" style=3D"word-wrap: break-word; border-collapse: collapse=
 !important; border-spacing: 0 !important; border: none; padding: 0 0 5px 0=
;">
<h2 class=3D"product-name" style=3D"font-family: Helvetica, Arial, sans-ser=
if; font-weight: 200; line-height: 24px; color: #0654BA; text-align: left; =
font-size: 18px; margin: 0 0 5px;" align=3D"left"><a href=3D"http://rover.e=
bay.com/rover/0/e11401.m1842.l5919/7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a3b=
4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.ebay.com%2Fulk%2Fvod%3Fit=
emid%3D302058035213%26transid%3D1392680573020&amp;exe=3D16966&amp;ext=3D438=
52&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIA=
ABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEE=
CCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFA=
ACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAA=
BABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAC=
ARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=
=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=3D"text-decoration: none;=
 color: #0654ba;">NEW AVID ELIXIE E3 Hydraulic Disc Brake...</a></h2>
</td>
</tr>
<tr>
<td class=3D"product-price" style=3D"border-collapse: collapse !important; =
border-spacing: 0 !important; font-family: Helvetica, Arial, sans-serif; te=
xt-align: left; font-size: 14px; color: #333333; line-height: 14px; font-we=
ight: none; padding: 0px 0 4px 0; border: none; margin: 0;" align=3D"left">=
item: Front+Rear</td>
</tr>
<tr>
<td class=3D"product-price" style=3D"border-collapse: collapse !important; =
border-spacing: 0 !important; font-family: Helvetica, Arial, sans-serif; te=
xt-align: left; font-size: 14px; color: #333333; line-height: 16px; font-we=
ight: none; padding: 0px 0 4px 0; border: none; margin: 0;" align=3D"left">=
Item ID: 302058035213</td>
</tr>
<tr>
<td class=3D"product-price" style=3D"border-collapse: collapse !important; =
border-spacing: 0 !important; font-family: Helvetica, Arial, sans-serif; te=
xt-align: left; font-size: 14px; color: #333333; line-height: 16px; font-we=
ight: none; padding: 0px 0 4px 0; border: none; margin: 0;" align=3D"left">=
Quantity: 1</td>
</tr>
<tr>
<td class=3D"product-price" style=3D"border-collapse: collapse !important; =
border-spacing: 0 !important; font-family: Helvetica, Arial, sans-serif; te=
xt-align: left; font-size: 14px; color: #333333; line-height: 16px; font-we=
ight: none; padding: 0px 0 4px 0; border: none; margin: 0;" align=3D"left">=
Estimated delivery: Mon. Jun. 19 - Tue. Jul. 25</td>
</tr>
<tr>
<td class=3D"product-price" style=3D"border-collapse: collapse !important; =
border-spacing: 0 !important; font-family: Helvetica, Arial, sans-serif; te=
xt-align: left; font-size: 14px; color: #333333; line-height: 16px; font-we=
ight: none; padding: 0px 0 4px 0; border: none; margin: 0;" align=3D"left">=
Paid: $79.55 with PayPal</td>
</tr>
</tbody>
</table>
<table width=3D"298" class=3D"device-width" height=3D"0" align=3D"left" bor=
der=3D"0" cellspacing=3D"0" cellpadding=3D"0" style=3D"table-layout: fixed;=
 border-collapse: collapse !important; border-spacing: 0 !important; border=
: none;">
<tbody>
<tr>
<td align=3D"left" style=3D"padding-top: 10px; border-collapse: collapse !i=
mportant; border-spacing: 0 !important; font-family: Helvetica, Arial, sans=
-serif; text-align: left; font-size: 14px; color: #000000; border: none;" c=
lass=3D"product-bids">
<table width=3D"297" height=3D"0" align=3D"left" border=3D"0" cellspacing=
=3D"0" cellpadding=3D"0" style=3D"table-layout: fixed; border-collapse: col=
lapse !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td valign=3D"top" width=3D"16" align=3D"left" style=3D"border-collapse: co=
llapse !important; border-spacing: 0 !important; border: none; margin: 0; p=
adding: 0 0 15px 0; border-left: none;"><img src=3D"http://p.ebaystatic.com=
/aw/email/SITE_EMAIL_DARK_GREY_CHECKMARK.jpg" alt=3D"" width=3D"16" border=
=3D"0" style=3D"display:block;" /></td>
<td valign=3D"top" width=3D"288" style=3D"border-collapse: collapse !import=
ant; border-spacing: 0 !important; border: none; font-family:Helvetica, Ari=
al, Sans-serif; font-weight: normal; line-height: 16px; color: #555555; tex=
t-align: left; font-size: 14px; margin: 0; padding: 0px 15px 15px 10px;">Se=
ller: <a href=3D"http://rover.ebay.com/rover/0/e11401.m1842.l1181/7?euid=3D=
dbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%=
2Fwww.ebay.com%2Fulk%2Fusr%2Fants-bike&amp;exe=3D16966&amp;ext=3D43852&amp;=
es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQAAAA=
AAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCAABBQ=
AAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACAABCg=
kAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABABEAAA=
AAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARgA0CC=
IQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,=
ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=3D"text-decoration: none; color:=
 #0654ba;">ants-bike</a>.</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table id=3D"area8Container" width=3D"100%" border=3D"0" cellpadding=3D"0" =
cellspacing=3D"0" align=3D"center" style=3D"border-collapse: collapse !impo=
rtant; border-spacing: 0 !important; border: none; border-top: solid 1px #d=
ddddd; background-color: #ffffff">
<tbody>
<tr>
<td style=3D"font-size:0px; line-height:0px" height=3D"1" aria-hidden=3D"tr=
ue">&#160;</td>
</tr>
</tbody>
</table>
<table class=3D"whiteSection dynamic-component" width=3D"100%" border=3D"0"=
 cellpadding=3D"0" cellspacing=3D"0" align=3D"center" style=3D"border-colla=
pse: collapse !important; border-spacing: 0 !important; border: none; backg=
round-color: #ffffff">
<tbody>
<tr>
<td width=3D"100%" valign=3D"top" style=3D"border-collapse: collapse !impor=
tant; border-spacing: 0 !important; border: none;">
<table width=3D"600" class=3D"device-width" border=3D"0" cellpadding=3D"0" =
cellspacing=3D"0" align=3D"center" style=3D"border-collapse: collapse !impo=
rtant; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td aria-hidden=3D"true"><img src=3D"http://rover.ebay.com/roverimp/0/11401=
/9?trknvp=3Dplmt%3DPQIAAB%252BLCAAAAAAAAACdksFugzAMht%252FFZw42SQjhVaYe0rQE=
JCiIlq5rxbvvBzpV7dTDdkliy5%252F%252FX3Zu1EcqRDRLQn1NxceN6h0yzFaQCkilLJZFWFL=
RyiQ0IEfalN5xMCwu6CA4M5Wy8aXlzIe9p4T2J7Tb4PZr23v3Gb6e%252B5gfHIpahD7iceyoOI=
xNAxuQdNomVMLHlKxIOmbaukGvyFr4hOTOuWdE55WqPr%252FMWxX7SyT6stpGvhNN90oY%252B=
yqiYr8dLmp860s%252FfGEW3Z%252BH0ID81ygApg9hP5OCLbKA8%252Bef8rZeytoLFQx7YYn8=
cYl8t2h35bzHuUnARhUufBCeNtM3%252FdT6Oz0CAAA%253D%26po%3D%5B%28pg%3A11401+pi=
d%3A100711%29%5D&amp;imp=3D2053444" alt=3D"" role=3D"presentation" aria-hid=
den=3D"true" style=3D"border:0; height:1;" /></td>
</tr>
<tr>
<td valign=3D"top" class=3D"secondary-headline" style=3D"border-collapse: c=
ollapse !important; border-spacing: 0 !important; border-bottom-color: #ddd=
ddd; border-bottom-width: 1px; padding: 20px 0 5px; border-style: none none=
 solid;">
<h1 style=3D"font-family: Helvetica Neue, Arial, Helvetica, sans-serif; fon=
t-weight: normal; line-height: 29px; color: #333333; text-align: left; font=
-size: 24px; margin: 0 0 14px;" align=3D"left">Based on your browsing histo=
ry</h1>
</td>
</tr>
<tr>
<td valign=3D"top" style=3D"border-collapse: collapse !important; border-sp=
acing: 0 !important; border: none; padding: 0 0 0 0;">
<div align=3D"left" border=3D"0" cellspacing=3D"0" cellpadding=3D"0" width=
=3D"322" style=3D"border-collapse: separate !important; border-spacing: 0 !=
important; border: none; float:left; display:inline;">
<table align=3D"left" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" styl=
e=3D"148px; border-collapse: collapse !important; border-spacing: 0 !import=
ant; border: none;">
<tbody>
<tr>
<td valign=3D"top" class=3D"fourColumnsTd" style=3D"width:148px; border-col=
lapse: collapse !important; border-spacing: 0 !important; padding: 10px 0px=
; border: none;"><a href=3D"http://rover.ebay.com/rover/0/e11401.m-1.l7726/=
7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dht=
tp%3A%2F%2Fwww.ebay.com%2Fulk%2Fitm%2F391561237701%3F_trksid%3Dp11401.c1007=
11.m-1%26_trkparms%3Daid%253D111001%2526algo%253DREC.SEED%2526ao%253D1%2526=
asc%253D20170110121435%2526meid%253D45fa90c5019c4c119c63205af706acea%2526pi=
d%253D100711%2526rk%253D1%2526rkt%253D2%2526mehot%253Dag%2526sd%253D3915612=
37701&amp;exe=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAE=
qAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAA=
AAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAA=
AAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAA=
ACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAz=
gAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&=
amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3D=
bu" style=3D"display: inline !important; outline: none; border: none; text-=
decoration: none;" tabindex=3D"-1">
<table width=3D"117" border=3D"0" cellspacing=3D"0" cellpadding=3D"0" align=
=3D"center" style=3D"float: center; table-layout: fixed; border-collapse: c=
ollapse !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td height=3D"115" align=3D"center" valign=3D"middle" style=3D"border: 1px =
solid #dddddd"><a style=3D"display: block; margin: 0; border: none;" href=
=3D"http://rover.ebay.com/rover/0/e11401.m-1.l1120/7?euid=3Ddbcb14fd0b0340d=
69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.ebay.com%=
2Fulk%2Fitm%2F391561237701%3F_trksid%3Dp11401.c100711.m-1%26_trkparms%3Daid=
%253D111001%2526algo%253DREC.SEED%2526ao%253D1%2526asc%253D20170110121435%2=
526meid%253D45fa90c5019c4c119c63205af706acea%2526pid%253D100711%2526rk%253D=
1%2526rkt%253D2%2526mehot%253Dag%2526sd%253D391561237701&amp;exe=3D16966&am=
p;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAE=
AEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgC=
AEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;n=
qt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAA=
AAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAI=
AAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nq=
c=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu"><span style=3D"displ=
ay: block; outline: none; text-decoration: none; -ms-interpolation-mode: bi=
cubic; border-radius: 0px; margin: 0;"><img style=3D"max-width: 115px; max-=
height: 115px; outline: none; text-decoration: none; -ms-interpolation-mode=
: bicubic; margin: 0; border: 0;" src=3D"http://i.ebayimg.com/thumbs/images=
/g/1l0AAOSwzaJX2X0m/s-l115.jpg" alt=3D"Shimano BL-M445 BR-M446 Hydraulic MT=
B..." /></span></a></td>
</tr>
<tr>
<td width=3D"117" height=3D"15" valign=3D"top" style=3D"word-wrap: break-wo=
rd; word-break: break-word; overflow-wrap: break-word; border-collapse: col=
lapse !important; border-spacing: 0 !important; padding: 3px 0 0 0; border:=
 none;">
<h2 class=3D"product-name" style=3D"font-family: Helvetica Neue, Arial, Hel=
vetica, sans-serif; font-weight: 400; line-height: 15px; color: #333333; te=
xt-align: left; font-size: 13px; margin: 0; max-height: 30px !important; ov=
erflow: hidden !important" align=3D"left"></h2>
<a href=3D"http://rover.ebay.com/rover/0/e11401.m-1.l3160/7?euid=3Ddbcb14fd=
0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.eb=
ay.com%2Fulk%2Fitm%2F391561237701%3F_trksid%3Dp11401.c100711.m-1%26_trkparm=
s%3Daid%253D111001%2526algo%253DREC.SEED%2526ao%253D1%2526asc%253D201701101=
21435%2526meid%253D45fa90c5019c4c119c63205af706acea%2526pid%253D100711%2526=
rk%253D1%2526rkt%253D2%2526mehot%253Dag%2526sd%253D391561237701&amp;exe=3D1=
6966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABA=
AAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAA=
AgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIA=
C&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJA=
AAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACE=
IMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=
=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=3D"tex=
t-decoration: none; color: #0654ba;" tabindex=3D"-1">Shimano BL-M445 BR-M44=
6 Hydraulic MTB...</a></td>
</tr>
<tr>
<td class=3D"product-price" height=3D"20" style=3D"border-collapse: collaps=
e !important; border-spacing: 0 !important; font-family: Helvetica Neue, Ar=
ial, Helvetica, sans-serif; text-align: left; font-size: 16px; font-weight:=
 500; line-height: 18px; padding: 7px 0 0 0; border: none; color: #333333;"=
 align=3D"left">$29.47</td>
</tr>
<tr>
<td class=3D"product-shipping" height=3D"15" style=3D"border-collapse: coll=
apse !important; border-spacing: 0 !important; font-family: Helvetica Neue,=
 Arial, Helvetica, sans-serif; text-align: left; font-size: 11px; line-heig=
ht: 13px; border: none; padding: 1px 0 0 0; font-weight: 400; color: #76767=
6;word-wrap:normal;" align=3D"left"><span style=3D"text-decoration: line-th=
rough;">$64.99</span></td>
</tr>
<tr>
<td class=3D"product-shipping" height=3D"15" style=3D"border-collapse: coll=
apse !important; border-spacing: 0 !important; font-family: Helvetica Neue,=
 Arial, Helvetica, sans-serif; text-align: left; font-size: 11px; line-heig=
ht: 13px; border: none; padding: 1px 0 0 0; font-weight: 400; color: #76767=
6;word-wrap:normal;" align=3D"left">Free Shipping</td>
</tr>
<tr>
<td class=3D"product-shipping" height=3D"15" style=3D"border-collapse: coll=
apse !important; border-spacing: 0 !important; font-family: Helvetica Neue,=
 Arial, Helvetica, sans-serif; text-align: left; font-size: 11px; line-heig=
ht: 13px; border: none; padding: 1px 0 0 0; font-weight: 400; color: #dd1e3=
1;" align=3D"left">Almost gone</td>
</tr>
</tbody>
</table>
</a></td>
</tr>
</tbody>
</table>
<table align=3D"left" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" styl=
e=3D"148px; border-collapse: collapse !important; border-spacing: 0 !import=
ant; border: none;">
<tbody>
<tr>
<td valign=3D"top" class=3D"fourColumnsTd" style=3D"width:148px; border-col=
lapse: collapse !important; border-spacing: 0 !important; padding: 10px 0px=
; border: none;"><a href=3D"http://rover.ebay.com/rover/0/e11401.m-1.l7726/=
7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dht=
tp%3A%2F%2Fwww.ebay.com%2Fulk%2Fitm%2F222401653024%3F_trksid%3Dp11401.c1007=
11.m-1%26_trkparms%3Daid%253D111001%2526algo%253DREC.SEED%2526ao%253D1%2526=
asc%253D20170110121435%2526meid%253D45fa90c5019c4c119c63205af706acea%2526pi=
d%253D100711%2526rk%253D2%2526rkt%253D2%2526sd%253D391561237701&amp;exe=3D1=
6966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABA=
AAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAA=
AgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIA=
C&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJA=
AAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACE=
IMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=
=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=3D"dis=
play: inline !important; outline: none; border: none; text-decoration: none=
;" tabindex=3D"-1">
<table width=3D"117" border=3D"0" cellspacing=3D"0" cellpadding=3D"0" align=
=3D"center" style=3D"float: center; table-layout: fixed; border-collapse: c=
ollapse !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td height=3D"115" align=3D"center" valign=3D"middle" style=3D"border: 1px =
solid #dddddd"><a style=3D"display: block; margin: 0; border: none;" href=
=3D"http://rover.ebay.com/rover/0/e11401.m-1.l1120/7?euid=3Ddbcb14fd0b0340d=
69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.ebay.com%=
2Fulk%2Fitm%2F222401653024%3F_trksid%3Dp11401.c100711.m-1%26_trkparms%3Daid=
%253D111001%2526algo%253DREC.SEED%2526ao%253D1%2526asc%253D20170110121435%2=
526meid%253D45fa90c5019c4c119c63205af706acea%2526pid%253D100711%2526rk%253D=
2%2526rkt%253D2%2526sd%253D391561237701&amp;exe=3D16966&amp;ext=3D43852&amp=
;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQAAA=
AAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCAABB=
QAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACAABC=
gkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABABEAA=
AAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARgA0C=
CIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt=
,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu"><span style=3D"display: block; outlin=
e: none; text-decoration: none; -ms-interpolation-mode: bicubic; border-rad=
ius: 0px; margin: 0;"><img style=3D"max-width: 115px; max-height: 115px; ou=
tline: none; text-decoration: none; -ms-interpolation-mode: bicubic; margin=
: 0; border: 0;" src=3D"http://i.ebayimg.com/thumbs/images/g/2q0AAOSwjVVV1v=
pK/s-l115.jpg" alt=3D"Avid Elixir 3 E3 Hydraulic Disc Brake..." /></span></=
a></td>
</tr>
<tr>
<td width=3D"117" height=3D"15" valign=3D"top" style=3D"word-wrap: break-wo=
rd; word-break: break-word; overflow-wrap: break-word; border-collapse: col=
lapse !important; border-spacing: 0 !important; padding: 3px 0 0 0; border:=
 none;">
<h2 class=3D"product-name" style=3D"font-family: Helvetica Neue, Arial, Hel=
vetica, sans-serif; font-weight: 400; line-height: 15px; color: #333333; te=
xt-align: left; font-size: 13px; margin: 0; max-height: 30px !important; ov=
erflow: hidden !important" align=3D"left"></h2>
<a href=3D"http://rover.ebay.com/rover/0/e11401.m-1.l3160/7?euid=3Ddbcb14fd=
0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.eb=
ay.com%2Fulk%2Fitm%2F222401653024%3F_trksid%3Dp11401.c100711.m-1%26_trkparm=
s%3Daid%253D111001%2526algo%253DREC.SEED%2526ao%253D1%2526asc%253D201701101=
21435%2526meid%253D45fa90c5019c4c119c63205af706acea%2526pid%253D100711%2526=
rk%253D2%2526rkt%253D2%2526sd%253D391561237701&amp;exe=3D16966&amp;ext=3D43=
852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKI=
AABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAE=
ECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAF=
AACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAA=
ABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAA=
CARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nq=
t=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=3D"text-decoration: none=
; color: #0654ba;" tabindex=3D"-1">Avid Elixir 3 E3 Hydraulic Disc Brake...=
</a></td>
</tr>
<tr>
<td class=3D"product-price" height=3D"20" style=3D"border-collapse: collaps=
e !important; border-spacing: 0 !important; font-family: Helvetica Neue, Ar=
ial, Helvetica, sans-serif; text-align: left; font-size: 16px; font-weight:=
 500; line-height: 18px; padding: 7px 0 0 0; border: none; color: #333333;"=
 align=3D"left">$89.99</td>
</tr>
<tr>
<td class=3D"product-shipping" height=3D"15" style=3D"border-collapse: coll=
apse !important; border-spacing: 0 !important; font-family: Helvetica Neue,=
 Arial, Helvetica, sans-serif; text-align: left; font-size: 11px; line-heig=
ht: 13px; border: none; padding: 1px 0 0 0; font-weight: 400; color: #76767=
6;word-wrap:normal;" align=3D"left">Free Shipping</td>
</tr>
</tbody>
</table>
</a></td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table class=3D"whiteSection dynamic-component" width=3D"100%" border=3D"0"=
 cellpadding=3D"0" cellspacing=3D"0" align=3D"center" style=3D"border-colla=
pse: collapse !important; border-spacing: 0 !important; border: none; backg=
round-color: #ffffff">
<tbody>
<tr>
<td width=3D"100%" valign=3D"top" style=3D"border-collapse: collapse !impor=
tant; border-spacing: 0 !important; border: none;">
<table width=3D"600" class=3D"device-width" border=3D"0" cellpadding=3D"0" =
cellspacing=3D"0" align=3D"center" style=3D"border-collapse: collapse !impo=
rtant; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td aria-hidden=3D"true"><img src=3D"http://rover.ebay.com/roverimp/0/11401=
/9?trknvp=3Dplmt%3D0wIAAB%252BLCAAAAAAAAACFkstuwjAQRf9l1o7kV8ijK0Bi1y7a7hBC=
xjHgNonTOLQ8lH%252FvOIFWXaBu4sx47pm5I1%252Bg2UHOmKSMQGMhX17AFpihVMQpAY0pTll=
MGeOYkzEl0GIOtikGG6oNL5SUTG62QmyEznTCTWomEgiYDnErPNWIvdJRLA7t%252Fu1cxVhUQV=
4fypKAd7e%252FBvIki2MCW5yjR4D7VfJd1mVaf9xV8izLCJSoHPUErIf8AjSIKYe%252BJyNJn=
o%252FVlzi5uyQp6ADi%252F4B41%252B5P%252BpyMICgD8e9IQqYDSfxHOtVnlvq3uyOJmzl5=
j4TbUsOGhaA0RZD6xGjuqub1Za46P1d6b%252BbKe1vbJ7fYhFZ28FgdIUfDTg905YdIubFLgDx=
Pg7Ei9NP4hc4%252FeGOKaNaqulhPP23x4CNKdMSSJKUJUdGjO9SdrXfrycyVHakjQa8lkgsRY8=
XCtTP7bl5PjVkP1crWITHUYrufvhrfEmjocUA0vsS1HFptYBUMhztcbRiK9qv%252BG7pJUQfTA=
gAA%26po%3D%5B%28pg%3A11401+pid%3A100358%29%5D&amp;imp=3D2053444" alt=3D"" =
role=3D"presentation" aria-hidden=3D"true" style=3D"border:0; height:1;" />=
</td>
</tr>
<tr>
<td valign=3D"top" class=3D"secondary-headline" style=3D"border-collapse: c=
ollapse !important; border-spacing: 0 !important; border-bottom-color: #ddd=
ddd; border-bottom-width: 1px; padding: 20px 0 5px; border-style: none none=
 solid;">
<h1 style=3D"font-family: Helvetica Neue, Arial, Helvetica, sans-serif; fon=
t-weight: normal; line-height: 29px; color: #333333; text-align: left; font=
-size: 24px; margin: 0 0 14px;" align=3D"left">To complement your purchase<=
/h1>
</td>
</tr>
<tr>
<td valign=3D"top" style=3D"border-collapse: collapse !important; border-sp=
acing: 0 !important; border: none; padding: 0 0 0 0;">
<div align=3D"left" border=3D"0" cellspacing=3D"0" cellpadding=3D"0" width=
=3D"322" style=3D"border-collapse: separate !important; border-spacing: 0 !=
important; border: none; float:left; display:inline;">
<table align=3D"left" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" styl=
e=3D"148px; border-collapse: collapse !important; border-spacing: 0 !import=
ant; border: none;">
<tbody>
<tr>
<td valign=3D"top" class=3D"fourColumnsTd" style=3D"width:148px; border-col=
lapse: collapse !important; border-spacing: 0 !important; padding: 10px 0px=
; border: none;"><a href=3D"http://rover.ebay.com/rover/0/e11401.m3753.l772=
6/7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3D=
http%3A%2F%2Fwww.ebay.com%2Fulk%2Fitm%2F192150185930%3F_trksid%3Dp11401.c10=
0358.m3753%26_trkparms%3Daid%253D333008%2526algo%253DRIC.MBE%2526ao%253D1%2=
526asc%253D20150112100450%2526meid%253Df8045b0ce2da4414bf33b3c9c72e8e64%252=
6pid%253D100358%2526rk%253D1%2526rkt%253D4%2526sd%253D302058035213&amp;exe=
=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAA=
DABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQ=
ABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAA=
AAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAA=
AAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQA=
AACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=
=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=
=3D"display: inline !important; outline: none; border: none; text-decoratio=
n: none;" tabindex=3D"-1">
<table width=3D"117" border=3D"0" cellspacing=3D"0" cellpadding=3D"0" align=
=3D"center" style=3D"float: center; table-layout: fixed; border-collapse: c=
ollapse !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td height=3D"115" align=3D"center" valign=3D"middle" style=3D"border: 1px =
solid #dddddd"><a style=3D"display: block; margin: 0; border: none;" href=
=3D"http://rover.ebay.com/rover/0/e11401.m3753.l1120/7?euid=3Ddbcb14fd0b034=
0d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.ebay.co=
m%2Fulk%2Fitm%2F192150185930%3F_trksid%3Dp11401.c100358.m3753%26_trkparms%3=
Daid%253D333008%2526algo%253DRIC.MBE%2526ao%253D1%2526asc%253D2015011210045=
0%2526meid%253Df8045b0ce2da4414bf33b3c9c72e8e64%2526pid%253D100358%2526rk%2=
53D1%2526rkt%253D4%2526sd%253D302058035213&amp;exe=3D16966&amp;ext=3D43852&=
amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQ=
AAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCA=
ABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACA=
ABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABAB=
EAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARg=
A0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3D=
nqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu"><span style=3D"display: block; out=
line: none; text-decoration: none; -ms-interpolation-mode: bicubic; border-=
radius: 0px; margin: 0;"><img style=3D"max-width: 115px; max-height: 115px;=
 outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; mar=
gin: 0; border: 0;" src=3D"http://i.ebayimg.com/thumbs/images/g/cY8AAOSwopR=
Ylt~8/s-l115.jpg" alt=3D"Shimano Deore XT 6 Bolt MTB Bike Disc..." /></span=
></a></td>
</tr>
<tr>
<td width=3D"117" height=3D"15" valign=3D"top" style=3D"word-wrap: break-wo=
rd; word-break: break-word; overflow-wrap: break-word; border-collapse: col=
lapse !important; border-spacing: 0 !important; padding: 3px 0 0 0; border:=
 none;">
<h2 class=3D"product-name" style=3D"font-family: Helvetica Neue, Arial, Hel=
vetica, sans-serif; font-weight: 400; line-height: 15px; color: #333333; te=
xt-align: left; font-size: 13px; margin: 0; max-height: 30px !important; ov=
erflow: hidden !important" align=3D"left"></h2>
<a href=3D"http://rover.ebay.com/rover/0/e11401.m3753.l3160/7?euid=3Ddbcb14=
fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.=
ebay.com%2Fulk%2Fitm%2F192150185930%3F_trksid%3Dp11401.c100358.m3753%26_trk=
parms%3Daid%253D333008%2526algo%253DRIC.MBE%2526ao%253D1%2526asc%253D201501=
12100450%2526meid%253Df8045b0ce2da4414bf33b3c9c72e8e64%2526pid%253D100358%2=
526rk%253D1%2526rkt%253D4%2526sd%253D302058035213&amp;exe=3D16966&amp;ext=
=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAA=
AACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAA=
zgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3D=
EEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAA=
gBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAgg=
AAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dn=
qc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=3D"text-decoration:=
 none; color: #0654ba;" tabindex=3D"-1">Shimano Deore XT 6 Bolt MTB Bike Di=
sc...</a></td>
</tr>
<tr>
<td class=3D"product-price" height=3D"20" style=3D"border-collapse: collaps=
e !important; border-spacing: 0 !important; font-family: Helvetica Neue, Ar=
ial, Helvetica, sans-serif; text-align: left; font-size: 16px; font-weight:=
 500; line-height: 18px; padding: 7px 0 0 0; border: none; color: #333333;"=
 align=3D"left">$29.99</td>
</tr>
<tr>
<td class=3D"product-shipping" height=3D"15" style=3D"border-collapse: coll=
apse !important; border-spacing: 0 !important; font-family: Helvetica Neue,=
 Arial, Helvetica, sans-serif; text-align: left; font-size: 11px; line-heig=
ht: 13px; border: none; padding: 1px 0 0 0; font-weight: 400; color: #76767=
6;word-wrap:normal;" align=3D"left">Free Shipping</td>
</tr>
</tbody>
</table>
</a></td>
</tr>
</tbody>
</table>
<table align=3D"left" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" styl=
e=3D"148px; border-collapse: collapse !important; border-spacing: 0 !import=
ant; border: none;">
<tbody>
<tr>
<td valign=3D"top" class=3D"fourColumnsTd" style=3D"width:148px; border-col=
lapse: collapse !important; border-spacing: 0 !important; padding: 10px 0px=
; border: none;"><a href=3D"http://rover.ebay.com/rover/0/e11401.m3753.l772=
6/7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3D=
http%3A%2F%2Fwww.ebay.com%2Fulk%2Fitm%2F391677871632%3F_trksid%3Dp11401.c10=
0358.m3753%26_trkparms%3Daid%253D333008%2526algo%253DRIC.MBE%2526ao%253D1%2=
526asc%253D20150112100450%2526meid%253Df8045b0ce2da4414bf33b3c9c72e8e64%252=
6pid%253D100358%2526rk%253D2%2526rkt%253D4%2526sd%253D302058035213&amp;exe=
=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAA=
DABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQ=
ABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAA=
AAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAA=
AAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQA=
AACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=
=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=
=3D"display: inline !important; outline: none; border: none; text-decoratio=
n: none;" tabindex=3D"-1">
<table width=3D"117" border=3D"0" cellspacing=3D"0" cellpadding=3D"0" align=
=3D"center" style=3D"float: center; table-layout: fixed; border-collapse: c=
ollapse !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td height=3D"115" align=3D"center" valign=3D"middle" style=3D"border: 1px =
solid #dddddd"><a style=3D"display: block; margin: 0; border: none;" href=
=3D"http://rover.ebay.com/rover/0/e11401.m3753.l1120/7?euid=3Ddbcb14fd0b034=
0d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.ebay.co=
m%2Fulk%2Fitm%2F391677871632%3F_trksid%3Dp11401.c100358.m3753%26_trkparms%3=
Daid%253D333008%2526algo%253DRIC.MBE%2526ao%253D1%2526asc%253D2015011210045=
0%2526meid%253Df8045b0ce2da4414bf33b3c9c72e8e64%2526pid%253D100358%2526rk%2=
53D2%2526rkt%253D4%2526sd%253D302058035213&amp;exe=3D16966&amp;ext=3D43852&=
amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQ=
AAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCA=
ABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACA=
ABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABAB=
EAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARg=
A0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3D=
nqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu"><span style=3D"display: block; out=
line: none; text-decoration: none; -ms-interpolation-mode: bicubic; border-=
radius: 0px; margin: 0;"><img style=3D"max-width: 115px; max-height: 115px;=
 outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; mar=
gin: 0; border: 0;" src=3D"http://i.ebayimg.com/thumbs/images/g/BEkAAOSwt5h=
Ye8T-/s-l115.jpg" alt=3D"CLARKS UNIVERSAL STAINLESS STEEL BRAK..." /></span=
></a></td>
</tr>
<tr>
<td width=3D"117" height=3D"15" valign=3D"top" style=3D"word-wrap: break-wo=
rd; word-break: break-word; overflow-wrap: break-word; border-collapse: col=
lapse !important; border-spacing: 0 !important; padding: 3px 0 0 0; border:=
 none;">
<h2 class=3D"product-name" style=3D"font-family: Helvetica Neue, Arial, Hel=
vetica, sans-serif; font-weight: 400; line-height: 15px; color: #333333; te=
xt-align: left; font-size: 13px; margin: 0; max-height: 30px !important; ov=
erflow: hidden !important" align=3D"left"></h2>
<a href=3D"http://rover.ebay.com/rover/0/e11401.m3753.l3160/7?euid=3Ddbcb14=
fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.=
ebay.com%2Fulk%2Fitm%2F391677871632%3F_trksid%3Dp11401.c100358.m3753%26_trk=
parms%3Daid%253D333008%2526algo%253DRIC.MBE%2526ao%253D1%2526asc%253D201501=
12100450%2526meid%253Df8045b0ce2da4414bf33b3c9c72e8e64%2526pid%253D100358%2=
526rk%253D2%2526rkt%253D4%2526sd%253D302058035213&amp;exe=3D16966&amp;ext=
=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAA=
AACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAA=
zgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3D=
EEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAA=
gBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAgg=
AAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dn=
qc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=3D"text-decoration:=
 none; color: #0654ba;" tabindex=3D"-1">CLARKS UNIVERSAL STAINLESS STEEL BR=
AK...</a></td>
</tr>
<tr>
<td class=3D"product-price" height=3D"20" style=3D"border-collapse: collaps=
e !important; border-spacing: 0 !important; font-family: Helvetica Neue, Ar=
ial, Helvetica, sans-serif; text-align: left; font-size: 16px; font-weight:=
 500; line-height: 18px; padding: 7px 0 0 0; border: none; color: #333333;"=
 align=3D"left">$4.30</td>
</tr>
<tr>
<td class=3D"product-shipping" height=3D"15" style=3D"border-collapse: coll=
apse !important; border-spacing: 0 !important; font-family: Helvetica Neue,=
 Arial, Helvetica, sans-serif; text-align: left; font-size: 11px; line-heig=
ht: 13px; border: none; padding: 1px 0 0 0; font-weight: 400; color: #76767=
6;word-wrap:normal;" align=3D"left">Free Shipping</td>
</tr>
</tbody>
</table>
</a></td>
</tr>
</tbody>
</table>
</div>
<div align=3D"left" border=3D"0" cellspacing=3D"0" cellpadding=3D"0" width=
=3D"322" style=3D"border-collapse: separate !important; border-spacing: 0 !=
important; border: none; float:left; display:inline;">
<table align=3D"left" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" styl=
e=3D"148px; border-collapse: collapse !important; border-spacing: 0 !import=
ant; border: none;">
<tbody>
<tr>
<td valign=3D"top" class=3D"fourColumnsTd" style=3D"width:148px; border-col=
lapse: collapse !important; border-spacing: 0 !important; padding: 10px 0px=
; border: none;"><a href=3D"http://rover.ebay.com/rover/0/e11401.m3753.l772=
6/7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3D=
http%3A%2F%2Fwww.ebay.com%2Fulk%2Fitm%2F221517759283%3F_trksid%3Dp11401.c10=
0358.m3753%26_trkparms%3Daid%253D333008%2526algo%253DRIC.MBE%2526ao%253D1%2=
526asc%253D20150112100450%2526meid%253Df8045b0ce2da4414bf33b3c9c72e8e64%252=
6pid%253D100358%2526rk%253D3%2526rkt%253D4%2526mehot%253Dlo%2526sd%253D3020=
58035213&amp;exe=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCg=
kAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAA=
AAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CC=
IAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEg=
AAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEA=
AAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=
=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,=
bu=3Dbu" style=3D"display: inline !important; outline: none; border: none; =
text-decoration: none;" tabindex=3D"-1">
<table width=3D"117" border=3D"0" cellspacing=3D"0" cellpadding=3D"0" align=
=3D"center" style=3D"float: center; table-layout: fixed; border-collapse: c=
ollapse !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td height=3D"115" align=3D"center" valign=3D"middle" style=3D"border: 1px =
solid #dddddd"><a style=3D"display: block; margin: 0; border: none;" href=
=3D"http://rover.ebay.com/rover/0/e11401.m3753.l1120/7?euid=3Ddbcb14fd0b034=
0d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.ebay.co=
m%2Fulk%2Fitm%2F221517759283%3F_trksid%3Dp11401.c100358.m3753%26_trkparms%3=
Daid%253D333008%2526algo%253DRIC.MBE%2526ao%253D1%2526asc%253D2015011210045=
0%2526meid%253Df8045b0ce2da4414bf33b3c9c72e8e64%2526pid%253D100358%2526rk%2=
53D3%2526rkt%253D4%2526mehot%253Dlo%2526sd%253D302058035213&amp;exe=3D16966=
&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAA=
hAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgAB=
AgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&am=
p;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIg=
AAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEA=
AAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des=
,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu"><span style=3D"di=
splay: block; outline: none; text-decoration: none; -ms-interpolation-mode:=
 bicubic; border-radius: 0px; margin: 0;"><img style=3D"max-width: 115px; m=
ax-height: 115px; outline: none; text-decoration: none; -ms-interpolation-m=
ode: bicubic; margin: 0; border: 0;" src=3D"http://i.ebayimg.com/thumbs/ima=
ges/g/NxAAAOSwDk5T5MCH/s-l115.jpg" alt=3D"Shimano Mountain Bike Shift Cable=
 &amp; H..." /></span></a></td>
</tr>
<tr>
<td width=3D"117" height=3D"15" valign=3D"top" style=3D"word-wrap: break-wo=
rd; word-break: break-word; overflow-wrap: break-word; border-collapse: col=
lapse !important; border-spacing: 0 !important; padding: 3px 0 0 0; border:=
 none;">
<h2 class=3D"product-name" style=3D"font-family: Helvetica Neue, Arial, Hel=
vetica, sans-serif; font-weight: 400; line-height: 15px; color: #333333; te=
xt-align: left; font-size: 13px; margin: 0; max-height: 30px !important; ov=
erflow: hidden !important" align=3D"left"></h2>
<a href=3D"http://rover.ebay.com/rover/0/e11401.m3753.l3160/7?euid=3Ddbcb14=
fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.=
ebay.com%2Fulk%2Fitm%2F221517759283%3F_trksid%3Dp11401.c100358.m3753%26_trk=
parms%3Daid%253D333008%2526algo%253DRIC.MBE%2526ao%253D1%2526asc%253D201501=
12100450%2526meid%253Df8045b0ce2da4414bf33b3c9c72e8e64%2526pid%253D100358%2=
526rk%253D3%2526rkt%253D4%2526mehot%253Dlo%2526sd%253D302058035213&amp;exe=
=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAA=
DABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQ=
ABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAA=
AAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAA=
AAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQA=
AACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=
=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=
=3D"text-decoration: none; color: #0654ba;" tabindex=3D"-1">Shimano Mountai=
n Bike Shift Cable &amp; H...</a></td>
</tr>
<tr>
<td class=3D"product-price" height=3D"20" style=3D"border-collapse: collaps=
e !important; border-spacing: 0 !important; font-family: Helvetica Neue, Ar=
ial, Helvetica, sans-serif; text-align: left; font-size: 16px; font-weight:=
 500; line-height: 18px; padding: 7px 0 0 0; border: none; color: #333333;"=
 align=3D"left">$23.48</td>
</tr>
<tr>
<td class=3D"product-shipping" height=3D"15" style=3D"border-collapse: coll=
apse !important; border-spacing: 0 !important; font-family: Helvetica Neue,=
 Arial, Helvetica, sans-serif; text-align: left; font-size: 11px; line-heig=
ht: 13px; border: none; padding: 1px 0 0 0; font-weight: 400; color: #76767=
6;word-wrap:normal;" align=3D"left">Free Shipping</td>
</tr>
<tr>
<td class=3D"product-shipping" height=3D"15" style=3D"border-collapse: coll=
apse !important; border-spacing: 0 !important; font-family: Helvetica Neue,=
 Arial, Helvetica, sans-serif; text-align: left; font-size: 11px; line-heig=
ht: 13px; border: none; padding: 1px 0 0 0; font-weight: 400; color: #dd1e3=
1;" align=3D"left">Last one</td>
</tr>
</tbody>
</table>
</a></td>
</tr>
</tbody>
</table>
<table align=3D"left" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" styl=
e=3D"148px; border-collapse: collapse !important; border-spacing: 0 !import=
ant; border: none;">
<tbody>
<tr>
<td valign=3D"top" class=3D"fourColumnsTd" style=3D"width:148px; border-col=
lapse: collapse !important; border-spacing: 0 !important; padding: 10px 0px=
; border: none;"><a href=3D"http://rover.ebay.com/rover/0/e11401.m3753.l772=
6/7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3D=
http%3A%2F%2Fwww.ebay.com%2Fulk%2Fitm%2F232188494275%3F_trksid%3Dp11401.c10=
0358.m3753%26_trkparms%3Daid%253D333008%2526algo%253DRIC.MBE%2526ao%253D1%2=
526asc%253D20150112100450%2526meid%253Df8045b0ce2da4414bf33b3c9c72e8e64%252=
6pid%253D100358%2526rk%253D4%2526rkt%253D4%2526sd%253D302058035213&amp;exe=
=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAA=
DABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQ=
ABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAA=
AAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAA=
AAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQA=
AACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=
=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=
=3D"display: inline !important; outline: none; border: none; text-decoratio=
n: none;" tabindex=3D"-1">
<table width=3D"117" border=3D"0" cellspacing=3D"0" cellpadding=3D"0" align=
=3D"center" style=3D"float: center; table-layout: fixed; border-collapse: c=
ollapse !important; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td height=3D"115" align=3D"center" valign=3D"middle" style=3D"border: 1px =
solid #dddddd"><a style=3D"display: block; margin: 0; border: none;" href=
=3D"http://rover.ebay.com/rover/0/e11401.m3753.l1120/7?euid=3Ddbcb14fd0b034=
0d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.ebay.co=
m%2Fulk%2Fitm%2F232188494275%3F_trksid%3Dp11401.c100358.m3753%26_trkparms%3=
Daid%253D333008%2526algo%253DRIC.MBE%2526ao%253D1%2526asc%253D2015011210045=
0%2526meid%253Df8045b0ce2da4414bf33b3c9c72e8e64%2526pid%253D100358%2526rk%2=
53D4%2526rkt%253D4%2526sd%253D302058035213&amp;exe=3D16966&amp;ext=3D43852&=
amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQ=
AAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCA=
ABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACA=
ABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABAB=
EAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARg=
A0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3D=
nqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu"><span style=3D"display: block; out=
line: none; text-decoration: none; -ms-interpolation-mode: bicubic; border-=
radius: 0px; margin: 0;"><img style=3D"max-width: 115px; max-height: 115px;=
 outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; mar=
gin: 0; border: 0;" src=3D"http://i.ebayimg.com/thumbs/images/g/o-EAAOSwMpZ=
Uq2Ws/s-l115.jpg" alt=3D"New Shimano Deore XT Saint SM-RT86 6-..." /></span=
></a></td>
</tr>
<tr>
<td width=3D"117" height=3D"15" valign=3D"top" style=3D"word-wrap: break-wo=
rd; word-break: break-word; overflow-wrap: break-word; border-collapse: col=
lapse !important; border-spacing: 0 !important; padding: 3px 0 0 0; border:=
 none;">
<h2 class=3D"product-name" style=3D"font-family: Helvetica Neue, Arial, Hel=
vetica, sans-serif; font-weight: 400; line-height: 15px; color: #333333; te=
xt-align: left; font-size: 13px; margin: 0; max-height: 30px !important; ov=
erflow: hidden !important" align=3D"left"></h2>
<a href=3D"http://rover.ebay.com/rover/0/e11401.m3753.l3160/7?euid=3Ddbcb14=
fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fwww.=
ebay.com%2Fulk%2Fitm%2F232188494275%3F_trksid%3Dp11401.c100358.m3753%26_trk=
parms%3Daid%253D333008%2526algo%253DRIC.MBE%2526ao%253D1%2526asc%253D201501=
12100450%2526meid%253Df8045b0ce2da4414bf33b3c9c72e8e64%2526pid%253D100358%2=
526rk%253D4%2526rkt%253D4%2526sd%253D302058035213&amp;exe=3D16966&amp;ext=
=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAA=
AACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAA=
zgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3D=
EEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAA=
gBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAgg=
AAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dn=
qc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=3D"text-decoration:=
 none; color: #0654ba;" tabindex=3D"-1">New Shimano Deore XT Saint SM-RT86 =
6-...</a></td>
</tr>
<tr>
<td class=3D"product-price" height=3D"20" style=3D"border-collapse: collaps=
e !important; border-spacing: 0 !important; font-family: Helvetica Neue, Ar=
ial, Helvetica, sans-serif; text-align: left; font-size: 16px; font-weight:=
 500; line-height: 18px; padding: 7px 0 0 0; border: none; color: #333333;"=
 align=3D"left">$39.99</td>
</tr>
<tr>
<td class=3D"product-shipping" height=3D"15" style=3D"border-collapse: coll=
apse !important; border-spacing: 0 !important; font-family: Helvetica Neue,=
 Arial, Helvetica, sans-serif; text-align: left; font-size: 11px; line-heig=
ht: 13px; border: none; padding: 1px 0 0 0; font-weight: 400; color: #76767=
6;word-wrap:normal;" align=3D"left">Free Shipping</td>
</tr>
</tbody>
</table>
</a></td>
</tr>
</tbody>
</table>
</div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table id=3D"area14Container" width=3D"100%" border=3D"0" cellpadding=3D"0"=
 cellspacing=3D"0" align=3D"center" style=3D"border-collapse: collapse !imp=
ortant; border-spacing: 0 !important; border: none; background-color:#fffff=
f;" class=3D"whiteSection dynamic-component">
<tbody>
<tr>
<td width=3D"100%" valign=3D"top" style=3D"border-collapse: collapse !impor=
tant; border-spacing: 0 !important; border: none;">
<table width=3D"600" class=3D"device-width" border=3D"0" cellpadding=3D"0" =
cellspacing=3D"0" align=3D"center" style=3D"border-collapse: collapse !impo=
rtant; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td valign=3D"top" class=3D"static-creative-block" style=3D"border-collapse=
: collapse !important; border-spacing: 0 !important; padding: 20px 0px 20px=
; border: none;">
<div class=3D"desktop-img" height=3D"90" style=3D"display: block; max-heigh=
t:90px"><a href=3D"http://rover.ebay.com/rover/0/e11401.m4216.l7667/7?euid=
=3Ddbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%=
2F%2Fpubads.g.doubleclick.net%2Fgampad%2Fjump%3Fiu%3D%2F6245%2Febay.ebayus.=
email%2Forderupdate%26items%3D%26ice%3D%26ccode%3D%26sz%3D728x90%26u%3Di_51=
45497592719586582%7Cm_706098%26dcopt%3Dist%26tile%3D1%26eb_trk%3D706098%26o=
rd%3D1496637222086&amp;exe=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEA=
ABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBA=
AAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAA=
AAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABA=
AAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAA=
AgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIA=
C&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ex=
t=3Dext,bu=3Dbu"><img width=3D"600" class=3D"desktop-img" style=3D"display:=
 block; width:100% !important;" src=3D"http://pubads.g.doubleclick.net/gamp=
ad/ad?iu=3D/6245/ebay.ebayus.email/orderupdate&amp;items=3D&amp;ice=3D&amp;=
ccode=3D&amp;sz=3D728x90&amp;u=3Di_5145497592719586582|m_706098&amp;dcopt=
=3Dist&amp;tile=3D1&amp;eb_trk=3D706098&amp;ord=3D1496637222086" /></a><img=
 class=3D"desktop-img" style=3D"display: block; width:100% !important;" src=
=3D"http://srx.main.ebayrtm.com/rtm?RtmIt&amp;ite=3D1&amp;m=3D706098&amp;pg=
=3D0&amp;y=3D4aDgpWXZnLV16aSZY&amp;uf=3D1&amp;ord=3D1496637222148&amp;ts=3D=
1496637222148&amp;aii=3D5145497592719586582" width=3D"1" height=3D"1" borde=
r=3D"0" alt=3D"" /></div>
<div class=3D"mobile-img" style=3D"display: none; max-height: 0px;"><a href=
=3D"http://rover.ebay.com/rover/0/e11401.m4216.l7667/7?euid=3Ddbcb14fd0b034=
0d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fpubads.g.do=
ubleclick.net%2Fgampad%2Fjump%3Fiu%3D%2F6245%2Febay.ebayus.email%2Forderupd=
ate%26items%3D%26ice%3D%26ccode%3D%26sz%3D300x250%26u%3Di_51454975960986943=
60%7Cm_706096%26dcopt%3Dist%26tile%3D1%26eb_trk%3D706096%26ord%3D1496637222=
099&amp;exe=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqA=
AAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAA=
AACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAA=
ACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAAC=
KIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgA=
AEECCAABBQAAACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&am=
p;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu=
"><img class=3D"mobile-img" style=3D"display: none; max-height: 0px;" src=
=3D"http://pubads.g.doubleclick.net/gampad/ad?iu=3D/6245/ebay.ebayus.email/=
orderupdate&amp;items=3D&amp;ice=3D&amp;ccode=3D&amp;sz=3D300x250&amp;u=3Di=
_5145497596098694360|m_706096&amp;dcopt=3Dist&amp;tile=3D1&amp;eb_trk=3D706=
096&amp;ord=3D1496637222099" /></a></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<table id=3D"area11Container" class=3D"whiteSection" width=3D"100%" border=
=3D"0" cellpadding=3D"0" cellspacing=3D"0" align=3D"center" style=3D"border=
-collapse: collapse !important; border-spacing: 0 !important; border: none;=
 background-color: #ffffff">
<tbody>
<tr>
<td width=3D"100%" valign=3D"top" style=3D"border-collapse: collapse !impor=
tant; border-spacing: 0 !important; border: none;">
<table width=3D"600" class=3D"device-width" border=3D"0" cellpadding=3D"0" =
cellspacing=3D"0" align=3D"center" style=3D"border-collapse: collapse !impo=
rtant; border-spacing: 0 !important; border: none;">
<tbody>
<tr>
<td class=3D"ebay-footer-block" style=3D"border-collapse: collapse !importa=
nt; border-spacing: 0 !important; padding: 20px 0 60px; border: none;">
<div id=3D"ReferenceId">
<p style=3D"font-family: Helvetica, Arial, sans-serif; font-weight: normal;=
 line-height: normal; color: #707070; text-align: left; font-size: 11px; ma=
rgin: 0 0 10px;" align=3D"left"><strong>Email reference id: [#dbcb14fd0b034=
0d69aeb34318fd2a3b4#]</strong></p>
</div>
<p style=3D"font-family: Helvetica, Arial, sans-serif; font-weight: normal;=
 line-height: normal; color: #707070; text-align: left; font-size: 11px; ma=
rgin: 0 0 10px;" align=3D"left">We don't check this mailbox, so please don'=
t reply to this message. If you have a question, go to <a style=3D"text-dec=
oration: none; color: #555555;" href=3D"http://rover.ebay.com/rover/0/e1140=
1.m1852.l6369/7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=3D4383766884=
1&amp;loc=3Dhttp%3A%2F%2Focsnext.ebay.com%2Focs%2Fhome&amp;exe=3D16966&amp;=
ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAE=
gAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAE=
AAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=
=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAA=
AAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAA=
AggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=
=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" target=3D"_blank">Hel=
p &amp; Contact</a>.</p>
<p style=3D"font-family: Helvetica, Arial, sans-serif; font-weight: normal;=
 line-height: normal; color: #707070; text-align: left; font-size: 11px; ma=
rgin: 0 0 10px;" align=3D"left">eBay sent this message to Sergey Gavrilyuk =
(sergey_gavrilyuk). Learn more about <a href=3D"http://rover.ebay.com/rover=
/0/e11401.m1852.l3167/7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=3D43=
837668841&amp;loc=3Dhttp%3A%2F%2Fpages.ebay.com%2Fhelp%2Faccount%2Fprotecti=
ng-account.html&amp;exe=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAABA=
ACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAA=
AABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAA=
ARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAAAA=
BhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAAgA=
FAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC&a=
mp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=
=3Dext,bu=3Dbu" style=3D"text-decoration: none; color: #555555;">account pr=
otection</a>. eBay is committed to your privacy. Learn more about our <a hr=
ef=3D"http://rover.ebay.com/rover/0/e11401.m1852.l3168/7?euid=3Ddbcb14fd0b0=
340d69aeb34318fd2a3b4&amp;bu=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fpages.eba=
y.com%2Fhelp%2Fpolicies%2Fprivacy-policy.html&amp;exe=3D16966&amp;ext=3D438=
52&amp;es=3D0&amp;nqc=3DEEAABAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIA=
ABQAAAAAAAJAAAIgAAAAAAAAgBAAAAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEE=
CCAABBQAAACEIMEAAAIAAAggAAAAAAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFA=
ACAABCgkAEqAAAAIQAAIQAADABAAAABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAA=
BABEAAAAAAAAAACgQAAEAAQABAAAgAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAAC=
ARgA0CCIQAAAACAAAAAAAAAAAIAC&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=
=3Dnqt,ec=3Dec,exe=3Dexe,ext=3Dext,bu=3Dbu" style=3D"text-decoration: none;=
 color: #555555;">privacy notice</a> and <a href=3D"http://rover.ebay.com/r=
over/0/e11401.m1852.l3165/7?euid=3Ddbcb14fd0b0340d69aeb34318fd2a3b4&amp;bu=
=3D43837668841&amp;loc=3Dhttp%3A%2F%2Fpages.ebay.com%2Fhelp%2Fpolicies%2Fus=
er-agreement.html&amp;exe=3D16966&amp;ext=3D43852&amp;es=3D0&amp;nqc=3DEEAA=
BAACAABCgkAEqAAAAIQAAIQAADABAAAAAhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAA=
AAAABEAAAAAAAAAACgQAAEAAQABAAAgABAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAA=
AAARAA0CCIAAAAACAAAAAAAAAAAIAC&amp;nqt=3DEEAAFAACAABCgkAEqAAAAIQAAIQAADABAA=
AABhAEAEgAAAACKIAABQAAAAAAAJAAAIgAAAAAAAAgBAAAABABEAAAAAAAAAACgQAAEAAQABAAA=
gAFAgCAEAAAzgAAEECCAABBQAAACEIMEAAAIAAAggAAAAACARgA0CCIQAAAACAAAAAAAAAAAIAC=
&amp;ec=3D1&amp;sojTags=3Des=3Des,nqc=3Dnqc,nqt=3Dnqt,ec=3Dec,exe=3Dexe,ext=
=3Dext,bu=3Dbu" style=3D"text-decoration: none; color: #555555;">user agree=
ment</a><span aria-hidden=3D"true">.</span></p>
<p style=3D"font-family: Helvetica, Arial, sans-serif; font-weight: normal;=
 line-height: normal; color: #707070; text-align: left; font-size: 11px; ma=
rgin: 0 0 10px;" align=3D"left">=C2=A92017 eBay Inc., 2145 Hamilton Avenue,=
 San Jose, CA 95125</p>
</td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
</blockquote>
</div>
</body>
</html>