<html><body><div dir="ltr">
<div class="adM"><br></div>
<div class="gmail_quote">---------- Forwarded message ----------<br>From: <b class="gmail_sendername"><span class="il">UrbanOutfitters</span>.com</b> <span dir="ltr">&lt;<a href="mailto:urbanoutfitters@email.urbanoutfitters.com" target="_blank"><span class="il">urbanoutfitters</span>@email.<wbr><span class="il">urbanoutfitters</span>.com</wbr></a>&gt;</span><br>Date: Mon, Apr 10, 2017 at 9:33 AM<br>Subject: Shipping Confirmation: Your order is on its way!<br>To: <a href="mailto:marielvandeloo@gmail.com" target="_blank">marielvandeloo@gmail.com</a><br><br><br>
<u></u>








<div style="width:100%;background:#ffffff;margin:0;padding:0" bgcolor="#ffffff">
<img src="https://ci5.googleusercontent.com/proxy/u-oBqxQQoUaxS9w9-i9UKKhzWUPzbcQRsT3HEt80Cznbeoj7hao07YLcygwtsKDFTWa9IpRRUn6rL_rqp-Ku4G6-TUhYWqKuX6xrqaaP6Es6eUp-xt3NnW8jA2yymME06zVdVKKl=s0-d-e1-ft#http://email.urbanoutfitters.com/a/hBY3yXAAwP--EB8ZUXuNsumEX.AwP--Eyj/column.gif" width="1" height="1" style="display:none!important;max-height:1px!important;max-width:1px!important;border:0!important;background-color:transparent!important;padding:0!important;outline:0!important;min-height:1px!important;min-width:1px!important;height:1px!important;width:1px!important" alt="" class="CToWUd">

<table align="center" style="margin:0 auto;border-collapse:collapse;width:640px;border:none">
<tbody>
<tr>
<td><a href="http://www.urbanoutfitters.com/?cm_mmc=broadcast-_-Operational-_-ShipConfirmation-_-homepage" style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.urbanoutfitters.com/?cm_mmc%3Dbroadcast-_-Operational-_-ShipConfirmation-_-homepage&amp;source=gmail&amp;ust=1506022568500000&amp;usg=AFQjCNHopyyE6qXqVVl66QKvEFYqTzEnqQ"><img src="https://ci3.googleusercontent.com/proxy/L1AWQVmAHK9rOv_7E7CjMnV5cShTlNElIBjt3fAQIYnJ32gmeurMPrrRHjdqrOHUNJKGTr6kn56KvtkUDjHs8Ogz_iWbMd0zYM8VUtT07_WdaxLqJByOrr4o0l5-W1sdGg=s0-d-e1-ft#http://f.email.urbanoutfitters.com/i/24/809500612/UO-Header-1280-bigger.gif" border="0" alt="urban outfitters" width="640" style="display:block;margin:0 auto" class="CToWUd"></a></td>
    </tr>
<tr class="m_-6955072888167808445m_405800724343934183spacer" style="height:30px"></tr>
</tbody>
</table>
<table align="center" class="m_-6955072888167808445m_405800724343934183smaller-table" style="margin:0 auto;border-collapse:collapse;width:580px;border:none">
<tbody>
<tr>
<td><h2 style="font-family:'Francois One',Helvetica,sans-serif;font-size:40px;font-weight:bold;line-height:40px;color:#222;text-align:center;margin:30px auto" align="center">Shipping 
Confirmation</h2></td>
    </tr>
<tr>
<td class="m_-6955072888167808445m_405800724343934183divider" style="border-top-width:1px;border-top-color:#aaaaaa;border-top-style:solid"></td>
  </tr>
<tr>
<td>
      <p class="m_-6955072888167808445m_405800724343934183larger m_-6955072888167808445m_405800724343934183center" style="font-family:Helvetica,sans-serif;color:#222;font-size:18px;line-height:25px;text-align:center;margin:30px auto 0" align="center"><b>Order Number</b>: 
<a style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" href="https://www.urbanoutfitters.com/urban/user/login_order_status.jsp?cm_mmc=broadcast-_-Operational-_-ShipConfirmation-_-Order&amp;cm_lm=marielvandeloo@gmail.com&amp;orderNumber=T612294422" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.urbanoutfitters.com/urban/user/login_order_status.jsp?cm_mmc%3Dbroadcast-_-Operational-_-ShipConfirmation-_-Order%26cm_lm%3Dmarielvandeloo@gmail.com%26orderNumber%3DT612294422&amp;source=gmail&amp;ust=1506022568500000&amp;usg=AFQjCNE0vEUjEto-nntDgoXs4NxKLIL9BA">T612294422</a></p>
    </td>
  </tr>
<tr>
<td>
      <p class="m_-6955072888167808445m_405800724343934183larger m_-6955072888167808445m_405800724343934183center" style="font-family:Helvetica,sans-serif;color:#222;font-size:18px;line-height:25px;text-align:center;margin:30px auto 0" align="center"><b>Shipped To</b>:<br>
      mariel vandeloo<br>
      2210 - 30 Nelson St<br>
      
      Toronto, ON M5v0h5<br>
      CA 
      </p>
    </td>
  </tr>
<tr>
<td>
      <p class="m_-6955072888167808445m_405800724343934183larger m_-6955072888167808445m_405800724343934183center" style="font-family:Helvetica,sans-serif;color:#222;font-size:18px;line-height:25px;text-align:center;margin:30px auto 0" align="center"><b>Billed To</b>:<br>
      Master Card ending in 2372
      </p>
    </td>
  </tr>
<tr>
<td>
      <p class="m_-6955072888167808445m_405800724343934183larger m_-6955072888167808445m_405800724343934183center" style="font-family:Helvetica,sans-serif;color:#222;font-size:18px;line-height:25px;text-align:center;margin:30px auto 0" align="center">
      <b>Tracking Number</b> <a style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" href="https://tracking.urbn.com/UrbanOutfitters/tracking/Asendia?tracking_numbers=00090123470250217335&amp;service=515&amp;ozip=17527&amp;dzip=M5v0h5&amp;type=S&amp;locale=en-US&amp;order=T612294422&amp;customerID=1525419648&amp;origin_country=US&amp;destination_country=CA&amp;billToPersonInfoKey=201704062007162999673206&amp;ship_date=2017-04-10T08:17:11-04:00" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://tracking.urbn.com/UrbanOutfitters/tracking/Asendia?tracking_numbers%3D00090123470250217335%26service%3D515%26ozip%3D17527%26dzip%3DM5v0h5%26type%3DS%26locale%3Den-US%26order%3DT612294422%26customerID%3D1525419648%26origin_country%3DUS%26destination_country%3DCA%26billToPersonInfoKey%3D201704062007162999673206%26ship_date%3D2017-04-10T08:17:11-04:00&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNF69rxkBeIktKMG2IjvEwG09OuJ4w">00090123470250217335</a>
<br>Please allow 24 hours to track your shipment.
  

    
      </p>
    </td>
  </tr>
<tr>
<td>

    </td>
  </tr>
</tbody>
</table>
<table align="center" class="m_-6955072888167808445m_405800724343934183smaller-table" style="margin:0 auto;border-collapse:collapse;width:580px;border:none">
<tbody>
<tr class="m_-6955072888167808445m_405800724343934183spacer" style="height:30px"></tr>
<tr>
<td>
      <h3 style="font-family:Helvetica,sans-serif;font-weight:bold;font-size:22px;line-height:28px;color:#222;text-align:center;margin:30px auto 60px" align="center">The Items Below Have Shipped. 
Enjoy!</h3>
    </td>
  </tr>
</tbody>
</table>
<table align="center" style="border-collapse:collapse;width:580px;margin:0 auto;border:none">
  
    <tbody>
<tr>
        <td width="250" style="vertical-align:top">
  <img src="https://ci4.googleusercontent.com/proxy/XxXMTSZr-T4-K-pq2tft-mfkULZ-SzE_YlfhW6LKK2jsFPayh1QJUwB-Q6PrdER6GMh8nIh8PsdMCzZeQHu2xPch8v42APxAQurNQPL4gnVzttst4GiGib-4ss77rtM=s0-d-e1-ft#http://images.urbanoutfitters.com/is/image/UrbanOutfitters/40360760_010_b" style="width:250px;display:block;margin:0 auto" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 347.65625px; top: 1159px;"><div id=":mh" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>
        </td>
    <td style="width:22px"></td>
    <td width="290" style="vertical-align:top">
      <table class="m_-6955072888167808445m_405800724343934183half-table" style="border-collapse:collapse;width:290px;border:none">
                <tbody>
<tr>
                    <td style="vertical-align:top">
                        <p class="m_-6955072888167808445m_405800724343934183larger" style="font-family:Helvetica,sans-serif;color:#222;font-size:18px;line-height:25px;margin:0 auto 26px">
                        <b><a style="font-family:Helvetica,sans-serif;color:#222;text-decoration:underline" href="http://www.urbanoutfitters.com/urban/catalog/productdetail.jsp?id=40360760&amp;itemdescription=true&amp;navAction=jump&amp;cm_mmc=broadcast-_-Operational-_-ShipConfirmation-_-product" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.urbanoutfitters.com/urban/catalog/productdetail.jsp?id%3D40360760%26itemdescription%3Dtrue%26navAction%3Djump%26cm_mmc%3Dbroadcast-_-Operational-_-ShipConfirmation-_-product&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNGiQ3xFZU2KGOgi15FxYopcU8xA9Q">LE-43 Wireless Bookshelf Speakers Set</a></b><br><a style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" href="http://www.urbanoutfitters.com/urban/catalog/productdetail.jsp?id=40360760&amp;itemdescription=true&amp;navAction=jump&amp;cm_mmc=broadcast-_-Operational-_-ShipConfirmation-_-product" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.urbanoutfitters.com/urban/catalog/productdetail.jsp?id%3D40360760%26itemdescription%3Dtrue%26navAction%3Djump%26cm_mmc%3Dbroadcast-_-Operational-_-ShipConfirmation-_-product&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNGiQ3xFZU2KGOgi15FxYopcU8xA9Q">40360760</a></p>
                        <p class="m_-6955072888167808445m_405800724343934183larger" style="font-family:Helvetica,sans-serif;color:#222;font-size:18px;line-height:25px;margin:0 auto 30px">
                          <b>Color</b>: White<br>
                          <b>Size</b>: ONE SIZE<br>
                          <b>QTY</b>: 1<br>
                          <b>Price</b>: $129.99 <br>
                        </p>
                    </td>
        </tr>
      </tbody>
</table>
    </td>
  </tr>
<tr class="m_-6955072888167808445m_405800724343934183spacer" style="height:45px"></tr>
</tbody>
</table>
<table align="center" style="border-collapse:collapse;width:580px;margin:0 auto;border:none">
  
    <tbody>
<tr>
        <td width="250" style="vertical-align:top">
  <img src="https://ci4.googleusercontent.com/proxy/YLyiu2t3hyYmOGmDEeMB2VMHo1R00oJ5JTfijPXAJd467FPqJVLzUEE5CugoqkcEhhSEN7agP7kW-fIAmKolpExbKuKPG0CNhV13RdNjr4oKmpVqM8ro_L0F5gFKQL8=s0-d-e1-ft#http://images.urbanoutfitters.com/is/image/UrbanOutfitters/40806226_028_b" style="width:250px;display:block;margin:0 auto" class="CToWUd a6T" tabindex="0"><div class="a6S" dir="ltr" style="opacity: 0.01; left: 347.65625px; top: 1581px;"><div id=":ne" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="aSK J-J5-Ji aYr"></div></div></div>
        </td>
    <td style="width:22px"></td>
    <td width="290" style="vertical-align:top">
      <table class="m_-6955072888167808445m_405800724343934183half-table" style="border-collapse:collapse;width:290px;border:none">
                <tbody>
<tr>
                    <td style="vertical-align:top">
                        <p class="m_-6955072888167808445m_405800724343934183larger" style="font-family:Helvetica,sans-serif;color:#222;font-size:18px;line-height:25px;margin:0 auto 26px">
                        <b><a style="font-family:Helvetica,sans-serif;color:#222;text-decoration:underline" href="http://www.urbanoutfitters.com/urban/catalog/productdetail.jsp?id=40806226&amp;itemdescription=true&amp;navAction=jump&amp;cm_mmc=broadcast-_-Operational-_-ShipConfirmation-_-product" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.urbanoutfitters.com/urban/catalog/productdetail.jsp?id%3D40806226%26itemdescription%3Dtrue%26navAction%3Djump%26cm_mmc%3Dbroadcast-_-Operational-_-ShipConfirmation-_-product&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNHhc7Xd-UP-ik9TQjNZo0tUucpIuQ">Bodum Copper French Press</a></b><br><a style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" href="http://www.urbanoutfitters.com/urban/catalog/productdetail.jsp?id=40806226&amp;itemdescription=true&amp;navAction=jump&amp;cm_mmc=broadcast-_-Operational-_-ShipConfirmation-_-product" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.urbanoutfitters.com/urban/catalog/productdetail.jsp?id%3D40806226%26itemdescription%3Dtrue%26navAction%3Djump%26cm_mmc%3Dbroadcast-_-Operational-_-ShipConfirmation-_-product&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNHhc7Xd-UP-ik9TQjNZo0tUucpIuQ">40806226</a></p>
                        <p class="m_-6955072888167808445m_405800724343934183larger" style="font-family:Helvetica,sans-serif;color:#222;font-size:18px;line-height:25px;margin:0 auto 30px">
                          <b>Color</b>: Copper<br>
                          <b>Size</b>: ONE SIZE<br>
                          <b>QTY</b>: 1<br>
                          <b>Price</b>: $42.00 <br>
                        </p>
                    </td>
        </tr>
      </tbody>
</table>
    </td>
  </tr>
<tr class="m_-6955072888167808445m_405800724343934183spacer" style="height:45px"></tr>
</tbody>
</table>

<table align="center" class="m_-6955072888167808445m_405800724343934183smallest-table" style="margin:0 auto;border-collapse:collapse;width:480px;border:none">
<tbody>
<tr class="m_-6955072888167808445m_405800724343934183spacer" style="height:15px"></tr>
<tr>
<td>
      <p class="m_-6955072888167808445m_405800724343934183larger m_-6955072888167808445m_405800724343934183center" style="font-family:Helvetica,sans-serif;color:#222;font-size:18px;line-height:25px;text-align:center;margin:0 auto 45px" align="center">
        Subtotal: $171.99<br>
        
        Shipping: $7.95<br>
        
        
        Tax: $23.40<br>
                            <b>Shipment Total: 
$203.34</b> 
      </p>
    </td>
  </tr>
</tbody>
</table>










<table align="center" class="m_-6955072888167808445m_405800724343934183smallest-table" style="margin:0 auto;border-collapse:collapse;width:480px;border:none">
<tbody>
<tr>
<td>
      <p class="m_-6955072888167808445m_405800724343934183smaller m_-6955072888167808445m_405800724343934183center" style="font-family:Helvetica,sans-serif;color:#222;font-size:15px;line-height:21px;text-align:center;margin:15px auto 30px" align="center">Questions? US &amp; Canada 
customers call <a href="tel:(800)%20282-2200" value="+18002822200" target="_blank">(800) 282-2200</a>; UK customers call (0800) 988-7726 or 
email <a href="mailto:service@urbanoutfitters.com" style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" target="_blank">service@<span class="il">urbanoutfitters</span>.com</a>. Need to make a return? <a href="http://email.urbanoutfitters.com/a/hBY3yXAAwP--EB8ZUXuNsumEX.AwP--Eyj/exchanges" style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://email.urbanoutfitters.com/a/hBY3yXAAwP--EB8ZUXuNsumEX.AwP--Eyj/exchanges&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNGYXJyiLJlqTGz4aTw4QzB4nh4cJQ">Click here </a>for details.</p>
    </td>
  </tr>
<tr class="m_-6955072888167808445m_405800724343934183spacer" style="height:30px"></tr>
</tbody>
</table>

<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" bgcolor="#f5f5f5"><tbody><tr>
<td>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" bgcolor="#f5f5f5"><tbody><tr>
<td height="30px">
                 
              </td>
            </tr></tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" bgcolor="#f5f5f5"><tbody><tr>
<td width="21%"></td>
              <td style="text-align:center;letter-spacing:0.02em;font-family:Helvetica,sans-serif;font-weight:400;color:#000000;font-size:12px" align="center">
                <a style="color:#000000!important;text-decoration:none;font-family:Helvetica,sans-serif" href="http://www.urbanoutfitters.com/urban/catalog/category.jsp?id=WOMENS&amp;cm_mmc=-_-shoptagw%23U" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.urbanoutfitters.com/urban/catalog/category.jsp?id%3DWOMENS%26cm_mmc%3D-_-shoptagw%2523U&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNHIpwS79M7JD-WtAgvrAA6vkpW7gA">
                  <font style="color:#000000">Shop Women's</font></a>
              </td>

              <td width="1.1%"></td>

              <td style="text-align:center;letter-spacing:0.02em;font-family:Helvetica,sans-serif;font-weight:400;color:#000000;font-size:12px" align="center">
                <a style="color:#000000!important;text-decoration:none;font-family:Helvetica,sans-serif" href="http://www.urbanoutfitters.com/urban/catalog/category.jsp?id=MENS&amp;cm_mmc=-_-shoptagm%23U" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.urbanoutfitters.com/urban/catalog/category.jsp?id%3DMENS%26cm_mmc%3D-_-shoptagm%2523U&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNEPAhY6GYfZqNNSTJLO8R0vbMJFLg">
                  <font style="color:#000000">Shop Men's</font></a>
</td>

                <td width="1.1%"></td>

                <td style="text-align:center;letter-spacing:0.02em;font-family:Helvetica,sans-serif;font-weight:400;color:#000000;font-size:12px" align="center">
                  <a style="color:#000000!important;text-decoration:none;font-family:Helvetica,sans-serif" href="http://www.urbanoutfitters.com/urban/catalog/category.jsp?id=APARTMENT&amp;cm_mmc=-_-shoptaga%23U" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.urbanoutfitters.com/urban/catalog/category.jsp?id%3DAPARTMENT%26cm_mmc%3D-_-shoptaga%2523U&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNG0Q32aF7fu4D356PTqGHSrubjjMQ"><font style="color:#000000">Shop Apartment</font></a>
</td>
                  <td width="21%"></td>
                </tr></tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" bgcolor="#f5f5f5"><tbody><tr>
<td height="60px">
                     
                  </td>
                </tr></tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" bgcolor="#f5f5f5" style="margin:0 auto"><tbody><tr>
<td width="57px"></td>
                  <td align="center" width="32px">
                    <a href="http://instagram.com/urbanoutfitters" style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://instagram.com/urbanoutfitters&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNFOgtLi7S2u5gQxBKvgfmph8yf8FA"><img style="display:block" height="32px" width="32px" src="https://ci6.googleusercontent.com/proxy/QA_xg3Xve7RfnuftMP_6Wq8lUlEbbr8qg_T_GXX0-J2tAENmG1BZX0HNGCVOJ0a4YCgZQOIiLurmWGzIhZWy2k4-OES1ZOccp0KrUYmexjeFmiySWR_G5dftSA=s0-d-e1-ft#http://www.urbanoutfitters.com/global/images/instagram_icon_email.png" border="0" alt="instagram" class="CToWUd"></a>
                  </td>
                  <td align="center" width="32px">
                    <a href="http://pinterest.com/urbanoutfitters/" style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://pinterest.com/urbanoutfitters/&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNGgmokFYEzF67BCmiyR2ZDOOEsfAA"><img style="display:block" height="32px" width="32px" src="https://ci5.googleusercontent.com/proxy/Nh9ZcEoVSVVZtmkwSnW7bSkrCQgWcbpI-IPIFijgXAMDPGYZMB1AhtGYl5NLgIZBpegkiYzRN8Rq45kISsq3YSjUlZP0kbeVEYmHK87R2vnj=s0-d-e1-ft#http://f.email.urbanoutfitters.com/s/24/809500612/2-pin.png" border="0" alt="pinterest" class="CToWUd"></a>
                  </td>
                  <td align="center" width="32px">
                    <a href="https://www.facebook.com/urbanoutfitters" style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://www.facebook.com/urbanoutfitters&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNF77ZSIp1N2lLeMsFNRSCwpxQcEww"><img style="display:block" height="32px" width="32px" src="https://ci6.googleusercontent.com/proxy/LDbACo3rlhj4nYsr9ClQcpbBHZ6iDaPdyn5I4Ds7cQu5h32vSEnjPvnJsCs45uRHq7Gjpcy1ZKlHd8PZ_FcZhe8KhUpObi7jtxLHvWA8-oOYhQ=s0-d-e1-ft#http://f.email.urbanoutfitters.com/s/24/809500612/3-face.png" border="0" alt="facebook" class="CToWUd"></a>
                  </td>
                  <td align="center" width="32px">
                    <a href="http://urbanoutfitters.tumblr.com/" style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://urbanoutfitters.tumblr.com/&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNGBbGo7YzMqUeqwVIoDvaCn_C8TBw"><img style="display:block" height="32px" width="32px" src="https://ci4.googleusercontent.com/proxy/pAj_4fTF4gEQgeNY--CkSVf-AwJDLrrOWcerH8sq1lPg7RycNvL26P_CkX3jNkNBIld7PnNgH6vxgKMF-fP0to4Wn442p6g620_w5CH8IZxp2ElS=s0-d-e1-ft#http://f.email.urbanoutfitters.com/s/24/809500612/4-tumblr.png" border="0" alt="tumblr" class="CToWUd"></a>
                  </td>
                  <td align="center" width="32px">
                    <a href="https://twitter.com/UrbanOutfitters" style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://twitter.com/UrbanOutfitters&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNHr3B-dT3N-zeieOqBeDPMom-CKzg"><img style="display:block" height="32px" width="32px" src="https://ci6.googleusercontent.com/proxy/jQaSHLFV0YiFgWf1di6usjoFXqtayw5ZEXfaZl1NlTRaymUK4t0CBQf56bUgvdQpmlYnIamhv5zc1conyjrRHVVcxgO7Ix4e7blN5P4hecWnQdAXZg=s0-d-e1-ft#http://f.email.urbanoutfitters.com/s/24/809500612/5-twitter.png" border="0" alt="twitter" class="CToWUd"></a>
                  </td>
                  <td align="center" width="32px">
                    <a href="http://www.youtube.com/user/uotv" style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.youtube.com/user/uotv&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNH5RDzhzkpoqJgG081WLWHOhafuUA"><img style="display:block" height="32px" width="32px" src="https://ci4.googleusercontent.com/proxy/7tSTqLSooxGSSxdemAhstkQIwUfViybPDtW3OkP0TIvtobFpzdavJD8jkYKWXSTHx_XslXEwlrdSZyY-jmVj-23y7Jy_e-L66vvzp9idr0Ouxw=s0-d-e1-ft#http://f.email.urbanoutfitters.com/s/24/809500612/6-uotv.png" border="0" alt="youtube" class="CToWUd"></a>
                  </td>
                  <td width="57px"></td>
                </tr></tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" bgcolor="#f5f5f5"><tbody><tr>
<td height="60px">
                     
                  </td>
                </tr></tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" bgcolor="#f5f5f5" style="margin:0 auto"><tbody><tr>
<td width="6%"></td>

                  <td align="center">
                    <a href="https://itunes.apple.com/us/app/uo/id358821736?mt=8" style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://itunes.apple.com/us/app/uo/id358821736?mt%3D8&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNH9nxpcL5kZ_X9Q4HWqvhazgN0iPg"><img src="https://ci3.googleusercontent.com/proxy/xCCN3txER-38iLbozCQVaeGnJqVLG5e5mp5kaIXbwaSOR5OSDc8hfLtbAwkXt2Y3kF0fBT4w5PGjhSzFUXE9cyteK7k6z3zIIEsjGUK7Z9XtNz3U=s0-d-e1-ft#http://f.email.urbanoutfitters.com/i/24/809500612/appstore.png" style="display:block" height="30px" width="99px" alt="Download on the 
App Store" class="CToWUd"></a>
                  </td>

                  <td width="1.5%"></td>

                  <td align="left">
                    <a href="http://play.google.com/store/apps/details?id=com.urbanoutfitters.android" style="font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://play.google.com/store/apps/details?id%3Dcom.urbanoutfitters.android&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNFroAugUeK6fyQv2Kn5Yqyw_I36xA"><img src="https://ci5.googleusercontent.com/proxy/uDSzBA1l0SRXavOdPpBcVnmmflpaBF_1ZNbXXT34APsQGXPkZ3CX1d-lvg7g-Gj1v-DYvK1g_h5JvawJQewcF6I2gcFQGR3cWN9NIGXoB45w19-bZ3wqqk9onkkr9gEG7XimmvSDiV-QTfBi0Uwf8axY1VEbkA=s0-d-e1-ft#http://images.urbanoutfitters.com/is/image/UrbanOutfitters/160803-google-app-store?scl=1&amp;qlt=100" style="display:block" height="30px" width="91px" alt="Android App on 
Google Play" class="CToWUd"></a>
                  </td>

                  <td width="25px"></td>

                  <td align="left" style="font-family:Helvetica,sans-serif;font-size:12px;color:#ffffff;font-weight:400;letter-spacing:0px">
                    <a style="color:#000000!important;text-decoration:none;font-family:Helvetica,sans-serif" href="http://email.urbanoutfitters.com/a/hBY3yXAAwP--EB8ZUXuNsumEX.AwP--Eyj/uorewards" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://email.urbanoutfitters.com/a/hBY3yXAAwP--EB8ZUXuNsumEX.AwP--Eyj/uorewards&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNHZsFLvBlXFEKdjXskMiCaWqESnHw">
                      <font style="color:#000000">UO Rewards</font></a> 
                  </td>

                  <td width="4%"></td>

                  <td align="left" style="font-family:Helvetica,sans-serif;font-size:12px;color:#ffffff;font-weight:400;letter-spacing:0px">
                    <a style="color:#000000!important;text-decoration:none;font-family:Helvetica,sans-serif" href="http://www.urbanoutfitters.com/urban/help/contactus.jsp?cm_mmc=-_-customers%23U" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.urbanoutfitters.com/urban/help/contactus.jsp?cm_mmc%3D-_-customers%2523U&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNEa8rW3gkSU4Ja0HPoMmDc_xhgKBw">
                      <font style="color:#000000">Contact Us</font></a>
                  </td>

                  <td width="4%"></td>

                  <td align="left" style="font-family:Helvetica,sans-serif;font-size:12px;color:#ffffff;font-weight:400;letter-spacing:0px">
                    <a style="color:#000000!important;text-decoration:none;font-family:Helvetica,sans-serif" href="http://www.urbanoutfitters.com/urban/stores/index.jsp?cm_mmc=-_-stores%23U" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.urbanoutfitters.com/urban/stores/index.jsp?cm_mmc%3D-_-stores%2523U&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNEB5iTWF6M6Pk8UBVpPExLEP9W4bw">
                      <font style="color:#000000">Find A Store</font></a>
                  </td>

                  <td width="6%"></td>
                </tr></tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640" bgcolor="#f5f5f5"><tbody><tr>
<td height="30px">
                     
                  </td>
                </tr></tbody></table>
</td>
          </tr></tbody></table>
<table><tbody><tr>
<td height="15px">
               
            </td>
          </tr></tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640"><tbody><tr>
<td width="640" align="center" style="text-align:center;vertical-align:top;font-family:Helvetica,sans-serif;font-weight:400;color:#b4b4b4;font-size:12px;line-height:19px;letter-spacing:0.5px" valign="top">
              You are subscribed as <font style="color:#b4b4b4"><a href="mailto:marielvandeloo@gmail.com" target="_blank">marielvandeloo@gmail.com</a></font><br><a style="color:#b4b4b4!important;text-decoration:underline;font-family:Helvetica,sans-serif" href="http://www.urbanoutfitters.com/urban/signup/emailunsubscribe.jsp?cm_mmc=-_-subscribe%23U" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.urbanoutfitters.com/urban/signup/emailunsubscribe.jsp?cm_mmc%3D-_-subscribe%2523U&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNGO4qtP4-MFxLX7OFXHL0XPGHyLoA"><font style="color:#b4b4b4">Click 
                here</font></a> to unsubscribe from our mailing list.
                <p style="margin-top:18px">
                  <span class="il">UrbanOutfitters</span>.com complies with the Can-Spam Act of 2003.<br>
                  Your privacy is important to us, <a style="color:#b4b4b4!important;text-decoration:underline;font-family:Helvetica,sans-serif" href="http://www.urbanoutfitters.com/urban/help/contactus.jsp?cm_mmc=-_-privacy%23U" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.urbanoutfitters.com/urban/help/contactus.jsp?cm_mmc%3D-_-privacy%2523U&amp;source=gmail&amp;ust=1506022568501000&amp;usg=AFQjCNGFbVwumukBPCLp-cubjQoPapmMxw"><font style="color:#b4b4b4">click</font></a> to view our privacy policy:
                  <br><span class="il">UrbanOutfitters</span>.com,
                  4010 Rose Lane, Augusta, GA 30907
                </p>                
              </td>
            </tr></tbody></table>
<table><tbody><tr>
<td height="8">
                 
              </td>
            </tr></tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640"><tbody><tr>
<td style="text-align:center;font-family:Helvetica,sans-serif;font-weight:400;color:#b4b4b4;font-size:12px;line-height:19px;letter-spacing:0.5px" align="center">
                Free Standard shipping and $4.95 shipping apply to orders shipped 
to the US.<br>
Please note: Some oversize items may require an additional shipping 
charge.<br>
Free returns and exchanges are only available for orders shipped within 
the US.
              </td>
            </tr></tbody></table>
<table><tbody><tr>
<td height="8">
                 
              </td>
            </tr></tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="640"><tbody><tr>
<td style="text-align:center;font-family:Helvetica,sans-serif;font-weight:400;color:#b4b4b4;font-size:12px;line-height:19px;letter-spacing:0.5px" align="center">
                © 2016 <span class="il">UrbanOutfitters</span>.com All Rights Reserved
              </td>
            </tr></tbody></table>
<div style="display:none;white-space:nowrap;color:#ffffff;font:15px courier">
            - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
          </div>
<div class="yj6qo"></div>
<div class="adL">

</div>
</div>
<div class="adL">
</div>
</div>
<div class="adL"><br></div>
</div>
<div class="adL">
</div></body></html></body></html>
