<html>
  <head>
    <meta http-equiv=3D"Content-Type" content=3D"text/html; charset=3Dutf=
-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <html><body><div dir=3D"ltr">
<div class=3D"adM"><br></div>
<div class=3D"gmail_quote">---------- Forwarded message ----------<br>Fro=
m: <b class=3D"gmail_sendername"><span class=3D"il">UrbanOutfitters</span=
>.com</b> <span dir=3D"ltr">&lt;<a href=3D"mailto:urbanoutfitters@email.u=
rbanoutfitters.com" target=3D"_blank"><span class=3D"il">urbanoutfitters<=
/span>@email.<wbr><span class=3D"il">urbanoutfitters</span>.com</wbr></a>=
&gt;</span><br>Date: Mon, Apr 10, 2017 at 9:33 AM<br>Subject: Shipping Co=
nfirmation: Your order is on its way!<br>To: <a href=3D"mailto:marielvand=
eloo@gmail.com" target=3D"_blank">marielvandeloo@gmail.com</a><br><br><br=
>
<u></u>








<div style=3D"width:100%;background:#ffffff;margin:0;padding:0" bgcolor=3D=
"#ffffff">
<img src=3D"https://ci5.googleusercontent.com/proxy/u-oBqxQQoUaxS9w9-i9UK=
KhzWUPzbcQRsT3HEt80Cznbeoj7hao07YLcygwtsKDFTWa9IpRRUn6rL_rqp-Ku4G6-TUhYWq=
KuX6xrqaaP6Es6eUp-xt3NnW8jA2yymME06zVdVKKl=3Ds0-d-e1-ft#http://email.urba=
noutfitters.com/a/hBY3yXAAwP--EB8ZUXuNsumEX.AwP--Eyj/column.gif" width=3D=
"1" height=3D"1" style=3D"display:none!important;max-height:1px!important=
;max-width:1px!important;border:0!important;background-color:transparent!=
important;padding:0!important;outline:0!important;min-height:1px!importan=
t;min-width:1px!important;height:1px!important;width:1px!important" alt=3D=
"" class=3D"CToWUd">

<table align=3D"center" style=3D"margin:0 auto;border-collapse:collapse;w=
idth:640px;border:none">
<tbody>
<tr>
<td><a href=3D"http://www.urbanoutfitters.com/?cm_mmc=3Dbroadcast-_-Opera=
tional-_-ShipConfirmation-_-homepage" style=3D"font-family:Helvetica,sans=
-serif;color:#777777;text-decoration:underline" target=3D"_blank" data-sa=
feredirecturl=3D"https://www.google.com/url?hl=3Den&amp;q=3Dhttp://www.ur=
banoutfitters.com/?cm_mmc%3Dbroadcast-_-Operational-_-ShipConfirmation-_-=
homepage&amp;source=3Dgmail&amp;ust=3D1506029574202000&amp;usg=3DAFQjCNHA=
lHPriXjWo-deoG6OtxwBaG3hpw"><img src=3D"https://ci3.googleusercontent.com=
/proxy/L1AWQVmAHK9rOv_7E7CjMnV5cShTlNElIBjt3fAQIYnJ32gmeurMPrrRHjdqrOHUNJ=
KGTr6kn56KvtkUDjHs8Ogz_iWbMd0zYM8VUtT07_WdaxLqJByOrr4o0l5-W1sdGg=3Ds0-d-e=
1-ft#http://f.email.urbanoutfitters.com/i/24/809500612/UO-Header-1280-big=
ger.gif" border=3D"0" alt=3D"urban outfitters" width=3D"640" style=3D"dis=
play:block;margin:0 auto" class=3D"CToWUd"></a></td>
    </tr>
<tr class=3D"m_2269405807096330191m_405800724343934183spacer" style=3D"he=
ight:30px"></tr>
</tbody>
</table>
<table align=3D"center" class=3D"m_2269405807096330191m_40580072434393418=
3smaller-table" style=3D"margin:0 auto;border-collapse:collapse;width:580=
px;border:none">
<tbody>
<tr>
<td><h2 style=3D"font-family:'Francois One',Helvetica,sans-serif;font-siz=
e:40px;font-weight:bold;line-height:40px;color:#222;text-align:center;mar=
gin:30px auto" align=3D"center">Shipping =

Confirmation</h2></td>
    </tr>
<tr>
<td class=3D"m_2269405807096330191m_405800724343934183divider" style=3D"b=
order-top-width:1px;border-top-color:#aaaaaa;border-top-style:solid"></td=
>
	</tr>
<tr>
<td>
			<p class=3D"m_2269405807096330191m_405800724343934183larger m_22694058=
07096330191m_405800724343934183center" style=3D"font-family:Helvetica,san=
s-serif;color:#222;font-size:18px;line-height:25px;text-align:center;marg=
in:30px auto 0" align=3D"center"><b>Order Number</b>: =

<a style=3D"font-family:Helvetica,sans-serif;color:#777777;text-decoratio=
n:underline" href=3D"https://www.urbanoutfitters.com/urban/user/login_ord=
er_status.jsp?cm_mmc=3Dbroadcast-_-Operational-_-ShipConfirmation-_-Order=
&amp;cm_lm=3Dmarielvandeloo@gmail.com&amp;orderNumber=3DT612294422" targe=
t=3D"_blank" data-saferedirecturl=3D"https://www.google.com/url?hl=3Den&a=
mp;q=3Dhttps://www.urbanoutfitters.com/urban/user/login_order_status.jsp?=
cm_mmc%3Dbroadcast-_-Operational-_-ShipConfirmation-_-Order%26cm_lm%3Dmar=
ielvandeloo@gmail.com%26orderNumber%3DT612294422&amp;source=3Dgmail&amp;u=
st=3D1506029574202000&amp;usg=3DAFQjCNHTzXxBrriv3t8uSL1quylUVmpDTw">T6122=
94422</a></p>
		</td>
	</tr>
<tr>
<td>
			<p class=3D"m_2269405807096330191m_405800724343934183larger m_22694058=
07096330191m_405800724343934183center" style=3D"font-family:Helvetica,san=
s-serif;color:#222;font-size:18px;line-height:25px;text-align:center;marg=
in:30px auto 0" align=3D"center"><b>Shipped To</b>:<br>
			mariel vandeloo<br>
			2210 - 30 Nelson St<br>
			=

			Toronto, ON M5v0h5<br>
			CA =

			</p>
		</td>
	</tr>
<tr>
<td>
			<p class=3D"m_2269405807096330191m_405800724343934183larger m_22694058=
07096330191m_405800724343934183center" style=3D"font-family:Helvetica,san=
s-serif;color:#222;font-size:18px;line-height:25px;text-align:center;marg=
in:30px auto 0" align=3D"center"><b>Billed To</b>:<br>
			Master Card ending in 2372
			</p>
		</td>
	</tr>
<tr>
<td>
			<p class=3D"m_2269405807096330191m_405800724343934183larger m_22694058=
07096330191m_405800724343934183center" style=3D"font-family:Helvetica,san=
s-serif;color:#222;font-size:18px;line-height:25px;text-align:center;marg=
in:30px auto 0" align=3D"center">
			<b>Tracking Number</b> <a style=3D"font-family:Helvetica,sans-serif;co=
lor:#777777;text-decoration:underline" href=3D"https://tracking.urbn.com/=
UrbanOutfitters/tracking/Asendia?tracking_numbers=3D00090123470250217335&=
amp;service=3D515&amp;ozip=3D17527&amp;dzip=3DM5v0h5&amp;type=3DS&amp;loc=
ale=3Den-US&amp;order=3DT612294422&amp;customerID=3D1525419648&amp;origin=
_country=3DUS&amp;destination_country=3DCA&amp;billToPersonInfoKey=3D2017=
04062007162999673206&amp;ship_date=3D2017-04-10T08:17:11-04:00" target=3D=
"_blank" data-saferedirecturl=3D"https://www.google.com/url?hl=3Den&amp;q=
=3Dhttps://tracking.urbn.com/UrbanOutfitters/tracking/Asendia?tracking_nu=
mbers%3D00090123470250217335%26service%3D515%26ozip%3D17527%26dzip%3DM5v0=
h5%26type%3DS%26locale%3Den-US%26order%3DT612294422%26customerID%3D152541=
9648%26origin_country%3DUS%26destination_country%3DCA%26billToPersonInfoK=
ey%3D201704062007162999673206%26ship_date%3D2017-04-10T08:17:11-04:00&amp=
;source=3Dgmail&amp;ust=3D1506029574202000&amp;usg=3DAFQjCNG3cRWOrIheVUmS=
23nxRll16qAfmA"><%= @product.tracking_number%></a>
<br>Please allow 24 hours to track your shipment.
	=


		=

			</p>
		</td>
	</tr>
<tr>
<td>

		</td>
	</tr>
</tbody>
</table>
<table align=3D"center" class=3D"m_2269405807096330191m_40580072434393418=
3smaller-table" style=3D"margin:0 auto;border-collapse:collapse;width:580=
px;border:none">
<tbody>
<tr class=3D"m_2269405807096330191m_405800724343934183spacer" style=3D"he=
ight:30px"></tr>
<tr>
<td>
			<h3 style=3D"font-family:Helvetica,sans-serif;font-weight:bold;font-si=
ze:22px;line-height:28px;color:#222;text-align:center;margin:30px auto 60=
px" align=3D"center">The Items Below Have Shipped. =

Enjoy!</h3>
		</td>
	</tr>
</tbody>
</table>
<table align=3D"center" style=3D"border-collapse:collapse;width:580px;mar=
gin:0 auto;border:none">
	=

    <tbody>
<tr>
        <td width=3D"250" style=3D"vertical-align:top">
	<img src=3D"https://ci4.googleusercontent.com/proxy/XxXMTSZr-T4-K-pq2tft=
-mfkULZ-SzE_YlfhW6LKK2jsFPayh1QJUwB-Q6PrdER6GMh8nIh8PsdMCzZeQHu2xPch8v42A=
PxAQurNQPL4gnVzttst4GiGib-4ss77rtM=3Ds0-d-e1-ft#http://images.urbanoutfit=
ters.com/is/image/UrbanOutfitters/40360760_010_b" style=3D"width:250px;di=
splay:block;margin:0 auto" class=3D"CToWUd a6T" tabindex=3D"0"><div class=
=3D"a6S" dir=3D"ltr" style=3D"opacity: 0.01; left: 347.65625px; top: 1159=
px;"><div id=3D":o0" class=3D"T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title=3D"Do=
wnload" role=3D"button" tabindex=3D"0" aria-label=3D"Download attachment =
" data-tooltip-class=3D"a1V"><div class=3D"aSK J-J5-Ji aYr"></div></div><=
/div>
        </td>
		<td style=3D"width:22px"></td>
		<td width=3D"290" style=3D"vertical-align:top">
			<table class=3D"m_2269405807096330191m_405800724343934183half-table" s=
tyle=3D"border-collapse:collapse;width:290px;border:none">
                <tbody>
<tr>
                    <td style=3D"vertical-align:top">
                        <p class=3D"m_2269405807096330191m_40580072434393=
4183larger" style=3D"font-family:Helvetica,sans-serif;color:#222;font-siz=
e:18px;line-height:25px;margin:0 auto 26px">
                        <b><a style=3D"font-family:Helvetica,sans-serif;c=
olor:#222;text-decoration:underline" href=3D"http://www.urbanoutfitters.c=
om/urban/catalog/productdetail.jsp?id=3D40360760&amp;itemdescription=3Dtr=
ue&amp;navAction=3Djump&amp;cm_mmc=3Dbroadcast-_-Operational-_-ShipConfir=
mation-_-product" target=3D"_blank" data-saferedirecturl=3D"https://www.g=
oogle.com/url?hl=3Den&amp;q=3Dhttp://www.urbanoutfitters.com/urban/catalo=
g/productdetail.jsp?id%3D40360760%26itemdescription%3Dtrue%26navAction%3D=
jump%26cm_mmc%3Dbroadcast-_-Operational-_-ShipConfirmation-_-product&amp;=
source=3Dgmail&amp;ust=3D1506029574202000&amp;usg=3DAFQjCNEFIqoQhQEfiThHS=
OiG8clxd8jdGg">LE-43 Wireless Bookshelf Speakers Set</a></b><br><a style=3D=
"font-family:Helvetica,sans-serif;color:#777777;text-decoration:underline=
" href=3D"http://www.urbanoutfitters.com/urban/catalog/productdetail.jsp?=
id=3D40360760&amp;itemdescription=3Dtrue&amp;navAction=3Djump&amp;cm_mmc=3D=
broadcast-_-Operational-_-ShipConfirmation-_-product" target=3D"_blank" d=
ata-saferedirecturl=3D"https://www.google.com/url?hl=3Den&amp;q=3Dhttp://=
www.urbanoutfitters.com/urban/catalog/productdetail.jsp?id%3D40360760%26i=
temdescription%3Dtrue%26navAction%3Djump%26cm_mmc%3Dbroadcast-_-Operation=
al-_-ShipConfirmation-_-product&amp;source=3Dgmail&amp;ust=3D150602957420=
2000&amp;usg=3DAFQjCNEFIqoQhQEfiThHSOiG8clxd8jdGg">40360760</a></p>
                        <p class=3D"m_2269405807096330191m_40580072434393=
4183larger" style=3D"font-family:Helvetica,sans-serif;color:#222;font-siz=
e:18px;line-height:25px;margin:0 auto 30px">
                        	<b>Color</b>: White<br>
                        	<b>Size</b>: ONE SIZE<br>
                        	<b>QTY</b>: 1<br>
                        	<b>Price</b>: $129.99 <br>
                        </p>
                    </td>
				</tr>
			</tbody>
</table>
		</td>
	</tr>
<tr class=3D"m_2269405807096330191m_405800724343934183spacer" style=3D"he=
ight:45px"></tr>
</tbody>
</table>
<table align=3D"center" style=3D"border-collapse:collapse;width:580px;mar=
gin:0 auto;border:none">
	=

    <tbody>
<tr>
        <td width=3D"250" style=3D"vertical-align:top">
	<img src=3D"https://ci4.googleusercontent.com/proxy/YLyiu2t3hyYmOGmDEeMB=
2VMHo1R00oJ5JTfijPXAJd467FPqJVLzUEE5CugoqkcEhhSEN7agP7kW-fIAmKolpExbKuKPG=
0CNhV13RdNjr4oKmpVqM8ro_L0F5gFKQL8=3Ds0-d-e1-ft#http://images.urbanoutfit=
ters.com/is/image/UrbanOutfitters/40806226_028_b" style=3D"width:250px;di=
splay:block;margin:0 auto" class=3D"CToWUd a6T" tabindex=3D"0"><div class=
=3D"a6S" dir=3D"ltr" style=3D"opacity: 0.01; left: 347.65625px; top: 1581=
px;"><div id=3D":o1" class=3D"T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title=3D"Do=
wnload" role=3D"button" tabindex=3D"0" aria-label=3D"Download attachment =
" data-tooltip-class=3D"a1V"><div class=3D"aSK J-J5-Ji aYr"></div></div><=
/div>
        </td>
		<td style=3D"width:22px"></td>
		<td width=3D"290" style=3D"vertical-align:top">
			<table class=3D"m_2269405807096330191m_405800724343934183half-table" s=
tyle=3D"border-collapse:collapse;width:290px;border:none">
                <tbody>
<tr>
                    <td style=3D"vertical-align:top">
                        <p class=3D"m_2269405807096330191m_40580072434393=
4183larger" style=3D"font-family:Helvetica,sans-serif;color:#222;font-siz=
e:18px;line-height:25px;margin:0 auto 26px">
                        <b><a style=3D"font-family:Helvetica,sans-serif;c=
olor:#222;text-decoration:underline" href=3D"http://www.urbanoutfitters.c=
om/urban/catalog/productdetail.jsp?id=3D40806226&amp;itemdescription=3Dtr=
ue&amp;navAction=3Djump&amp;cm_mmc=3Dbroadcast-_-Operational-_-ShipConfir=
mation-_-product" target=3D"_blank" data-saferedirecturl=3D"https://www.g=
oogle.com/url?hl=3Den&amp;q=3Dhttp://www.urbanoutfitters.com/urban/catalo=
g/productdetail.jsp?id%3D40806226%26itemdescription%3Dtrue%26navAction%3D=
jump%26cm_mmc%3Dbroadcast-_-Operational-_-ShipConfirmation-_-product&amp;=
source=3Dgmail&amp;ust=3D1506029574202000&amp;usg=3DAFQjCNFx4VWRtk74mGkb6=
XvHBywCTTBd9g">Bodum Copper French Press</a></b><br><a style=3D"font-fami=
ly:Helvetica,sans-serif;color:#777777;text-decoration:underline" href=3D"=
http://www.urbanoutfitters.com/urban/catalog/productdetail.jsp?id=3D40806=
226&amp;itemdescription=3Dtrue&amp;navAction=3Djump&amp;cm_mmc=3Dbroadcas=
t-_-Operational-_-ShipConfirmation-_-product" target=3D"_blank" data-safe=
redirecturl=3D"https://www.google.com/url?hl=3Den&amp;q=3Dhttp://www.urba=
noutfitters.com/urban/catalog/productdetail.jsp?id%3D40806226%26itemdescr=
iption%3Dtrue%26navAction%3Djump%26cm_mmc%3Dbroadcast-_-Operational-_-Shi=
pConfirmation-_-product&amp;source=3Dgmail&amp;ust=3D1506029574202000&amp=
;usg=3DAFQjCNFx4VWRtk74mGkb6XvHBywCTTBd9g">40806226</a></p>
                        <p class=3D"m_2269405807096330191m_40580072434393=
4183larger" style=3D"font-family:Helvetica,sans-serif;color:#222;font-siz=
e:18px;line-height:25px;margin:0 auto 30px">
                        	<b>Color</b>: Copper<br>
                        	<b>Size</b>: ONE SIZE<br>
                        	<b>QTY</b>: 1<br>
                        	<b>Price</b>: $42.00 <br>
                        </p>
                    </td>
				</tr>
			</tbody>
</table>
		</td>
	</tr>
<tr class=3D"m_2269405807096330191m_405800724343934183spacer" style=3D"he=
ight:45px"></tr>
</tbody>
</table>

<table align=3D"center" class=3D"m_2269405807096330191m_40580072434393418=
3smallest-table" style=3D"margin:0 auto;border-collapse:collapse;width:48=
0px;border:none">
<tbody>
<tr class=3D"m_2269405807096330191m_405800724343934183spacer" style=3D"he=
ight:15px"></tr>
<tr>
<td>
			<p class=3D"m_2269405807096330191m_405800724343934183larger m_22694058=
07096330191m_405800724343934183center" style=3D"font-family:Helvetica,san=
s-serif;color:#222;font-size:18px;line-height:25px;text-align:center;marg=
in:0 auto 45px" align=3D"center">
				Subtotal: $171.99<br>
				=

				Shipping: $7.95<br>
				=

				=

				Tax: $23.40<br>
                          	<b>Shipment Total: =

$203.34</b> =

			</p>
		</td>
	</tr>
</tbody>
</table>










<table align=3D"center" class=3D"m_2269405807096330191m_40580072434393418=
3smallest-table" style=3D"margin:0 auto;border-collapse:collapse;width:48=
0px;border:none">
<tbody>
<tr>
<td>
			<p class=3D"m_2269405807096330191m_405800724343934183smaller m_2269405=
807096330191m_405800724343934183center" style=3D"font-family:Helvetica,sa=
ns-serif;color:#222;font-size:15px;line-height:21px;text-align:center;mar=
gin:15px auto 30px" align=3D"center">Questions? US &amp; Canada =

customers call <a href=3D"tel:(800)%20282-2200" value=3D"+18002822200" ta=
rget=3D"_blank">(800) 282-2200</a>; UK customers call (0800) 988-7726 or =

email <a href=3D"mailto:service@urbanoutfitters.com" style=3D"font-family=
:Helvetica,sans-serif;color:#777777;text-decoration:underline" target=3D"=
_blank">service@<span class=3D"il">urbanoutfitters</span>.com</a>. Need t=
o make a return? <a href=3D"http://email.urbanoutfitters.com/a/hBY3yXAAwP=
--EB8ZUXuNsumEX.AwP--Eyj/exchanges" style=3D"font-family:Helvetica,sans-s=
erif;color:#777777;text-decoration:underline" target=3D"_blank" data-safe=
redirecturl=3D"https://www.google.com/url?hl=3Den&amp;q=3Dhttp://email.ur=
banoutfitters.com/a/hBY3yXAAwP--EB8ZUXuNsumEX.AwP--Eyj/exchanges&amp;sour=
ce=3Dgmail&amp;ust=3D1506029574202000&amp;usg=3DAFQjCNHEpqBdPTuKBkqEtkgH4=
3MLLu_EoA">Click here </a>for details.</p>
		</td>
	</tr>
<tr class=3D"m_2269405807096330191m_405800724343934183spacer" style=3D"he=
ight:30px"></tr>
</tbody>
</table>

<table align=3D"center" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" =
width=3D"640" bgcolor=3D"#f5f5f5"><tbody><tr>
<td>
<table align=3D"center" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" =
width=3D"640" bgcolor=3D"#f5f5f5"><tbody><tr>
<td height=3D"30px">
								=C2=A0
							</td>
						</tr></tbody></table>
<table align=3D"center" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" =
width=3D"640" bgcolor=3D"#f5f5f5"><tbody><tr>
<td width=3D"21%"></td>
							<td style=3D"text-align:center;letter-spacing:0.02em;font-family:H=
elvetica,sans-serif;font-weight:400;color:#000000;font-size:12px" align=3D=
"center">
								<a style=3D"color:#000000!important;text-decoration:none;font-fam=
ily:Helvetica,sans-serif" href=3D"http://www.urbanoutfitters.com/urban/ca=
talog/category.jsp?id=3DWOMENS&amp;cm_mmc=3D-_-shoptagw%23U" target=3D"_b=
lank" data-saferedirecturl=3D"https://www.google.com/url?hl=3Den&amp;q=3D=
http://www.urbanoutfitters.com/urban/catalog/category.jsp?id%3DWOMENS%26c=
m_mmc%3D-_-shoptagw%2523U&amp;source=3Dgmail&amp;ust=3D1506029574203000&a=
mp;usg=3DAFQjCNEzbmTouLV0Fm_Fxt0kkASNxvixMw">
									<font style=3D"color:#000000">Shop Women's</font></a>
							</td>

							<td width=3D"1.1%"></td>

							<td style=3D"text-align:center;letter-spacing:0.02em;font-family:H=
elvetica,sans-serif;font-weight:400;color:#000000;font-size:12px" align=3D=
"center">
								<a style=3D"color:#000000!important;text-decoration:none;font-fam=
ily:Helvetica,sans-serif" href=3D"http://www.urbanoutfitters.com/urban/ca=
talog/category.jsp?id=3DMENS&amp;cm_mmc=3D-_-shoptagm%23U" target=3D"_bla=
nk" data-saferedirecturl=3D"https://www.google.com/url?hl=3Den&amp;q=3Dht=
tp://www.urbanoutfitters.com/urban/catalog/category.jsp?id%3DMENS%26cm_mm=
c%3D-_-shoptagm%2523U&amp;source=3Dgmail&amp;ust=3D1506029574203000&amp;u=
sg=3DAFQjCNFhmDVCLNDFYphhTftmyQmVAFEXKg">
									<font style=3D"color:#000000">Shop Men's</font></a>
</td>

								<td width=3D"1.1%"></td>

								<td style=3D"text-align:center;letter-spacing:0.02em;font-family:=
Helvetica,sans-serif;font-weight:400;color:#000000;font-size:12px" align=3D=
"center">
									<a style=3D"color:#000000!important;text-decoration:none;font-fa=
mily:Helvetica,sans-serif" href=3D"http://www.urbanoutfitters.com/urban/c=
atalog/category.jsp?id=3DAPARTMENT&amp;cm_mmc=3D-_-shoptaga%23U" target=3D=
"_blank" data-saferedirecturl=3D"https://www.google.com/url?hl=3Den&amp;q=
=3Dhttp://www.urbanoutfitters.com/urban/catalog/category.jsp?id%3DAPARTME=
NT%26cm_mmc%3D-_-shoptaga%2523U&amp;source=3Dgmail&amp;ust=3D150602957420=
3000&amp;usg=3DAFQjCNGaeyVSvP6XXDfjgfW1SpdIS1xaOQ"><font style=3D"color:#=
000000">Shop Apartment</font></a>
</td>
									<td width=3D"21%"></td>
								</tr></tbody></table>
<table align=3D"center" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" =
width=3D"640" bgcolor=3D"#f5f5f5"><tbody><tr>
<td height=3D"60px">
										=C2=A0
									</td>
								</tr></tbody></table>
<table align=3D"center" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" =
width=3D"640" bgcolor=3D"#f5f5f5" style=3D"margin:0 auto"><tbody><tr>
<td width=3D"57px"></td>
									<td align=3D"center" width=3D"32px">
										<a href=3D"http://instagram.com/urbanoutfitters" style=3D"font-=
family:Helvetica,sans-serif;color:#777777;text-decoration:underline" targ=
et=3D"_blank" data-saferedirecturl=3D"https://www.google.com/url?hl=3Den&=
amp;q=3Dhttp://instagram.com/urbanoutfitters&amp;source=3Dgmail&amp;ust=3D=
1506029574203000&amp;usg=3DAFQjCNFGShFL45TgY9F2gDuJw1e3lhCSVg"><img style=
=3D"display:block" height=3D"32px" width=3D"32px" src=3D"https://ci6.goog=
leusercontent.com/proxy/QA_xg3Xve7RfnuftMP_6Wq8lUlEbbr8qg_T_GXX0-J2tAENmG=
1BZX0HNGCVOJ0a4YCgZQOIiLurmWGzIhZWy2k4-OES1ZOccp0KrUYmexjeFmiySWR_G5dftSA=
=3Ds0-d-e1-ft#http://www.urbanoutfitters.com/global/images/instagram_icon=
_email.png" border=3D"0" alt=3D"instagram" class=3D"CToWUd"></a>
									</td>
									<td align=3D"center" width=3D"32px">
										<a href=3D"http://pinterest.com/urbanoutfitters/" style=3D"font=
-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" tar=
get=3D"_blank" data-saferedirecturl=3D"https://www.google.com/url?hl=3Den=
&amp;q=3Dhttp://pinterest.com/urbanoutfitters/&amp;source=3Dgmail&amp;ust=
=3D1506029574203000&amp;usg=3DAFQjCNFbEI7yxvZqXMd-DbgofN0RhXzSpw"><img st=
yle=3D"display:block" height=3D"32px" width=3D"32px" src=3D"https://ci5.g=
oogleusercontent.com/proxy/Nh9ZcEoVSVVZtmkwSnW7bSkrCQgWcbpI-IPIFijgXAMDPG=
YZMB1AhtGYl5NLgIZBpegkiYzRN8Rq45kISsq3YSjUlZP0kbeVEYmHK87R2vnj=3Ds0-d-e1-=
ft#http://f.email.urbanoutfitters.com/s/24/809500612/2-pin.png" border=3D=
"0" alt=3D"pinterest" class=3D"CToWUd"></a>
									</td>
									<td align=3D"center" width=3D"32px">
										<a href=3D"https://www.facebook.com/urbanoutfitters" style=3D"f=
ont-family:Helvetica,sans-serif;color:#777777;text-decoration:underline" =
target=3D"_blank" data-saferedirecturl=3D"https://www.google.com/url?hl=3D=
en&amp;q=3Dhttps://www.facebook.com/urbanoutfitters&amp;source=3Dgmail&am=
p;ust=3D1506029574203000&amp;usg=3DAFQjCNFShIsPoZWnRVROSWHpRkhITDempw"><i=
mg style=3D"display:block" height=3D"32px" width=3D"32px" src=3D"https://=
ci6.googleusercontent.com/proxy/LDbACo3rlhj4nYsr9ClQcpbBHZ6iDaPdyn5I4Ds7c=
Qu5h32vSEnjPvnJsCs45uRHq7Gjpcy1ZKlHd8PZ_FcZhe8KhUpObi7jtxLHvWA8-oOYhQ=3Ds=
0-d-e1-ft#http://f.email.urbanoutfitters.com/s/24/809500612/3-face.png" b=
order=3D"0" alt=3D"facebook" class=3D"CToWUd"></a>
									</td>
									<td align=3D"center" width=3D"32px">
										<a href=3D"http://urbanoutfitters.tumblr.com/" style=3D"font-fa=
mily:Helvetica,sans-serif;color:#777777;text-decoration:underline" target=
=3D"_blank" data-saferedirecturl=3D"https://www.google.com/url?hl=3Den&am=
p;q=3Dhttp://urbanoutfitters.tumblr.com/&amp;source=3Dgmail&amp;ust=3D150=
6029574203000&amp;usg=3DAFQjCNFMxQJapN62TvCFxKdISTJD4mK6IA"><img style=3D=
"display:block" height=3D"32px" width=3D"32px" src=3D"https://ci4.googleu=
sercontent.com/proxy/pAj_4fTF4gEQgeNY--CkSVf-AwJDLrrOWcerH8sq1lPg7RycNvL2=
6P_CkX3jNkNBIld7PnNgH6vxgKMF-fP0to4Wn442p6g620_w5CH8IZxp2ElS=3Ds0-d-e1-ft=
#http://f.email.urbanoutfitters.com/s/24/809500612/4-tumblr.png" border=3D=
"0" alt=3D"tumblr" class=3D"CToWUd"></a>
									</td>
									<td align=3D"center" width=3D"32px">
										<a href=3D"https://twitter.com/UrbanOutfitters" style=3D"font-f=
amily:Helvetica,sans-serif;color:#777777;text-decoration:underline" targe=
t=3D"_blank" data-saferedirecturl=3D"https://www.google.com/url?hl=3Den&a=
mp;q=3Dhttps://twitter.com/UrbanOutfitters&amp;source=3Dgmail&amp;ust=3D1=
506029574203000&amp;usg=3DAFQjCNEOPyKjxDlI1cLA3N5VKRp-Q7jafg"><img style=3D=
"display:block" height=3D"32px" width=3D"32px" src=3D"https://ci6.googleu=
sercontent.com/proxy/jQaSHLFV0YiFgWf1di6usjoFXqtayw5ZEXfaZl1NlTRaymUK4t0C=
BQf56bUgvdQpmlYnIamhv5zc1conyjrRHVVcxgO7Ix4e7blN5P4hecWnQdAXZg=3Ds0-d-e1-=
ft#http://f.email.urbanoutfitters.com/s/24/809500612/5-twitter.png" borde=
r=3D"0" alt=3D"twitter" class=3D"CToWUd"></a>
									</td>
									<td align=3D"center" width=3D"32px">
										<a href=3D"http://www.youtube.com/user/uotv" style=3D"font-fami=
ly:Helvetica,sans-serif;color:#777777;text-decoration:underline" target=3D=
"_blank" data-saferedirecturl=3D"https://www.google.com/url?hl=3Den&amp;q=
=3Dhttp://www.youtube.com/user/uotv&amp;source=3Dgmail&amp;ust=3D15060295=
74203000&amp;usg=3DAFQjCNHsMVR8iZqIEZ6DakQLh_mAU8wt-w"><img style=3D"disp=
lay:block" height=3D"32px" width=3D"32px" src=3D"https://ci4.googleuserco=
ntent.com/proxy/7tSTqLSooxGSSxdemAhstkQIwUfViybPDtW3OkP0TIvtobFpzdavJD8jk=
YKWXSTHx_XslXEwlrdSZyY-jmVj-23y7Jy_e-L66vvzp9idr0Ouxw=3Ds0-d-e1-ft#http:/=
/f.email.urbanoutfitters.com/s/24/809500612/6-uotv.png" border=3D"0" alt=3D=
"youtube" class=3D"CToWUd"></a>
									</td>
									<td width=3D"57px"></td>
								</tr></tbody></table>
<table align=3D"center" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" =
width=3D"640" bgcolor=3D"#f5f5f5"><tbody><tr>
<td height=3D"60px">
										=C2=A0
									</td>
								</tr></tbody></table>
<table align=3D"center" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" =
width=3D"640" bgcolor=3D"#f5f5f5" style=3D"margin:0 auto"><tbody><tr>
<td width=3D"6%"></td>

									<td align=3D"center">
										<a href=3D"https://itunes.apple.com/us/app/uo/id358821736?mt=3D=
8" style=3D"font-family:Helvetica,sans-serif;color:#777777;text-decoratio=
n:underline" target=3D"_blank" data-saferedirecturl=3D"https://www.google=
.com/url?hl=3Den&amp;q=3Dhttps://itunes.apple.com/us/app/uo/id358821736?m=
t%3D8&amp;source=3Dgmail&amp;ust=3D1506029574203000&amp;usg=3DAFQjCNG-5OW=
D-uw2ijvDAvqCwOQ7zHnbVw"><img src=3D"https://ci3.googleusercontent.com/pr=
oxy/xCCN3txER-38iLbozCQVaeGnJqVLG5e5mp5kaIXbwaSOR5OSDc8hfLtbAwkXt2Y3kF0fB=
T4w5PGjhSzFUXE9cyteK7k6z3zIIEsjGUK7Z9XtNz3U=3Ds0-d-e1-ft#http://f.email.u=
rbanoutfitters.com/i/24/809500612/appstore.png" style=3D"display:block" h=
eight=3D"30px" width=3D"99px" alt=3D"Download on the =

App Store" class=3D"CToWUd"></a>
									</td>

									<td width=3D"1.5%"></td>

									<td align=3D"left">
										<a href=3D"http://play.google.com/store/apps/details?id=3Dcom.u=
rbanoutfitters.android" style=3D"font-family:Helvetica,sans-serif;color:#=
777777;text-decoration:underline" target=3D"_blank" data-saferedirecturl=3D=
"https://www.google.com/url?hl=3Den&amp;q=3Dhttp://play.google.com/store/=
apps/details?id%3Dcom.urbanoutfitters.android&amp;source=3Dgmail&amp;ust=3D=
1506029574203000&amp;usg=3DAFQjCNHbQqU68dQxP2jFgKVPA9s3tZm1Kg"><img src=3D=
"https://ci5.googleusercontent.com/proxy/uDSzBA1l0SRXavOdPpBcVnmmflpaBF_1=
ZNbXXT34APsQGXPkZ3CX1d-lvg7g-Gj1v-DYvK1g_h5JvawJQewcF6I2gcFQGR3cWN9NIGXoB=
45w19-bZ3wqqk9onkkr9gEG7XimmvSDiV-QTfBi0Uwf8axY1VEbkA=3Ds0-d-e1-ft#http:/=
/images.urbanoutfitters.com/is/image/UrbanOutfitters/160803-google-app-st=
ore?scl=3D1&amp;qlt=3D100" style=3D"display:block" height=3D"30px" width=3D=
"91px" alt=3D"Android App on =

Google Play" class=3D"CToWUd"></a>
									</td>

									<td width=3D"25px"></td>

									<td align=3D"left" style=3D"font-family:Helvetica,sans-serif;fon=
t-size:12px;color:#ffffff;font-weight:400;letter-spacing:0px">
										<a style=3D"color:#000000!important;text-decoration:none;font-f=
amily:Helvetica,sans-serif" href=3D"http://email.urbanoutfitters.com/a/hB=
Y3yXAAwP--EB8ZUXuNsumEX.AwP--Eyj/uorewards" target=3D"_blank" data-safere=
directurl=3D"https://www.google.com/url?hl=3Den&amp;q=3Dhttp://email.urba=
noutfitters.com/a/hBY3yXAAwP--EB8ZUXuNsumEX.AwP--Eyj/uorewards&amp;source=
=3Dgmail&amp;ust=3D1506029574203000&amp;usg=3DAFQjCNG43YcINVkQsUUaUWeZVjr=
Ikx7xAA">
											<font style=3D"color:#000000">UO Rewards</font></a>	=

									</td>

									<td width=3D"4%"></td>

									<td align=3D"left" style=3D"font-family:Helvetica,sans-serif;fon=
t-size:12px;color:#ffffff;font-weight:400;letter-spacing:0px">
										<a style=3D"color:#000000!important;text-decoration:none;font-f=
amily:Helvetica,sans-serif" href=3D"http://www.urbanoutfitters.com/urban/=
help/contactus.jsp?cm_mmc=3D-_-customers%23U" target=3D"_blank" data-safe=
redirecturl=3D"https://www.google.com/url?hl=3Den&amp;q=3Dhttp://www.urba=
noutfitters.com/urban/help/contactus.jsp?cm_mmc%3D-_-customers%2523U&amp;=
source=3Dgmail&amp;ust=3D1506029574203000&amp;usg=3DAFQjCNGm74TKr0Qr95LQE=
6UClMPQmwm4Ig">
											<font style=3D"color:#000000">Contact Us</font></a>
									</td>

									<td width=3D"4%"></td>

									<td align=3D"left" style=3D"font-family:Helvetica,sans-serif;fon=
t-size:12px;color:#ffffff;font-weight:400;letter-spacing:0px">
										<a style=3D"color:#000000!important;text-decoration:none;font-f=
amily:Helvetica,sans-serif" href=3D"http://www.urbanoutfitters.com/urban/=
stores/index.jsp?cm_mmc=3D-_-stores%23U" target=3D"_blank" data-saferedir=
ecturl=3D"https://www.google.com/url?hl=3Den&amp;q=3Dhttp://www.urbanoutf=
itters.com/urban/stores/index.jsp?cm_mmc%3D-_-stores%2523U&amp;source=3Dg=
mail&amp;ust=3D1506029574203000&amp;usg=3DAFQjCNHD7ciQXlTbii2w6-qxedA9irI=
bAA">
											<font style=3D"color:#000000">Find A Store</font></a>
									</td>

									<td width=3D"6%"></td>
								</tr></tbody></table>
<table align=3D"center" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" =
width=3D"640" bgcolor=3D"#f5f5f5"><tbody><tr>
<td height=3D"30px">
										=C2=A0
									</td>
								</tr></tbody></table>
</td>
					</tr></tbody></table>
<table><tbody><tr>
<td height=3D"15px">
							=C2=A0
						</td>
					</tr></tbody></table>
<table align=3D"center" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" =
width=3D"640"><tbody><tr>
<td width=3D"640" align=3D"center" style=3D"text-align:center;vertical-al=
ign:top;font-family:Helvetica,sans-serif;font-weight:400;color:#b4b4b4;fo=
nt-size:12px;line-height:19px;letter-spacing:0.5px" valign=3D"top">
							You are subscribed as <font style=3D"color:#b4b4b4"><a href=3D"mai=
lto:marielvandeloo@gmail.com" target=3D"_blank">marielvandeloo@gmail.com<=
/a></font><br><a style=3D"color:#b4b4b4!important;text-decoration:underli=
ne;font-family:Helvetica,sans-serif" href=3D"http://www.urbanoutfitters.c=
om/urban/signup/emailunsubscribe.jsp?cm_mmc=3D-_-subscribe%23U" target=3D=
"_blank" data-saferedirecturl=3D"https://www.google.com/url?hl=3Den&amp;q=
=3Dhttp://www.urbanoutfitters.com/urban/signup/emailunsubscribe.jsp?cm_mm=
c%3D-_-subscribe%2523U&amp;source=3Dgmail&amp;ust=3D1506029574203000&amp;=
usg=3DAFQjCNFOXJmq4kGyphrnu0bk5Y510hD-qA"><font style=3D"color:#b4b4b4">C=
lick =

								here</font></a> to unsubscribe from our mailing list.
								<p style=3D"margin-top:18px">
									<span class=3D"il">UrbanOutfitters</span>.com complies with the =
Can-Spam Act of 2003.<br>
									Your privacy is important to us, <a style=3D"color:#b4b4b4!impor=
tant;text-decoration:underline;font-family:Helvetica,sans-serif" href=3D"=
http://www.urbanoutfitters.com/urban/help/contactus.jsp?cm_mmc=3D-_-priva=
cy%23U" target=3D"_blank" data-saferedirecturl=3D"https://www.google.com/=
url?hl=3Den&amp;q=3Dhttp://www.urbanoutfitters.com/urban/help/contactus.j=
sp?cm_mmc%3D-_-privacy%2523U&amp;source=3Dgmail&amp;ust=3D150602957420300=
0&amp;usg=3DAFQjCNG6Nt4KiRbaeaJwENyZL6gWPKvcEQ"><font style=3D"color:#b4b=
4b4">click</font></a> to view our privacy policy:
									<br><span class=3D"il">UrbanOutfitters</span>.com,
									4010 Rose Lane, Augusta, GA 30907
								</p>								=

							</td>
						</tr></tbody></table>
<table><tbody><tr>
<td height=3D"8">
								=C2=A0
							</td>
						</tr></tbody></table>
<table align=3D"center" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" =
width=3D"640"><tbody><tr>
<td style=3D"text-align:center;font-family:Helvetica,sans-serif;font-weig=
ht:400;color:#b4b4b4;font-size:12px;line-height:19px;letter-spacing:0.5px=
" align=3D"center">
								Free Standard shipping and $4.95 shipping apply to orders shipped=
 =

to the US.<br>
Please note: Some oversize items may require an additional shipping =

charge.<br>
Free returns and exchanges are only available for orders shipped within =

the US.
							</td>
						</tr></tbody></table>
<table><tbody><tr>
<td height=3D"8">
								=C2=A0
							</td>
						</tr></tbody></table>
<table align=3D"center" border=3D"0" cellpadding=3D"0" cellspacing=3D"0" =
width=3D"640"><tbody><tr>
<td style=3D"text-align:center;font-family:Helvetica,sans-serif;font-weig=
ht:400;color:#b4b4b4;font-size:12px;line-height:19px;letter-spacing:0.5px=
" align=3D"center">
								=C2=A9 2016 <span class=3D"il">UrbanOutfitters</span>.com All Rig=
hts Reserved
							</td>
						</tr></tbody></table>
<div style=3D"display:none;white-space:nowrap;color:#ffffff;font:15px cou=
rier">
						- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
					</div>
<div class=3D"yj6qo"></div>
<div class=3D"adL">

</div>
</div>
<div class=3D"adL">
</div>
</div>
<div class=3D"adL"><br></div>
</div>
<div class=3D"adL">
</div></body></html></body></html>

  </body>
</html>